{% extends "club/club_base.html" %}
{% load members_extras %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-push-3">
      <form action="." method="post">
        <br/>
        {% if form.errors %}
          <p class="alert alert-danger">
            {% if form.errors.items|length == 1 %}Please correct the error below.
            {% else %}Please correct the errors below.{% endif %}
          </p>
        {% endif %}
        <div class="well" >
          <h3 class="text-center">Change password</h3>
          For security, please enter your old password and then
          enter your new password twice so we can verify you typed it in correctly.
          <br/><br/>
          {% crispy form %}
        </div>
        <input type="hidden" name="next" value="/club/" />
        <div class="form-actions">
          <input type="submit" class="btn btn-success" value="Change my password" />
          &nbsp<a href="{% url "public-home" %}" class="btn btn-default">Back</a>
        </div>
      </form>
    </div>
  </div>


{% endblock %}