{% extends 'club/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{{ form.media }}
{% block content %}
  {% if title %}<h3 class="text-center">{{ title }}</h3>{% endif %}
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
      <form method="POST" novalidate="">
        <div class="card my-2">
          {% if form_title %}
            <h4 class="card-header card-title bg-success text-white mb-3" >{{ form_title }}</h4>
            {% else %}
            <br>
          {% endif %}
          <div class="card-body pt-0">
            {% if messages %}
              {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}"{% endif %}>{{ message }}</div>
              {% endfor %}
            {% endif %}
            {% if info %}
              <p>{{ info }}</p>
            {%  endif %}
            {%  if form.errors %}
              <div class="text-danger">
                <strong>Please correct the errors in red below:</strong>
              </div>
            {% endif %}
            {% crispy form %}
            <p>Billed: {{ object.billed }}</p>
            {% if tournament %}
              <p>
                {% if active_events %}
                  {{ active_events }} events are active,
                {%  else %}
                  No active events, {% endif %}
                {% if inactive_events %}
                  {{ inactive_events }} events are inactive
                {%  else %}
                  No inactive events{% endif %}
              </p>
            {% endif  %}
            {% for button in link_buttons %}
              {% include '_button.html' %}
            {% endfor %}
          </div>
          <div class="card-footer">
            {% for button in buttons %}
              {% include '_button.html' %}
            {% endfor %}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}