{% extends 'club/base.html' %}
{% load static %}
{% block content %}
  <h4>{{ event.name }}</h4>
  <form method="post"> {% csrf_token %}
      <input name="partner_id" id="partner_id" type="hidden" value="">
      {% if entered %}
        <p>You have entered this tournament{% if with_partner %} with {{ partner_name }} {% endif %}.</p>
        <input type="submit" name="remove" class="btn btn-success" value="Cancel entry">
      {% else %}
        <p class="text-danger">{{ error }}</p>
        {% if with_partner %}
          <p>Partner: <span id="partner_name"></span></p>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#partnerModal">
            Select partner
          </button>
        {% endif %}
          <input type="submit" name="add" class="btn btn-success" value="Enter tournament">
      {% endif %}
    {% if request.user.is_staff %}
      <a href = "{% url 'events:update' pk=event.pk %}" class="btn btn-warning">Update event</a>
    {% endif %}
  </form>

  <h5>Entrants</h5>
  {% if participants.count == 0 %}
  There are no entrants for this event. Be the first!
  {% else %}
    <ul>
      {% for p in participants %}
        <li>
        {{ p.person.fullname }}
        {% if with_partner %}{% if p.partner.fullname %} & {{ p.partner.fullname }}{% endif %}{% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}



  <div class="modal" tabindex="-1" role="dialog" id="partnerModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select your partner</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Search for partner by entering first name, last name or a bit of both separated by space</p>
        <input type="text" class="form-control typeahead tt-query" id = "member_search"
               autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
<script src= {% static 'js/typeahead.bundle.js' %}></script>
    <script src="{% static 'pos/js/pos-typeahead.js' %}"></script>
<script>
  $(document).ready(function () {
    bind_typeahead('#member_search', go, true);
    $('.typeahead').typeahead('val', '');
  });
  function go(person) {
      $('#partner_id').val(person.id);
      $('#partner_name').text(person.value);
  }
</script>
{% endblock %}