{% extends 'club/base.html' %}
{% load static %}
{% block content %}
  <h4 class="py-3">Events administration</h4>
  {% include "members/_messages.html" %}
<form method="post">{% csrf_token %}
  <ul class="list-group">
  {% for event in event_list %}
    <li class="list-group-item">
      <a href="{% url 'events:update' pk=event.id %}" class="btn btn-sm btn-outline-danger">Edit</a>
      <a href="{% url 'events:participant_list' pk=event.id %}" class="btn btn-sm btn-outline-success">Participants</a>
      <button type="submit" name="download" class="btn btn-sm btn-outline-success" value="{{ event.id }}">
        Download participants
      </button>
      {{ event.billed }}
      <b>{{ event.name }}</b>
      {% if event.online_entry %} Entries allowed {% endif %}
      <span class="float-right">{{ event.tournament.name }}</span></li>
  {% endfor %}
</ul>
</form>
  <a href="{% url 'events:create' %}" class="my-2 btn btn-success">Create event</a>
{% endblock %}