{% extends 'club/base.html' %}
{% load static %}
{% block content %}
  <h4 class="py-3">Tournaments admin</h4>
  {% include "members/_messages.html" %}
  <form method="post">{% csrf_token %}
    <ul class="list-group">
      {% for tour in tournament_list %}
        <li class="list-group-item list-group-action-item">{{ tour.name }}
          <a href="{% url 'events:tournament_detail' pk=tour.id %}" class="btn btn-sm btn-outline-success">View events</a>
          <a href="{% url 'events:tournament_update' pk=tour.id %}" class="btn btn-sm btn-outline-danger">Update</a>
          <button type="submit" name="download" class="btn btn-sm btn-outline-success" value="{{ tour.id }}">
            Download participants
         </button>
        </li>
      {% endfor %}
    </ul>
  </form>
  <a href="{% url 'events:tournament_create' %}" class=" my-2 btn btn-success">Create tournament</a>
{% endblock %}