<div class="container bg page" id="pageMenu" hidden>
  <div class="row">
    <h2 class="text-center personName"></h2>

    <div class="col-md-4 col-md-push-4 text-center">
      {% if messages %}
        {% for message in messages %}
          <h4>{{ message }}</h4>
        {% endfor %}
      {% endif %}
      <br>
      <p><button id="menuPurchase" class="btn btn-success btn-lg btn-block stop-timer touch">Make a purchase</button></p>
      <p><button id="menuTransactions" class="btn btn-success btn-lg btn-block stop-timer touch">View my account</button></p>
      <p><button id="menuLogOut" class="btn btn-success btn-lg btn-block stop-timer">Log out</button></p>
      <div id="menuAdmin">
        <p><a href="{% url 'pos_admin' %}" class="btn btn-warning btn-lg btn-block stop-timer">POS admin</a></p>
        <p><a href="{% url 'pos_transactions' %}" class="btn btn-warning btn-lg btn-block stop-timer">All transactions</a></p>
        <p><a href="{% url 'pos_member' %}" class="btn btn-warning btn-lg btn-block stop-timer">Transactions for member</a></p>
        <form method="post">{% csrf_token %}
          {% if attended %}
            <input class="btn btn-danger btn-lg btn-block stop-timer" type="submit" name="attended_off" value="Disable attended mode">
          {%  else %}
            <input class="btn btn-warning btn-lg btn-block stop-timer" type="submit" name="attended_on" value="Enable attended mode">
          {%  endif %}
        </form>
      </div>
      <br><br>
        <h3 id="menuLastTransaction"></h3>
    </div>
  </div>
</div>
