<!-- Get password page-->

<div class="container bg page" id="pagePassword" hidden>
  <div class="row">
    <h2 class="text-center personName"></h2>
  </div>
  <br/>

  <form id="idPasswordForm">
    <input type="hidden" class="personId" name="person_id" value="">
    <div class="row">
      <div class="col-md-2">
        <button type="button" class="btn btn-success btn-lg btn-block stop-timer" id="passwordBack">Back</button>
      </div>
      <h4 class="col-md-3 ipad-prompt"> PIN:</h4>
      <div class="col-md-2">
          <div class="input-group input-group-lg"  style="width: 100%!important;">
            <input id='passwordPin' type="tel"  class="form-control timeout masked" name="pin" pattern="[0-9]*" value="" spellcheck="false"
                   maxlength="8">
          </div>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-2">
        <button type="button" class="btn btn-success btn-lg btn-block stop-timer" id="passwordSubmit">Go</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3 ipad-prompt"> Or password:</div>
      <div class="col-md-2">
        <div class="input-group input-group-lg" style="width: 100%!important;">
          <input id="passwordInput" type="password" class="form-control" name="password" value="" spellcheck="false" maxlength="50">
          </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <button id="passwordReset" class="btn btn-warning btn-lg btn-block btn-default stop-timer">Reset PIN</button>
      </div>
    </div>
  </form>
</div>