<div class="container bg page" id="pageSelectMember">
  <h2 class="text-center">Select member</h2>

  <br/>
  <div class="row">
    <div class="col-md-2">
      <a href="{% url 'pos_start' %}" class="btn btn-success btn-lg btn-block">Back</a>
    </div>
    <div class="col-md-3 ipad-prompt"> Select member:</div>
    <div class="col-md-3 input-group input-group-lg">
      <input type="text" class="form-control typeahead timeout" maxlength="15"
             id = "selectNameInput" autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off">
    </div>
  </div>
</div>
