<div id="pageStart" class="page">
  <div class="container">
    <div class="text-center bg {% if is_bar %}jumbotron{% endif %}">
      <h1 class="text-center"><strong>
        {% if is_bar %}Honesty Bar{% else %}Online Member Services{% endif %}</strong></h1>
      <br>
      <div id="idOnlineMessage"> <!-- division is hidden if ping fails -->
        <div class="row text-center">
          <p class="ipad-error">{{ request.session.message }}</p>
          {% if is_bar %}
            <button class="posbutton btn-success btn-large btn-block app-layout" type="button" value="{{ bar_app.layout_id }}">Member login</button>
            <br><br>
            <button type="button" id="startAttended" value="{{ bar_app.layout.id }}" class="btn btn-success posbutton btn-large" >Attended mode</button>
            <br><br>
            <button class="posbutton btn-success btn-help timeout" data-toggle="modal" data-target="#help-start-modal">Help</button>
          {% else %}
            <div class="row">
              <div class="col-md-4">
                {% for app in apps %}
                  {% if app.event %}
                    {% if app.event.active%}
                    <input type="image" value="{{ app.event.id }}" name="{{ app.name }}" src="{{ app.event.image.url }}" class="img-responsive online">
                    <h3 class="online">Touch the picture to book</h3>
                      {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-6 text-center">
                    <button class="posbutton btn-success btn-large btn-block app-layout" type="button" value="{{ teas_app.layout_id }}">{{ teas_app.name }}</button>
                  </div>
                  <div class="col-md-6">
                    <p class="hint online">{{ teas_app.description }}</p>
                  </div>
                </div>
                <br>
                {% for app in apps %}
                  {% if not app.event %}
                    <div class="row">
                      <div class="col-md-6 text-center">
                        <button class="posbutton btn-success btn-large btn-block app-view online" type="button"
                                value="{{ app.view_name}}" data-juniors="{%  if app.allow_juniors %}true{% else %}false{% endif %}">{{ app.name }}</button>
                      </div>
                      <div class="col-md-6">
                        <p class="hint online">{{ app.description }}</p>
                      </div>
                    </div>
                    <br>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="ticker-wrap">
    <div class="ticker">
      {% for ticker in tickers %}
        <div class="ticker__item">{{ ticker.message }}</div>
      {% endfor %}
    </div>
  </div>
</div>
  <!-- Modal for help -->
<div id="help-start-modal" class="modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body hint">
        <p> This system lets you charge purchases to your club account.<p>
        <p> Adult members who have paid their subscription can use this system - you need the PIN that you set when you registered. </p>
        <p> If you have not registered or have forgotten your PIN, you can quickly set a PIN now.</p>
        <p> Login by searching for your name and follow the instructions.</p>
        <p class="text-center"><button class="btn btn-lg btn-success timed" data-dismiss="modal">Close help</button></p>
      </div>
    </div>
  </div>
</div>
