<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="pt-2">POS Transaction Detail</h3>
      <p>Created by {{ transaction.person.fullname }}</p>
      <p>{{ transaction.creation_date }}</p>
      <p>Id: {{  transaction.id }}</p>
      <table class="table table-sm table-borderless with-border" style="background: white">
        {% for lineitem in items %}
          <tr><td>{{ lineitem.quantity }}</td><td>{{ lineitem.item.description }}</td><td>£ {{ lineitem.sale_price }}</td></tr>
        {% endfor %}
        <tr><td></td><td><strong>Total:</strong></td><td><strong>£ {{ transaction.total }}</strong></td></tr>
      </table>
    {% if payments %}
    <h4>Split payments</h4>
      <table class="table table-sm table-borderless with-border" style="background: white">
        {% for payment in payments %}
          <tr><td>{{ payment.person.fullname }}</td><td>£ {{ payment.total }}</td></tr>
        {% endfor %}
      </table>
    {% endif %}
    </div>
  </div>
  <p>This transaction has {% if not payment.0.billed %}not yet{% endif %} been invoiced.</p>
    <button id="back1" class="btn btn-primary" onclick="parent.history.back()">Back</button>

</div>