{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="jumbotron">
  <h1>Point Of Sale Administration</h1>
  <form method="post">{% csrf_token %}
    <br><br>
    <input class="btn btn-success" type="submit" name="start" value="Start POS">

    {%  if request.session.attended_allowed%}
      <input class="btn btn-warning" type="submit" name="attended_off" value="Disable attended mode">
    {%  else %}
      <input class="btn btn-success" type="submit" name="attended_on" value="Enable attended mode">
    {%  endif %}
      <a href="{% url 'pos_transactions_main' %}" class="btn btn-success">Review POS transactions</a>

    <br><br>
  {% if pings %}
    <div class="row">
      <div class="col-md-2">
        <p>Terminal</p>
      </div>
      <div class="col-md-2">
        <p>Last ping</p>
      </div>
    </div>
    {% for ping in pings %}
      <div class="row">
        <div class="col-md-2">
          <p>{{ ping.terminal }}</p>
        </div>
        <div class="col-md-3">
          <p>{{ ping.time }}</p>
        </div>
      </div>
    {% endfor %}
    <input class="btn btn-warning" type="submit" name="clear" value="Clear list">
  {%  else %}
    <p>No pings from terminals</p>
  {% endif %}
  </form>
      <h2>Management Menu</h2><br/>
      <a href="{% url 'pos_app_list' %}" class="btn btn-primary">POS applications</a>
      <a href="{% url 'pos_item_list' %}" class="btn btn-primary">POS items</a>
      <a href="{% url 'pos_layout_list' %}" class="btn btn-primary">POS layouts</a>
      <a href="{% url 'pos_colour_list' %}" class="btn btn-primary">POS button colours</a>
      <a href="{% url 'pos_ticker_list' %}" class="btn btn-primary">POS ticker messages</a>
      <a href="{% url 'pos_data_entry' %}" class="btn btn-primary">Create transaction</a>
      <a href="{% url 'home' %}" class="btn btn-info">Exit</a>
  </div>
</div>

{% endblock %}