{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="jumbotron">
  <h1>Point Of Sale Administration</h1>
  <form method="post">{% csrf_token %}
<br><br>
        <input class="btn btn-success" type="submit" name="start" value="Start POS">

      {%  if request.session.attended_allowed%}
        <input class="btn btn-warning" type="submit" name="attended_off" value="Disable attended mode">
      {%  else %}
        <input class="btn btn-success" type="submit" name="attended_on" value="Enable attended mode">
      {%  endif %}
        <a href="{% url 'pos_transactions_main' %}" class="btn btn-success">Review POS transactions</a>
  </form>
  </div>

    <div class="jumbotron">
      <h3>Management menu</h3><br/>
      <a href="{% url 'pos_item_list' %}" class="btn btn-info">Manage POS items</a>
      <a href="{% url 'pos_layout_list' %}" class="btn btn-info">Manage POS layouts</a>
      <a href="{% url 'pos_colour_list' %}" class="btn btn-info">Manage button colours</a>

      <a href="{% url 'home' %}" class="btn btn-info">Exit</a>
    </div>

</div>

{% endblock %}