{% extends 'pos/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
  <h2 class="text-center">Consent</h2>
  <h4 class="text-center">Data protection regulations mean that we need your explicit consent for the points below.</h4>
  <form method="POST" novalidate>{% csrf_token %}
    <div class="row justify-content-center" >
      <div class="col-md-8 col-md-offset-2">
        {%  include 'public/_club_email_consent.html' %}
        {%  include 'public/_members_database.html' %}
      </div>
    </div>
    <br>
    <div class="row>">
      <div class="col-md-8 col-md-offset-2">
            <input type="submit" name="submit" value="Finish registration" class="btn-success btn-lg">
      </div>
    </div>
  </form>
{% endblock content %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      startTimer({{ timeout }}, "{{ timeout_url }}");
    });
  </script>
{% endblock %}