{% extends 'pos/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block head %}
  <link rel="stylesheet" href="{% static 'pos/css/pos.css' %}">
{% endblock %}
{% block content %}
  <h2 class="text-center">Consent</h2>
  <h4 class="text-center">New data protection regulations mean that we need your explicit consent for the points below.</h4>
  <div class="row justify-content-center">
    <div class="col-md-8 col-md-offset-2">
      <form method="POST" novalidate>
        {% csrf_token %}
        <div class="well">
          {%  include 'public/_club_email_consent.html' %}
          {%  include 'public/_members_database.html' %}
        </div>
        <input type="submit" name="submit" value="Continue" class="btn-success btn-lg">
      </form>
      <br/>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      startTimer({{ timeout }}, "{{ timeout_url }}");
    });
  </script>
{% endblock %}