{% extends "pos/base_bs4.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
  <link rel="stylesheet" type="text/css"  href="{% static 'public/css/public.css' %}">
{% endblock %}
{% block content %}
  <div class="container">
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}
        {% endif %}"{% endif %}>{{ message }}</div>
    {% endfor %}
    <h2 class="pt-2">{{ title }}</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            {% if form.errors %}
              <div class="invalid-feedback">Please correct the errors below.</div>
            {% endif %}
            {% crispy form %}

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  <script src= {% static 'js/typeahead.bundle.js' %}></script>
  <script src="{% static 'pos/js/pos-typeahead.js' %}"></script>
  <script>
    $(document).ready(function () {
      bind_typeahead('#id_member_search', function(person){
         $('#id_person_id').val(person.id);
      });
      $('#id_member_search').focus();
      $('#id_visitors').change(function() {
          var sel = $('select[name=visitors]').val();
          if (sel === "0"){
              $('#div_id_first_name').show();
              $('#div_id_last_name').show();
              $('#div_id_junior').show();
          }else{
              $('#div_id_first_name').hide();
              $('#div_id_last_name').hide();
              $('#div_id_junior').hide();
          }
      });

    });
  </script>
{% endblock %}