{% extends 'pos/base.html' %}
{% load staticfiles %}
{% block content %}
  {%  include '_logo_banner.html' %}
  <div class="container bg">
      <div class="row">
        <h2 class="text-center"><b>{{ request.session.app.name }}</b></h2>
        <h2 class="text-center">{{ full_name }}</h2>
      </div>
      <br/>
      <form role="form" method="POST" >{% csrf_token %}
        <div class="row">
          <div class="col-md-2">
            <a href="{{ timeout_url }}" class="btn btn-success btn-lg btn-block">Back</a>
          </div>
          <h4 class="col-md-3 ipad-prompt">Date of Birth</h4>
          <div class="col-md-5">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" name="dob" placeholder="DD/MM/YY" maxlength="10" autofocus>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <input type="submit" class="btb btn-success btn-lg btn-block stop-timer" name="submit" value="Go">
          </div>
        </div>
      </form>
    <br>
      <div class="text-center hint">
        <p>Confirm your date of birth to add an entry to the visitor book</p>
      </div>
  </div>

{% endblock content %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      timingCode.startTimer({{ timeout }}, "{{ timeout_url }}");
    });
  </script>
{% endblock %}
