{% extends 'pos/base.html' %}
{% load staticfiles %}
{% block content %}
  {%  include '_logo_banner.html' %}
<div class="container bg">
  <h1 class="text-center">Member login</h1>

  <br/>
  <div class="row">
    <div class="col-md-2">
      <a href="{% url 'pos_start' %}" class="btn btn-success btn-lg btn-block">Back</a>
    </div>
    <div class="col-md-3 prompt"> Search for name:</div>
    <form id="form_member" role="form" method="POST" >{% csrf_token %}
      <div class="col-md-3 input-group input-group-lg">
        <input type="text" class="form-control typeahead tt-query timed bsfix"
               id = "search_id" autocomplete="on" spellcheck="false">
      </div>
      <input name="person_id" id="person_id" type="hidden" value="">
                <input type="submit" class="button" id ="submit_id"
             style="display: none" name="login" value="">
    </form>
  </div>
  <br>
  <div class="hint">
    Enter 1 or more characters of your first name, space, then a few characters of your last name.
    <br>
    Case does not matter. Tap your name when it appears in the list.
    <br>
    E.g. <strong>j smi</strong> would select <strong>John Smith</strong>
  </div>
</div>

{% endblock content %}
{% block scripts %}
{#  <script src=https://twitter.github.com/typeahead.js/releases/latest/typeahead.bundle.min.js></script>#}
  <script src= {% static 'js/typeahead.bundle.js' %}></script>
  <script src="{% static 'pos/js/pos-typeahead.js' %}"></script>
  <script>
    $(document).ready(function () {
      bind_typeahead('#search_id', go, true);
      $('.typeahead').typeahead('val', '');
      startTimer({{ timeout }}, "{{ timeout_url }}");
    });
    function go(person) {
        $('#person_id').val(person.id);
        $('#submit_id').trigger('click');
        $('.typeahead').typeahead('val', '');
    }
  </script>
{% endblock %}


