{% extends 'pos/base.html' %}
{% load staticfiles %}
{% block content %}
  {%  include '_logo_banner.html' %}
  <div class="container bg">
      <div class="row">
        <h2 class="text-center"> {{ request.session.app }}</h2>
        <h2 class="text-center">{{ full_name }}</h2>
      </div>
      <br/>
      <form role="form" method="POST" >{% csrf_token %}
        <div class="row">
          <div class="col-md-2">
            <a href="{% url 'pos_start' %}" class="btn btn-success btn-lg btn-block">Back</a>
          </div>
          <h4 class="col-md-3 ipad-prompt"> PIN:</h4>
          <div class="col-md-5">
            <div class="input-group input-group-lg">
              <input type="password" class="form-control" name="pin" pattern="[0-9]*" value="" spellcheck="false"
                     maxlength="8" autofocus>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <input type="submit" class="btb btn-success btn-lg btn-block stop-timer" name="submit" value="Go">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-2"></div>
        <div class="col-md-3 ipad-prompt"> Or password:</div>
        <div class="col-md-5">
          <div class="input-group input-group-lg">
            <input type="password" class="form-control" name="password" value="" spellcheck="false" maxlength="50">
            </div>
        </div>
      </div>
      </form>
    <br>
        <div class="text-center hint">
          Enter your PIN or the password you created when you registered.
        </div>
    </div>

{% endblock content %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      timingCode.startTimer({{ timeout }}, "{{ timeout_url }}");
    });
  </script>
{% endblock %}


