{% extends 'pos/base.html' %}
{% load staticfiles %}
{% block content %}


<div class="container">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">CWLTC POS</a>
      </div>
      {% if user.is_authenticated %}
        <div class="navbar-collapse collapse">
        <!-- Left nav -->
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Select</a>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'transactions' %}">All transactions</a></li>
                  <li><a href="{% url 'home' %}">Exit POS</a></li>
              </ul>
            </li>
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="container">
 <h1>&nbsp</h1>
    <form method="POST">
      <h1>TEA and VISITORS </h1>
      <p></p>
	    <h2>Select member</h2>
      <p></p>
      <input type="text" class="typeahead tt-query" autocomplete="off" spellcheck="false">  
      <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}"/>
      <input name="person_id" id="person_id" type="hidden" value="" />
      <p>&nbsp</p><p>&nbsp</p><p>&nbsp</p>
      <input type="submit" class="button btn-primary btn-lg" name="login" value="Login member">
    </form>

</div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript">
  $(document).ready(function () {
      $('#id_login').hide();

      // constructs the suggestion engine
      var people = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.whitespace,
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          remote: {
              url: '/ajax/people/?term=%QUERY',
              wildcard: '%QUERY'
          }
      });
      var selectedid = 0
      // Initializing the typeahead with remote dataset
      $('.typeahead').typeahead({
          minLength: 3,
          hint: true,
          highlight: true},
          {
          name: 'people',
          displayKey: "value",
          source: people.ttAdapter(),
          limit: 10
      });
      $('.typeahead').bind('typeahead:select', function (event, item) {
          console.log("select");
          $('#person_id').val(item.id);
          $('#id_login').show();
          return item
      });
      $('.typeahead').bind('typeahead:change', function (event, item) {
          //$('#person_id').val(item.id);
          //$('#person_name').text(item.value);
          //selectedid = item.id;
          console.log("change", selectedid);
          if (selectedid != 0){
          }
      });
      $('.typeahead').bind('typeahead:autocomplete', function (event, item) {
          $('#person_id').val(item.id);
          $('#id_login').show();
          console.log("autocomplete");
      });

    });
</script>
{% endblock %}


