{% extends 'pos/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-2" text-align="center">
        <img src="{% static "/images/CWLTC logo small.png" %}"/>
        <br/>
        <br/>
        <p><a href="{% url 'home' %}" class="btn btn-primary btn-md btn-block">Exit</a></p>
      </div>
      <div class="col-md-5">
        <form id="form_member" role="form" method="POST" >
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">Member login</span>
            <input type="text" class="form-control typeahead tt-query" id = "search_id" aria-describedby="sizing-addon1"
                    autocomplete="on" spellcheck="false"> 
          </div>
          <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}"/>
          <input name="person_id" id="person_id" type="hidden" value="" />      
          <input type="submit" class="button" id ="submit_id" style="display: none" name="login" value="Login">
        </form>
      </div>
      <div class="col-md-5">
  Enter a few characters of your first name,  a space, then a few characters of your last name.<br/>
  E.g. <strong>j smi</strong> would select <strong>John Smith</strong>.
  If there is more than one match, click your name in the list that appears.
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/person_typeahead.js' %}"></script>
<script>
$(document).ready(function () {
  bind_typeahead('#search_id', '#person_id','#submit_id')
});
</script>
{% endblock %}


