<!-- Used by template tag -->
{% if field.is_hidden %}
  <input type="hidden" name="{{ field.name }}"
          {% if field.value %}value="{{ field.value }}"{% endif %}>
{% else %}
  <div class="row">
    <div class="col-md-4 prompt">{{ field.label }}:</div>
    <div class="col-md-4 input-group-lg">
      <input type="{{ field.field.widget.input_type }}" class="form-control timed"
             name="{{ field.name }}"
          {% if field.value %}value="{{ field.value }}"{% endif %}
          {% if field.field.required %} required {% endif %}
          {% if field.field.max_length %} maxlength="{{ field.field.max_length }}"{% endif %}
          {% if field.field.min_length %} minlength="{{ field.field.min_length }}"{% endif %}>
      {% if field.errors %}
        {% for error in field.errors %}
          <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-md-4">{{ field.help_text }}</div>
  </div>
{% endif %}