{% extends 'base_new.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'pos/css/pos.css' %}">
{% endblock %}
{% block content %}
<div class="container bg-light">
  <form method="post" id="form-main">
    {% csrf_token %}
    <div class="row">
      <h4 class="col col-md-3">Layout: {{ layout.name }}</h4>
      <h4 class="col col-md-3">Item type: {{ layout.item_type }}</h4>
      <h4 class="col col-md-3">Id: {{ layout.id }}</h4>
    </div>
  <hr>
    <div class="row">
      <div class="col col-md-8">
        {% for row in rows %}
            {% for loc in row %}
              {%  if loc.1 == 0 %}
                <input name="id:{{ loc.0 }}:{{ loc.1 }}" type="text" value="{{ loc.2 }}"
                         id="id:{{ loc.0 }}:{{ loc.1 }}">
                <div class="row">
              {% else %}
                <div class="col col-md-2">

                  <input name="id:{{ loc.0 }}:{{ loc.1 }}" type="text" value="{{ loc.2 }}"
                         id="id:{{ loc.0 }}:{{ loc.1 }}" readonly="readonly"
                         {% if loc.2 %}
                         class="posbutton layout"
                         draggable="true"
                         {% else %}
                         class="posbutton layout-empty"
                         {%  endif %}
{#                         style="background-color: {{ loc.2.colour.back_colour }};#}
{#                                color: {{ loc.2.colour.fore_colour }};"#}
                         ondragstart="drag(event)"
                         ondrop="drop(event)"
                         ondragover="allowDrop(event)">
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <br />
        {% endfor %}
      </div>
      <div class="col col-md-4">
        <div class="well" id="well" ondrop="drop(event)" ondragover="allowDrop(event)">
        <h4 class="text-center">Available items</h4>
        <div class="row">
        {% for item in items %}
           <div class = "col-md-6">
             <div id="item:{{ item.button_text }}" ondragstart="drag(event)" draggable="true"
              {% if item.used %}
                 class="btn btn-block btn-sm btn-default"
              {% else %}
                 class="btn btn-block btn-sm btn-success"
{#              style="background-color: {{ item.colour.back_colour }};#}
{#                  color: {{ item.colour.fore_colour }};"#}
              {% endif %}>
              {{ item.button_text }}
           </div>
         </div>
        {% endfor %}
        </div>
          <div class="col-md-12"></div>
            <p class="bin" id="bin" ondrop="drop(event)" ondragover="allowDrop(event)">Drag an item here to return it to the list</p>
          </div>
      </div>
    </div>

    <input type="hidden" name="filename" id="filename">
    <input type="hidden" name="save_as" id="save_as" value="">
    <input type="submit" class="btn btn-primary" name="save" value="Save">
    <button type="button" class="btn btn-info " data-toggle="modal" data-target="#saveAsModal">Save as</button>
    <input type="submit" class="btn btn-danger"  name="delete" value="Delete">
    <input type="submit" class="btn btn-default" name="cancel" value="Cancel">
  </form>
<br>
  <!-- Modal for Save as dialog -->
  <div class="modal fade" id="saveAsModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Save layout with new name</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Layout name</label>
            <input type="text" class="form-control" id="modal_name" placeholder="Enter layout name">
          </div>
        </div>
        <div class="modal-footer">
          <button id="submitBtn" class="btn btn-primary" data-dismiss="modal">Save as</button>
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block scripts %}
  <script src="{% static 'pos/js/layout_form.js' %}"></script>
  <script>
  $(document).ready(function(){
     $('#submitBtn').click(function() {
         $('#filename').val($('#modal_name').val());
         $('#save_as').val("save_as");
         $('#form-main').submit();
     });
  });
  </script>
{% endblock %}

