{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'pos/css/pos.css' %}">
{% endblock %}
{% block content %}

<!-- Include meta tag to ensure proper rendering and touch zooming -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<div class="container">
  <form method="post" id="form-main">
    {% csrf_token %}
    <div class="row">
      <div class="col col-md-8">
        {% for row in rows %}
          <div class="row">
            {% for loc in row %}
              <input name="id:{{ loc.0 }}:{{ loc.1 }}" type="text" value="{{ loc.2 }}"
                     id="id:{{ loc.0 }}:{{ loc.1 }}" readonly="readonly"
                     {% if loc.2 %}
                     class="btn  btn-success btn-sq"
                     draggable="true"
                     {% else %}
                     class="btn btn-sq btn-default"
                     {%  endif %}
                     ondragstart="drag(event)"
                     ondrop="drop(event)" ondragover="allowDrop(event)">
            {% endfor %}
          </div>
          <br />
        {% endfor %}
      </div>
      <div class="col col-md-4">
        <div class="well" id="well">
        <h4 class="text-center">Available items</h4>
        <div class="row">
        {% for item in items %}
           <div class = "col-md-6">
             <div id="item:{{ item.button_text }}" ondragstart="drag(event)" draggable="true"
              {% if item.used %}
                 class="btn btn-block btn-sm btn-default"
              {% else %}
                 class="btn btn-block btn-sm btn-success"
              {% endif %}>
              {{ item.button_text }}
           </div>
         </div>
        {% endfor %}
        </div>
          <div class="col-md-12"></div>
            <p id="bin" ondrop="drop(event)" ondragover="allowDrop(event)">Drag an item here to return it to the list</p>
          </div>
      </div>
    </div>

    <input type="hidden" name="filename" id="filename">
    <input type="hidden" name="save_as" id="save_as" value="">
    <input type="submit" class="btn btn-primary" name="save" value="Save">
    <button type="button" class="btn btn-info " data-toggle="modal" data-target="#saveAsModal">Save as</button>
    <input type="submit" class="btn btn-danger"  name="delete" value="Delete">
    <input type="submit" class="btn btn-default" name="cancel" value="Cancel">
  </form>
  <!-- Modal for Save as dialog -->
  <div class="modal fade" id="saveAsModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Save layout with new name</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Layout name</label>
            <input type="text" class="form-control" id="modal_name" placeholder="Enter layout name">
          </div>
        </div>
        <div class="modal-footer">
          <button id="submitBtn" class="btn btn-primary" data-dismiss="modal">Save as</button>
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block scripts %}
  <script src="{% static 'pos/js/layout_form.js' %}"></script>
  <script>
  $(document).ready(function(){
     $('#submitBtn').click(function() {
         $('#filename').val($('#modal_name').val());
         $('#save_as').val("save_as");
         $('#form-main').submit();
     });
  });
  </script>
{% endblock %}

