{% extends 'base.html' %}
{%  load widget_tweaks %}
{% block content %}
<div class="container">
  <h2>Line items</h2>
  {% if transaction %}
  <h1>Transaction Id: {{ transaction.id }}</h1>
  {% endif %}
  {% load render_table from django_tables2 %}
  <div class="well" style="padding:10px">
    <form class="form-inline">
      {%  for field in filter.form %}
        <div class="form-group">
          <label for="{{ field.auto_id }}">{{ field.label }}</label>
          {% render_field field class="form-control" %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary btn-xs offset">Filter</button>
    </form>
  </div>
  {% render_table table %}
  {% if transaction %}
  <h1>Total: {{ transaction.total }}</h1>
  {% endif %}
</div>
{% endblock %}