{% extends 'pos/base.html' %}
{% load staticfiles %}
{% block content %}
  {%  include '_logo_banner.html' %}
<div class="container bg">
  <h2 class="text-center"><b>Lookup member details</b></h2>
  <h3 class="text-center">You can only search for adult members who have agreed to share their details.</h3>
  <br/>
  <div class="row">
    <div class="col-md-2">
      <a href="{{ timeout_url }}" class="btn btn-success btn-lg btn-block">Back</a>
    </div>
    <div class="col-md-3 ipad-prompt"> Member's name:</div>

      <div class="col-md-2 input-group input-group-lg">
        <input type="text" class="form-control typeahead tt-query timed bsfix" maxlength="15"
               id = "search_id" autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off">
      </div>
  </div>
  <br><br>
  <div class="row" id="hint">
    <div class="col-md-11 col-md-push-1 hint">
      You can search by first name, last name or both names separated by a space. <br>
      You only need to type the first few letters of each name. Case does not matter.<br>
      In most cases entering your 1st initial then 2 characters of your last name is enough.<br>
      Tap your name when it appears in the list. &nbsp &nbsp
      E.g. <strong>jsm</strong> would find <strong>John Smith</strong>
    </div>
  </div>
  <div class="row" id="results" hidden>
    <div class="col-md-6 col-md-offset-3">
      <div class="panel pospanel">
        <div class="panel-body text-center">
          <h1 id="name"></h1>
          <h3 id="membership"></h3>
          <h3 id="home_phone"></h3>
          <h3 id="mobile"></h3>
          <h3 id="email"></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="hint text-center">
   </div>
</div>

{% endblock content %}
{% block scripts %}
{#  <script src=https://twitter.github.com/typeahead.js/releases/latest/typeahead.bundle.min.js></script>#}
  <script src= {% static 'js/typeahead.bundle.js' %}></script>
  <script src="{% static 'pos/js/pos-typeahead.js' %}"></script>
  <script>
    $(document).ready(function () {
      bind_typeahead('#search_id', go, true);
      $('.typeahead').typeahead('val', '');
      {#$.ajaxSetup({#}
      {#    beforeSend: function (xhr, settings) {#}
      {#        xhr.setRequestHeader('X-CSRFToken', csrf_token);#}
      {#    }});#}
      timingCode.startTimer({{ timeout }}, "{{ timeout_url }}");
    });
    function go(person) {
        $('#person_id').val(person.id);
        $.get("/ajax/person?id=" + person.id, function(person){
            $('#hint').hide();
            $('#results').show();
            $('#name').text(person.name);
            $('#membership').text('Membership: ' + person.membership);
            $('#home_phone').text(person.phone);
            $('#mobile').text(person.mobile);
            $('#email').text(person.email);
        });
        $('.typeahead').typeahead('val', '');
    }
  </script>
{% endblock %}


+