{% extends 'pos/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="jumbotron">

  <div class="row">
    <div class="col-md-4"><img src="{% static "images/CWLTC logo small.png" %}"/>
    </div>
    <div class="col-md-4">
      <h2 class="text-center">{{ person.first_name }} {{ person.last_name}}</h2>
      <br/>
      <p><a href="{% url 'pos_run' %}" class="btn btn-primary btn-md btn-block">Teas and visitors</a></p>
      <p><a href="{% url 'pos_transactions_person' person_id=person.id %}" class="btn btn-primary btn-md btn-block">View transactions</a></p>
      <p><a href="{% url 'pos_user' %}" class="btn btn-primary btn-md btn-block">Back</a></p>
    </div>
  </div>
</div>
  </div>
{% endblock %}
