{% extends 'pos/base.html' %}
{% load static %}
{% block content %}

{%  include '_logo_banner.html' %}

<div class="container" id="idStart">
  <div class="text-center bg {% if is_bar %}jumbotron{% endif %}">
    <h1 class="text-center"><strong>
      {% if is_bar %}Honesty Bar{% else %}Online Member Services{% endif %}</strong></h1>
    <br>
    <div id="idOnlineMessage"> <!-- division is hidden if ping fails -->
      <div class="row">
        <p class="ipad-error">{{ request.session.message }}</p>
          {% if is_bar %}
            {% for app in apps %}
              <button type="button" class="posbutton btn-large btn-block" onclick="getUser()" name="app_{{ app.id }}">Member Login</button>
            {% endfor %}
            {% if attended %}
              <br/><br/><br/>
              <input class="posbutton btn-large" type="submit" name="attended" value="Attended mode">
            {% endif %}
             <br><br>
          {% else %}
            <div class="row">
              <div class="col-md-4">
                {% for app in apps %}
                  {% if app.event %}
                    <input type="image" name="event_{{ app.event.id }}" src="{{ app.event.image.url }}" class="img-responsive">
                    <h3>Touch the picture to book</h3>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="col-md-8">
                {% for app in apps %}
                  {% if not app.event %}
                    <div class="row">
                      <div class="col-md-6 text-center">
                        <button class="posbutton btn-large btn-block" type="submit" name="app_{{ app.id }}">{{ app.name }}</button>
                      </div>
                      <div class="col-md-6">
                        <p class="hint">{{ app.description }}</p>
                      </div>
                    </div>
                    <br>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
          <br>
      </div>

      <p class="hint">All members who have paid their subscription can use this system after registration.<br>
          You can register now by pressing any button above and searching for your name.</p>
    </div>
    <p id="idOfflineMessage">Sorry, the server is offline. Please try later.</p><!-- division is visible if ping fails -->
  </div>
  <div class="terminal">Terminal: {{ request.session.terminal }}
    <span id="idOnline"></span></div>
  <div class="last-transaction">
    Last transaction: {{ request.session.last_person }}: £ {{ request.session.last_total }}
  </div>
</div>

<!-- Get user page --->
<div class="container bg" id="idGetUser">
  <h2 class="text-center"><b>{{ request.session.app.name }}</b></h2>
  <h2 class="text-center">
    {% if filter == 'adults' %} Adult Member Login{% else %}Adult or Junior Member Login{% endif %}
  </h2>
  <br/>
  <div class="row">
    <div class="col-md-2">
        <button class="btn btn-success btn-lg btn-block" onclick="startApp()">Back</button>
    </div>
    <div class="col-md-3 ipad-prompt"> Search for name:</div>
      <div class="col-md-2 input-group input-group-lg">
        <input type="text" class="form-control typeahead tt-query timed bsfix" maxlength="15"
               id ="idNameInput" autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off">
      </div>
      <input name="person_id" id="person_id" type="hidden" value="">
      <input type="submit" class="button" id ="submit_id"
             style="display: none" name="login" value="">
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-11 col-md-push-1 hint">
      You can search by first name, last name or both names separated by a space. <br>
      You only need to type the first few letters of each name. Case does not matter.<br>
      In most cases entering your 1st initial then 2 characters of your last name is enough.<br>
      Tap your name when it appears in the list. &nbsp &nbsp
      E.g. <strong>jsm</strong> would find <strong>John Smith</strong>
    </div>
  </div>
  <div class="hint text-center">
   </div>
</div>

<!-- Get password -->
<div class="container bg" id="idGetPassword">
  <div class="row">
    <h2 class="text-center"><b>{{ request.session.app.name }}</b></h2>
    <h2 class="text-center">{{ full_name }}</h2>
  </div>
  <br/>
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-success btn-lg btn-block" onclick="startApp()">Back</button>
      </div>
      <h4 class="col-md-3 ipad-prompt"> PIN:</h4>
      <div class="col-md-2">
        <div class="input-group input-group-lg"  style="width: 100%!important;">
          <input type="password" class="form-control" name="pin" pattern="[0-9]*" value="" spellcheck="false"
                 maxlength="8" autofocus>
        </div>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-2">
        <input type="submit" class="btn btn-success btn-lg btn-block stop-timer" name="submit" value="Go">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
    <div class="col-md-3 ipad-prompt"> Or password:</div>
    <div class="col-md-2">
      <div class="input-group input-group-lg" style="width: 100%!important;">
        <input type="password" class="form-control" name="password" value="" spellcheck="false" maxlength="50">
        </div>
    </div>
  </div>
  <br>
  <div class="text-center hint">
    Enter your PIN or the password you created when you registered.<br><br><br>
    If you have forgotten your PIN or password click below.<br><br>
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <a href="{% url 'pos_register_again' %}" class="btn btn-warning btn-lg btn-block btn-default stop-timer">Register again</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
  <script src= {% static 'js/typeahead.bundle.js' %}></script>
  <script src="{% static 'pos/js/pos-typeahead.js' %}"></script>
  <script>
  $(document).ready(function () {

      $(".posbutton").on('touchstart', function (event) {
          event.currentTarget.classList.add('posbutton-down');
      });
      $(".posbutton").on('touchend', function (event) {
          event.currentTarget.classList.remove('posbutton-down');
      });
      bind_typeahead('#idNameInput', gotUser, '{{ filter }}');
      $('.typeahead').typeahead('val', '');
      startApp();

      timingCode.startTimer({{ timeout }}, "{{ timeout_url }}");



      //timingCode.initPing({{ timeout }}, '{{ ping_url }}', '{{ csrf_token }}', '{{ request.session.terminal }}', 'idMessage');

      // Executed when name selected in typeahead


      function getPassword() {
          console.log('Validate password')

      }

  });
  function startApp(){
      $('#idGetUser').hide();
      $('#idGetPassword').hide();
      $('#idStart').show();
  }

  function getUser() {
      $('#idStart').hide();
      $('#idNameInput').val('');
      $('#idGetUser').show();
  }

  function gotUser(person) {
      $('#person_id').val(person.id);
      $('.typeahead').typeahead('val', '');
      $('#idGetUser').hide();
      $('#idGetPassword').show();
  }

  function getPassword() {
          console.log('Validate password')

      }



  </script>
{% endblock %}