{% extends 'pos/base.html' %}
{% load static %}
{% block content %}

  {% include '_logo_banner.html' %}
  {% include 'pos/_start.html' %}
  {% include 'pos/_user.html' %}
  {% include 'pos/_password.html' %}
  {% include 'pos/_reset_pin.html' %}
  {% include 'pos/_menu.html' %}
  {% include 'pos/_pos.html' %}
  <div class="terminal">Terminal: {{ request.session.terminal }}
    <span id="idOnline"></span> <span id="idSaved"></span></div>
  <div class="last-transaction">
    Last transaction: <span id="idLastTransaction"></span>: £<span id="idLastTotal"></span>
  </div>

{% endblock %}
{% block scripts %}
  <script src= {% static 'js/typeahead.bundle.js' %}></script>
  <script src="{% static 'pos/js/pos-cached-typeahead.js' %}"></script>
  <script src="{% static 'pos/js/pos.js' %}"></script>
  <script>
  $(document).ready(function () {

    posCode.init(
        '{{ is_attended }}', '{{ person.id }}', '{{ person.fullname }}',
        '{{ layout.id }}', '{{ csrf_token }}', '{{ request.session.terminal }}', '{{ urls }}');

    $('#startLogin').on('touchstart click', function (event) {
        posCode.touch(event, posCode.showPage('#pageUser'));
    });
    $('#startAttended').on('touchstart click', function (event) {
        posCode.touch(event, posCode.startAttended);
    });

    // USER
    $('#userBack').on('touchstart click', function (event) {
        posCode.touch(event, posCode.logOut);
    });

    // PASSWORD
    $('#passwordBack').on('touchstart click', function (event) {
        posCode.touch(event, posCode.logOut);
    });
    $('#passwordSubmit').on('touchstart click', function (event) {
        posCode.touch(event, posCode.submitPassword);
    });
    $('#passwordReset').on('touchstart click', function (event) {
        posCode.touch(event, posCode.showPage('#pageResetPin'));
    });
    $('#passwordPin').keydown(function (e){
        if(e.keyCode === 13){
            e.preventDefault();
            posCode.submitPassword();
        }
    });
    $('#passwordInput').keydown(function (e){
        if(e.keyCode === 13){
            e.preventDefault();
            posCode.submitPassword();
        }
    });

    // RESET PIN
    $('#resetBack').on('touchstart click', function (event) {
        posCode.touch(event, posCode.showPage('#pagePassword'));
    });
    $('#resetDone').on('touchstart click', function (event) {
        posCode.touch(event, posCode.submitPostCode());
    });
    $('#resetGo').on('touchstart click', function (event) {
        posCode.touch(event, posCode.submitPin());
    });
    $('#resetPostCode').keydown(function (e){
      if(e.keyCode === 13 && $('#resetPostCode').val().length >= 6){
          e.preventDefault();
          $('#resetPhone').focus();
      }
     });
    $('#resetPhone').keydown(function (e){
      if(e.keyCode === 13 && $('#resetPostCode').val().length >= 6 && $('#resetPhone').val().length >=10){
          e.preventDefault();
          posCode.submitPostCode();
      }
     });
    $('#resetPin').keyup(function (e){
        console.log($('#resetPin').val().length);
      if ($('#resetPin').val().length >= 4) {
          $('#resetGo').show();
          if (e.keyCode === 13) {
              e.preventDefault();
              posCode.submitPin();
          }
      }else{
          $('#resetGo').hide();
      }
    });


    // MENU
    $('#menuPurchase').on('touchstart click', function(event) {
        posCode.touch(event, posCode.newReceipt);
    });
    $('#menuTransactions').on('touchstart click', function(event) {
        posCode.touch(event, posCode.transactions);
    });
    $('#menuLogOut').on('touchstart click', function(event) {
        posCode.touch(event, posCode.logOut);
    });
    $('#menuAttendedOn').on('touchstart click', function(event) {
        $('#startAttended').show();
        posCode.touch(event, posCode.logOut);
    });
    $('#menuTransactionsAll').on('touchstart click', function(event) {
        posCode.touch(event, posCode.transactions('all'));
    });
    $('#menuTransactionsMember').on('touchstart click', function(event) {
        posCode.touch(event, posCode.transactions('member'));
    });
    $('#menuTransactionsComp').on('touchstart click', function(event) {
        posCode.touch(event, posCode.transactions('comp'));
    });
    $('#menuTransactionsCash').on('touchstart click', function(event) {
        posCode.touch(event, posCode.transactions('cash'));
    });

    // POS
    $('#posPay').on('touchstart click', function(event) {
        posCode.touch(event, posCode.pay);
    });
    $('#posCancel').on('touchstart click', function(event) {
        posCode.touch(event, posCode.newReceipt);
    });
    $('#posLogOut').on('touchstart click', function(event) {
        posCode.touch(event, posCode.logOut);
    });
    $('#posEndAttended').on('touchstart click', function(event) {
        $('#startAttended').hide();
        posCode.touch(event, posCode.logOut);
    });
    // Attended modal
    $('#posAccount').on('touchstart click', function(event) {
        posCode.touch(event, posCode.account);
    });
    $('#posCash').on('touchstart click', function(event) {
        posCode.touch(event, posCode.cash);
    });
    $('#posResume').on('touchstart click', function(event) {
        posCode.touch(event, posCode.resume);
    });
    // Member modal
    $('#posCommit').on('touchstart click', function(event) {
        posCode.touch(event, posCode.commitSingle);
    });
    $('#posSplit').on('touchstart click', function(event) {
        posCode.touch(event, posCode.split);
    });
    $('#posBack').on('touchstart click', function(event) {
        posCode.touch(event, posCode.resume);
    });
    // Select modal
    $('#posBack1').on('touchstart click', function(event) {
        posCode.touch(event, posCode.back1);
    });
    $('#posCharge').on('touchstart click', function(event) {
        posCode.touch(event, posCode.commit);
    });
    $('#posAddMember').on('touchstart click', function(event) {
        posCode.touch(event, posCode.addMember);
    });
    $('#posBack2').on('touchstart click', function(event) {
        posCode.touch(event, posCode.back1);
    });
    bind_typeahead('#selectNameInput', posCode.transactions(person.id), true);
    bind_typeahead('#userNameInput', posCode.getPin, '{{ filter }}');
    bind_typeahead('#member_search', posCode.selectedPerson, true);
    posCode.startApp();
  });
</script>
{% endblock %}