{% extends 'pos/base.html' %}
{% load static %}
{% block content %}

{%  include '_logo_banner.html' %}

<div class="container bg" id="idPageStart">
  <div class="text-center bg {% if is_bar %}jumbotron{% endif %}">
    <h1 class="text-center"><strong>
      {% if is_bar %}Honesty Bar{% else %}Online Member Services{% endif %}</strong></h1>
    <br>
    <div id="idOnlineMessage"> <!-- division is hidden if ping fails -->
      <div class="row">
        <p class="ipad-error">{{ request.session.message }}</p>
          {% if is_bar %}
            {% for app in apps %}
              <button type="button" id="startLogin" class="btn posbutton btn-large btn-block touch">Member Login</button>
            {% endfor %}
            {% if attended %}
              <br/><br/><br/>
              <button type="button" id="startAttended" class="btn posbutton btn-large btn-block">Attended mode</button>
            {% endif %}
             <br><br>
          {% else %}
            <div class="row">
              <div class="col-md-4">
                {% for app in apps %}
                  {% if app.event %}
                    <input type="image" name="event_{{ app.event.id }}" src="{{ app.event.image.url }}" class="img-responsive">
                    <h3>Touch the picture to book</h3>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="col-md-8">
                {% for app in apps %}
                  {% if not app.event %}
                    <div class="row">
                      <div class="col-md-6 text-center">
                        <button class="posbutton btn-large btn-block" type="submit" name="app_{{ app.id }}">{{ app.name }}</button>
                      </div>
                      <div class="col-md-6">
                        <p class="hint">{{ app.description }}</p>
                      </div>
                    </div>
                    <br>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
          <br>
      </div>
{#<button class="btn btn-danger" onclick="posCode.recoverTransactions()">Recover</button>#}
      <p class="hint">All members who have paid their subscription can use this system after registration.<br>
          You can register now by pressing any button above and searching for your name.</p>
    </div>
    <p id="idOfflineMessage" hidden>The server is offline - limited functionality</p><!-- division is visible if ping fails -->
  </div>
  <div class="terminal">Terminal: {{ request.session.terminal }}
    <span id="idOnline"></span> <span id="idSaved"></span></div>
  <div class="last-transaction">
    Last transaction: <span id="idLastTransaction"></span>: £<span id="idLastTotal"></span>
  </div>
</div>


  {% include 'pos/_user.html' %}
  {% include 'pos/_password.html' %}
  {% include 'pos/_menu.html' %}
  {% include 'pos/_pos.html' %}

{% endblock %}
{% block scripts %}
<script src= {% static 'js/typeahead.bundle.js' %}></script>
<script src="{% static 'pos/js/pos-cached-typeahead.js' %}"></script>
<script src="{% static 'pos/js/pos.js' %}"></script>
<script>
  $(document).ready(function () {

    posCode.init('{{ items_url }}', '{{ post_url }}', '{{ ping_url }}',
        '{{ is_attended }}', '{{ person.id }}', '{{ person.fullname }}',
        '{{ layout.id }}', '{{ csrf_token }}', '{{ request.session.terminal }}');

    $('#startLogin').on('touchstart click', function (event) {
        posCode.touch(event, posCode.getUser);
    });

    $('#startAttended').on('touchstart click', function (event) {
        posCode.touch(event, posCode.attended);
    });

    $('#userBack').on('touchstart click', function (event) {
        posCode.touch(event, posCode.logOut);
    });

    $('#menuPurchase').on('touchstart click', function(event) {
        posCode.touch(event, posCode.newReceipt);
    });

    $('#menuTransactions').on('touchstart click', function(event) {
        posCode.touch(event, posCode.transactions);
    });

    bind_typeahead('#idNameInput', posCode.getPin, '{{ filter }}');
    bind_typeahead('#member_search', posCode.selectedPerson, true);
    posCode.startApp();
  });
</script>
{% endblock %}