<!--- Base for all POS templates -->
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CWLTC POS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'pos/css/pos.css' %}">

</head>
<body>
<!-- Include meta tag to ensure proper rendering and touch zooming -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<script>
{#  if ('addEventListener' in document) {#}
{#	document.addEventListener('DOMContentLoaded', function() {#}
{#		FastClick.attach(document.body);#}
{#	}, false);#}
{#}#}
</script>


<div class="flex-container">
  <div class="flex-left">
    {% for row in rows %}
      <div class="row">
        {% for loc in row %}
          <div class="col col-md-2">
            {% if loc.2 %}
              <button class="btn btn-success btn-sq-lg timed" id="{{ loc.2.id }}">
{#                      onclick="Pos.itemAdd({{ loc.2.id }})">#}
                <span>{{ loc.2.button_text }}</span>
              </button>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <br/>
    {% endfor %}
  </div>

  <div class="flex-right">
    <div class="name-area">
      {% if person %}{{ person.fullname }}{% else %}Attended mode{% endif %}
    </div>
    <div id="id_receipt">
      <table id="id_table">

      </table>
    </div>
    <div id="id_total" style="text-align: right"></div>
    <div id="id_payment">
      <div class="col-md-6">
        <button class="btn btn-success btn-lg btn-block timed" id="id_pay" onclick="Pos.pay()">
          Payment
          <span class="glyphicon glyphicon-ok"></span>&nbsp;
        </button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-danger btn-lg btn-block timed" id="id_cancel" onclick="Pos.newReceipt()">
          Cancel all
          <span class="glyphicon glyphicon-trash"></span>&nbsp;
        </button>
      </div>
      <div class="col-md-12">
        <button class="btn btn-lg btn-block btn-primary" id="id_exit" onclick="Pos.exitPos()">
          Exit
        </button>
      </div>
    </div>
  </div>
</div>
 <div class="flex-bottom"></div>

<!-- Modal for attended mode -->
<div id="attended_modal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Select payment type</h3>
        </div>
        <div class="modal-body">
          <h4>Total is <span id="attended_total">xxx</span></h4>
        </div>
        <div class="modal-footer">
          <button class="btn btn-lg btn-success" id="account" data-dismiss="modal" onclick="Pos.account()">
            Charge to member account
          </button>
          <button class="btn btn-lg btn-success" id="cash" data-dismiss="modal" onclick="Pos.cash()">
            Cash sale
          </button>
          <button class="btn btn-lg btn-danger" data-dismiss="modal" id="back" onclick="Pos.resume()">
            Back
          </button>
        </div>
    </div>
  </div>
</div>

<!-- Modal for member mode -->
<div id="member_modal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Charge to account</h3>
      </div>
      <div class="modal-body">
        <h4>Confirm charge of <span id="member_total"></span> to <span id="member_name"></span></h4>
      </div>
      <div class="modal-footer">
        <button class="btn btn-lg btn-success" data-dismiss="modal" onclick="Pos.commitSingle()">
          Charge to account
        </button>
        <button class="btn btn-lg btn-success" data-dismiss="modal" onclick="Pos.split()">
          Split account
        </button>
        <button class="btn btn-lg btn-danger" data-dismiss="modal" onclick="Pos.resume()">
          Back
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal to select and charge to members account -->
<div id="select_modal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" id="modal_title">
          <span id="title_1"></span> <span id="title_total"></span> <span id="title_2"></span>
        </h3>
      </div>
      <div class="modal-body">
        <table id="peopleTable">
        </table>
      </div>
      <div class="modal-footer">
        <div id="add_member_typeahead" class="row">
          <div class="col-md-9">
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1">Select member</span>
              <input type="text" class="form-control  timed"
                     id = "member_search" aria-describedby="sizing-addon1"
                     autocomplete="on" spellcheck="false">
            </div>
          </div>
          <div class="col-md-3">
            <button class="btn btn-lg btn-danger" onclick="Pos.back1()">
              Back
            </button>
          </div>
        </div>
        <div id="pay_buttons">
          <button class="btn btn-lg btn-success"  data-dismiss="modal" id="chargeMemberBtn" onclick="Pos.commit()">
            Charge to account
          </button>
          <button class="btn btn-lg btn-success" id="add_member_btn" onclick="Pos.addMember()">
            Add another member
          </button>
          <button class="btn btn-lg btn-danger" data-dismiss="modal" onclick="Pos.back1()">
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{#<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>#}
<script src="{% static 'pos/js/fastclick.js' %}"></script>
<script src="{% static 'pos/js/timeout.js' %}"></script>
<script src= {% static 'js/typeahead.bundle.js' %}></script>
<script src="{% static 'pos/js/pos-typeahead.js' %}"></script>
<script src="{% static 'pos/js/pos.js' %}"></script>
<script>
  $(document).bind("mobileinit", function () {
      // Stop jQuery Mobile messing with our link buttons
      $.mobile.linkBindingEnabled = false;
  });
  $(document).ready(function () {
    $(".ui-loader").hide();
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        }
    });
    Pos = PosCode;
    Pos.init('{{ items_url }}', '{{ post_url }}', '{{ exit_url }}', {{ is_attended }}, '{{ person.id}}', '{{ person.fullname }}');
    startTimer({{ timeout }}, "{{ timeout_url }}");
    bind_typeahead('#member_search', Pos.selectedPerson);
});
</script>
</body>
</html>
