{% extends 'pos/base.html' %}
{% load staticfiles %}
{% block content %}
<style>

</style>
<div class="container">

  <h2>{{ person.first_name }} {{ person.last_name}}</h2>
         
  <form id="defaults" >
      <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}"/>
      <input name="person_id" id="person_id" type="hidden" value="" />
  </form>

  <!--
  {% for row in rows %}
      {% for loc in row %}
          {{ loc.row }} {{ loc.col }} {{ loc.item.description }}
      {% endfor %}
  {% endfor %}
  -->

  <div class="flex-container">
    <div class="button-area">
    
      {% for row in rows %}
        <div class="button-row">
	        {% for loc in row %}
            <button ic-include="#defaults" ic-post-to={{ request.path }} ic-target="#receipt_table"
                class="posbutton" id="itm_{{ loc.item.id }}">{{ loc.item.button_text }}
            </button>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div class="receipt-area" id="receipt_table">
            <!-- Receipt table & buttons inserted here-->

    </div>      
  </div>
</div>


<!-- Modal -->
<div id="pay_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Charge to account</h4>
      </div>
      <div class="modal-body">
        <h4>Confirm charge of <span id="id_confirm"></span> to {{ person.first_name }} {{ person.last_name}}</h4>
      </div>
      <div class="modal-footer">

          <button class="btn btn-primary" id="yes_" data-dismiss="modal"
            ic-include="#defaults" ic-post-to="{{ request.path }}" ic-target="#receipt_table"     >
            Charge to account
            <span class="glyphicon glyphicon-ok"></span>&nbsp;
          </button>

        <button class="btn btn-danger" data-dismiss="modal" id="bak_"
          ic-include="#defaults" ic-post-to="{{ request.path }}" ic-target="#receipt_table">
          Back       
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}  
{% block scripts %}

<script type="text/javascript">
  $(document).ready(function () {
    // click payment button shows the modal
    $('#id_pay').click(function () {
      console.log($('#id_total').text());
      $('#id_confirm').text($('#id_total').text());
      $('#pay_modal').modal('show');
      }
      );
    $("#payment_form").on("submit", function (e) {
      $.ajax({
        url: $(this).attr("action"),
        type: "POST",
        data: $(this).serializeArray(),
        success: function (data, textStatus, jqXHR) {
        },
        error: function (jqXHR, status, error) {
          console.log(status + ": " + error);
        }
      });
      e.preventDefault();
    })
  });


</script>

{% endblock %}  