
<div class="receipt">
  <table class ="table table-condensed">
      {% for item in receipt %}
      <tr>
      <td>{{ item.quantity }} x {{ item.description }} @ {{ item.sale_price }}</td>     
      <td>{{ item.total }}</td>
      <td> <button ic-include="#defaults" ic-post-to="{{ request.path }}" ic-target="#receipt_table"
                      class="btn btn-md btn-danger timed" id="del_{{ forloop.counter0 }}">
              <span class="glyphicon glyphicon-remove"></span>
          </button>
      </td>
      </tr>
      {% endfor %}
      <tr><td><strong>Total</strong></td><td id="id_total">{{ total }}</td></tr>
  </table>
</div>
<div class="pay-area">
  {% if enable_payment %} 
    <button ic-include="#defaults" ic-post-to="{{ request.path }}" ic-target="#receipt_table"
      class="btn btn-primary timed" id="pay_">Payment
      <span class="glyphicon glyphicon-ok"></span>&nbsp;
    </button>
    <button ic-include="#defaults" ic-post-to="{{ request.path }}" ic-target="#receipt_table"
      class="btn btn-danger timed" id="can_">
        Cancel all
      <span class="glyphicon glyphicon-trash"></span>&nbsp;
    </button>
  {% else %}
    <button ic-include="#defaults" ic-post-to="{{ request.path }}" ic-target="#receipt_table"
      class="btn btn-lg btn-primary" id="end_">&nbsp;&nbsp;&nbsp;Exit&nbsp;&nbsp;&nbsp;
    </button>
  {% endif %}
</div> 




