
<div class="receipt">
  <table class="table table-condensed">
      {% for item in receipt %}
      <tr>
{#      <td>{{ item.quantity }} x {{ item.description }} @ {{ item.sale_price }}</td>     #}
      <td><strong>{{ item.description }}</strong></td>
        <td>{{ item.total }}</td>
      <td> <button ic-include="#defaults" ic-post-to="{{ request.path }}" ic-target="#intercooler-area"
                      class="btn btn-sm btn-danger timed" id="del_{{ forloop.counter0 }}">
              <span class="glyphicon glyphicon-remove"></span>
          </button>
      </td>
      </tr>
      {% endfor %}

  </table>

</div>
<div class="name-area"><h4>TOTAL: {{ total }}</h4></div>
<div class="payment-area">

    {% if enable_payment %}
      <div class="col-md-6">
        <button ic-include="#defaults" ic-post-to="{{ request.path }}" ic-target="#intercooler_area"
          class="btn btn-success btn-lg btn-block timed" id="pay_">Payment
          <span class="glyphicon glyphicon-ok"></span>&nbsp;
        </button>
      </div>
      <div class="col-md-6">
        <button ic-include="#defaults" ic-post-to="{{ request.path }}" ic-target="#intercooler_area"
          class="btn btn-danger btn-lg btn-block timed" id="can_">
            Cancel all
          <span class="glyphicon glyphicon-trash"></span>&nbsp;
        </button>
      </div>
    {% else %}
      <div class="col-md-12">
        <button ic-include="#defaults" ic-post-to="{{ request.path }}" ic-target="#intercooler_area"
          class="btn btn-lg btn-block btn-primary" id="end_">&nbsp;&nbsp;&nbsp;Exit&nbsp;&nbsp;&nbsp;
        </button>
      </div>
    {% endif %}

</div>



