{% extends 'pos/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load ipad_field %}
{% block content %}
  <h3 class="text-center">You have not registered to use this system or the members' web site.<br>
  You can register now.</h3>
  <br>
  <h3 class="text-center">Enter these details to confirm that you are {{ person.fullname }}:</h3>
{% if message %}
    <p>{{ message }}</p>
{% endif %}
  <form method="POST" >{% csrf_token %}
    {% for field in form %}
      {% ipad_field field %}
      <br>
    {% endfor %}
    <div class="row">
      <div class="col-md-4"></div>
      {% for button in buttons %}
        <div class="col-md-2">
        <input type="submit" name="{{ button.name }}" class="{{ button.css_class }} btn-block"
               id="id-{{ button.name }}" value="{{ button.value }}"
               {% if button.no_validate %}formnovalidate=""{% endif %}>
        </div>
      {% endfor %}
    </div>
  </form>

{% endblock content %}
{% block scripts %}
  <script src="{% static 'pos/js/timeout.js' %}"></script>
  <script>
    $(document).ready(function () {
      startTimer({{ timeout }}, "{{ timeout_url }}");
    });
  </script>

{% endblock %}