{% extends 'pos/base.html' %}
{% load staticfiles %}
{% load ipad_field%}
{% block content %}
  <h4 class="text-center">Step 2 of 3</h4>
  <h3 class="text-center">Choose your user name and password</h3>
{% if message %}
    <p>{{ message }}</p>
{% endif %}
  <form method="POST" novalidate >{% csrf_token %}
  {%  if form.errors %}
    {% for error in form.non_field_errors %}
      <div class="ipad-error text-center">{{ error }}</div>
    {% endfor %}
  {% endif %}
    {% for field in form %}
      {% ipad_field field %}
      <br>
    {% endfor %}
    <div class="row">
      <div class="col-md-4"></div>
      {% for button in buttons %}
        <div class="col-md-2">
        <input type="submit" name="{{ button.name }}" class="{{ button.css_class }} btn-lg btn-block"
               id="id-{{ button.name }}" value="{{ button.value }}"
               {% if button.no_validate %}formnovalidate=""{% endif %}>
        </div>
      {% endfor %}
    </div>
  </form>
{% endblock content %}
{% block scripts %}
  <script>
    $(document).ready(function () {
        timingCode.startTimer({{ timeout }}, "{{ timeout_url }}");
    });
  </script>

{% endblock %}