{% extends 'pos/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load ipad_field %}
{% block content %}
  <h3 class="text-center"><b>Registration</b></h3>
  <h3 class="text-center">Register to use the club's online services</h3>
  <br>
  <h3 class="text-center">Enter these details to confirm that you are {{ person.fullname }}:</h3>
{% if message %}
    <p>{{ message }}</p>
{% endif %}
  <form method="POST" novalidate >{% csrf_token %}
    {% for field in form %}
      {% ipad_field field %}
      <br>
    {% endfor %}
    <div class="row">
      <div class="col-md-4"></div>
      {% for button in buttons %}
        <div class="col-md-2">
        <input type="submit" name="{{ button.name }}" class="{{ button.css_class }} btn-lg btn-block"
               id="id-{{ button.name }}" value="{{ button.value }}"
               {% if button.no_validate %}formnovalidate=""{% endif %}>
        </div>
      {% endfor %}
    </div>
  </form>

{% endblock content %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      timingCode.startTimer({{ timeout }}, "{{ timeout_url }}");
    });
  </script>

{% endblock %}