{% extends 'pos/base.html' %}
{% block content %}

<div class="container">
  <div class="jumbotron">
  <h1>Start POS</h1>
    <p>Welcome to the Coombe Wood Point of Sale application.</p>
    <p>Please choose the layout to start</p>
    <form method="post">
      <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}"/>
      {% for layout in layouts %}
        <input class="btn btn-primary btn-lg" type="submit" name="layout" value="{{ layout.name }}"\>
      {% endfor %}
    </form>  
  </div>
</div>
{% endblock %}