{% extends 'pos/base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'pos/css/pos.css' %}">
<div class="container">
  <div class="jumbotron text-center">
    <div class="row">
      <img class="center-block" src="{% static 'images/CWLTC logo small.png' %}">
    </div>
    <h1>Bar System</h1>
    <p>Welcome to the Coombe Wood Bar System.</p>
    <br/><br/>
    <form method="post">
      {% csrf_token %}
      <button class="posbutton btn-large" type="submit" name="login">Member log in</button>
      {% if attended_mode %}
        <br/><br/><br/>
        <input class="posbutton btn-large" type="submit" name="attended" value="Attended mode">
      {% endif %}
    </form>
  </div>
<p>iOS version: <span id="ios"></span></p>
</div>
{% endblock %}
{% block scripts %}
  <script>
$(document).ready(function() {
	function iOSversion() {
		if (/iP(hone|od|ad)/.test(navigator.platform)) {
			// supports iOS 2.0 and later: <https://bit.ly/TJjs1V>
			var v = (navigator.appVersion).match(/OS (\d+)_(\d+)_?(\d+)?/);
			return [parseInt(v[1], 10), parseInt(v[2], 10), parseInt(v[3] || 0, 10)];
		}
	}

	ver = iOSversion();

	if (ver[0] >= 5) {
		alert('This is running iOS '+ver);
		/*$('body').addClass('iOS-tagged');
	*/}
	 $('#ios').val(ver);
});

  </script>
{% endblock %}