{% extends 'base.html' %}
{% block content %}
{% include 'pos/_transaction_detail.html' %}

<form id='form' method="post">{% csrf_token %}
</form>
  <!-- Modal for member mode -->
<div id="idModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Delete transaction</h3>
      </div>
      <div class="modal-body">
        <h4>This action cannot be reversed.</h4>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button class="btn btn-danger" data-dismiss="modal" onclick="document.getElementById('form').submit()">
          Delete
        </button>

      </div>
    </div>
  </div>
</div>
{% endblock %}
