db.sqlite3
*.pyc
.project
.pydevproject
vpython27
.sln
/.vs
/bin
/obj
/temp/emails
/env2711

/admin.sln
/admin.pyproj.user
/go.bat
/ptvs_virtualenv_proxy.py
/sandbox.pyproj.user
/sandbox.v12.suo
/web.config
/web.debug.config
/admin.v12.suo
/admin.tar.gz
/admin.log
/Documentation/
/Backup/
/excel
/env36
/envAdmin
/wsgi/static
/go36.bat
/UpgradeLog.htm
