diff-match-patch==20110725.1
Django==1.7.7
django-braces==1.8.0
django-crispy-forms==1.4.0
django-debug-toolbar==1.2.2
django-extensions==1.5.2
django-import-export==0.2.6
django-jquery==1.9.1
django-jquery-ui==1.10.3.1
django-pyodbc-azure==1.2.7
django-wysiwyg==0.7.0
djrill==1.2.0
html5lib==0.999
Pillow==2.8.1
psycopg2==2.5.2
pyodbc==3.0.7
PyPDF2==1.24
reportlab==3.1.44
requests==2.5.1
six==1.9.0
sqlparse==0.1.13
tablib==0.10.0
xlrd==0.9.3
xlwt==0.7.5
