{% extends "public/base.html" %}
{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" type="text/css"  href="{% static 'public/css/public.css' %}">
  <title>Direct debit success</title>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static 'images/panorama.jpg' %}" alt="Coombe wood courts" />
    </div>
  </div>
  <h2>Direct debit mandate created</h2>
<p>
  Your direct debit mandate with Coombe Wood LTC has been set up through Go Cardless.
</p>
  <p>
  Payments will be identified on your statement as 'GoCardless Ltd' with a reference that starts 'COOMBEWOOD'.
</p>
  <br/><br/>
  <p>
  Click below to return to your account page.
  </p>
  <a href="{% url 'club-account' %}" class="btn btn-primary">My account</a>

{% endblock %}