{% extends "members/layout.html" %}
{% load members_extras %}
{% block content %}
  <h2>GoCardless Mandates</h2>
  {% if person %}
    <h4><a href="{% url "person-detail" person.id %}">{{ person.first_name }} {{ person.last_name }}</a></h4>
  {% else %}
    <h4>All mandates in CWLTC system</h4>
  {% endif %}
  <table id="mandates" class="table table-condensed" >
  <thead>
    <tr>
      <th>Mandate Id</th>
      <th>Customer Id</th>
      <th>Last Event Id</th>
      <th>Active</th>
    </tr>
  </thead>
  {% for mandate in mandates %}
    <tr>
      <td> <a href="{% url "cardless_mandate_detail" mandate_id=mandate.mandate_id %}">{{ mandate.mandate_id }}</a></td>
      <td> <a href="{% url "cardless_customer_detail" customer_id=mandate.customer_id %}">{{ mandate.customer_id }}</a></td>
      {% if mandate.event_id %}
        <td> <a href="{% url "cardless_event_detail" event_id=mandate.event_id %}">{{ mandate.event_id }}</a></td>
      {%  else %}
        <td>No event</td>
      {% endif %}
      <td>{{ mandate.active }}</td>
    </tr>
  {% endfor sub %}
  </table>
{% endblock %}