{% extends "members/layout.html" %}
{% load members_extras %}
{% block content %}
<h2>Mandates for </h2>
  <h4><a href="{% url "person-detail" person.id %}">{{ person.first_name }} {{ person.last_name }}</a>
</h4>
<table id="mandates" class="table table-condensed" >
<thead>
  <tr>
  <th>Customer Id</th>
  <th>Mandate Id</th>
  <th>Last Event Id</th>
  <th>Active</th>
  </tr>
</thead>
{% for mandate in mandates %}
<tr>
  <td> <a href="{% url "cardless_customer_detail" cid=mandate.customer_id %}">{{ mandate.customer_id }}</a></td>
  <td> <a href="{% url "cardless_mandate_detail" mid=mandate.mandate_id %}">{{ mandate.mandate_id }}</a></td>
  <td> <a href="{% url "cardless_event_detail" mid=mandate.event_id %}">{{ mandate.event_id }}/a></td>
  <td> {{ mandate.active }}</td>
</tr>
{% endfor sub %}
</table>
{% endblock %}