{% extends "public/base.html" %}
{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" type="text/css"  href="{% static 'public/css/public.css' %}">
  <title>CWLTC payment</title>
{% endblock %}
{% block content %}
  <h2>Make payment through GoCardless</h2>
  <h4>Account holder: {{ person.first_name }} {{ person.last_name }}</h4>
  <p>You have a direct debit mandate set up with Coombe Wood LTC. </p>
  <p>Payments will be identified on your bank statement as 'GoCardless Ltd'</p>
  <form action="{% url 'cardless_payment_create' invoice_token %}" method="post" class="form-inline" id="post-form">
    {% csrf_token %}
    Click below to confirm a payment of £{{ invoice.total }} for invoice number {{ invoice.number }}.
    <br/>
    <input type="submit" name="pay" value="Pay by direct debit" class="btn btn-primary"><br /><br />
    <input type="submit" name="invoice" value="Show invoice" class="btn btn-primary"><br /><br />
  </form>
{% endblock %}