{% extends "public/base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css"  href="{% static 'public/css/public.css' %}">
  <title>Thank you</title>
{% endblock %}
{% block content %}

  <h3 class="mt-2 pt2-2">Thank you</h3>
<p>
  A payment of £{{ invoice.total }} will be taken from your account shortly. <br>
  It may take several days to appear on your statement.<br>
  The payment will be identified on your statement as 'GoCardless Ltd'<br>
</p>
  {%  if user.is_authenticated %}
    Click below to return to view account page.<br/>
    <a href="{% url 'club_invoice_list' %}" class="btn btn-success">My account</a>
  {% else %}
    <a href="{% url 'public-home' %}" class="btn btn-success">Home page</a>
  {% endif %}
{% endblock %}