{% extends "public/base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css"  href="{% static 'public/css/public.css' %}">
  <title>CWLTC payment</title>
{% endblock %}
{% block content %}
  <h3 class="mt-2 pt-2">Make payment through GoCardless</h3>
  <h4>Account holder: {{ person.first_name }} {{ person.last_name }}</h4>
  <br/>
  <form action="{% url 'cardless_payment_create' invoice_token %}" method="post"  id="post-form">
    {% csrf_token %}
    <p>You have a direct debit mandate with Coombe Wood LTC.</p>
    <p>You are about to make a payment of <strong>£{{ invoice.total }}</strong> for invoice number {{ invoice.number }}.</p>
    <p>The payment will be identified on your bank statement as 'GoCardless Ltd' with a reference that starts 'COOMBEWOOD'.</p>
    <br>
    <input type="submit" name="pay" value="Pay by direct debit" class="btn btn-success">
    <input type="submit" name="invoice" value="Back" class="btn btn-outline-success">
  </form>
{% endblock %}