{% extends 'club/club_base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
  <header class= "masthead" style="background-image: url('{% static 'images/club_header.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div style="padding: 50px 0 50px;">
            <h1 class="display-4 text-white text-center">{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <!-- News Column -->
      <div class="col-lg-9 col-md-12 mx-auto">
        {% for item in top_pages %}
          {% include 'news/_news_card.html' %}
        {% endfor %}
        {% for item in other_pages %}
          <div class="tile">
            <h3 class="text-center">{{ item.title }}</h3>
            {{ item.body|richtext|truncatewords_html:30 }}
            <a href="{% pageurl item %}">More ></a>
          </div>
        {% endfor %}
{#        <div class="col-md-4">#}
{#          Sidebars#}
{#        </div>#}
      </div>
    </div>
{% endblock %}
