{% extends 'club/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  {% if title %}<h3 class="text-center">{{ title }}</h3>{% endif %}
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
      <form method="POST" novalidate="">{% csrf_token %}
        <div class="card my-2">
          <h4 class="card-header card-title bg-success text-white mb-3" >Booking for court {{ court }}</h4>
          <div class="card-body pt-0">
            {%  if form.errors %}
              <div class="text-danger">
                <strong>Please correct the errors in red below:</strong>
              </div>
            {% endif %}

            <h4>{{ date|date:"l d M Y"  }} at {{ time }}</h4>

              <h4>{{ person.fullname }}</h4

            {% crispy form %}
          </div>
        {% if can_edit %}
          <p class="mx-4">A confirmation email including any note that you add will be sent to all players.</p>
        {% else %}
          <p class="text-center text-danger">Only the person who made this booking can change or delete it.</p>
        {% endif %}
          <div class="card-footer">
            {% for button in buttons %}
              <input type="submit" name="{{ button.name }}" class="{{ button.css_class }} mb-1"
                     id="id-{{ button.name }}" value="{{ button.value }}">
            {% endfor %}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
<script>
  $( document ).ready(function() {
      if (!$('#id_doubles').is(":checked")){
          $('#div_id_player_3_id').hide();
          $('#div_id_player_4_id').hide();
      }

});
    $(function() {
        $('#id_doubles').on('change', function() {
            $('#div_id_player_3_id').toggle();
            $('#div_id_player_4_id').toggle();
        });
    });
</script>
{% endblock %}