
.flex-container {
    display: flex;
    width: 100%;
    height: 85vu;
    background-color: #ccffcc;
}

.flex-left {
    width: 70%;
    height: 100vh;
    padding: 10px;
    background-color: #ccffcc;
}

.flex-right {
    width: 30%;
    height: 100%;
    background-color: #ccffcc;
}

.name-area{
    width: 100%;
    height: 5vh;

}


/*.well {*/
    /*background: forestgreen;*/
    /*border: none;*/
/*}*/

.button-area {
	width: 70%;
	padding: 0px;
  background-color: yellow;
}
.intercooler-area {
	width: 100%;
  height: 80vh;
  flex: 1;
  flex-direction: column;
  background-color: #ccffcc;
}

.total-area{
    width: 100%;
    height: 10vh;
    background-color: red;
}

.receipt {
  height: 70vh;
  overflow-y: auto;
  padding: 5px;
  flex-direction: column;
  background-color: cornsilk;
  border-style: solid;
  border-color: #fc8c84;
  border-width: thin;
  flex: 2;
}

.payment-area {
  width: 100%;
  height: 8vh;
  background-color: #ccffcc;
  flex: 3;
}

.pay-area {
    align-self: flex-end;
}

.flex-container > div:first-child {
	margin-right: 20px;
}

.posbutton {
    -webkit-user-select: none;
    background-color: #4CAF50; /* Green */
    cursor: pointer;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 16%;
    height: 45px;
    margin: 5px 5px 5px 5px;
    padding: 6px 0px 0px;
    border-radius: 10px;
    box-shadow: 0 3px darkgreen;
    white-space: normal;
}
.posbutton:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #1b3408;
    transform: translateY(1px);
}

.btn-sq-lg {
  white-space: normal;
  width: 110px !important;
  height: 110px !important;
  font-size: 22px;
}

.btn-sq {
  white-space: normal;
  width: 100px !important;
  height: 70px !important;
  text-align: center;
  font-size: 16px;
}

span {
  display: inline-block;
  vertical-align: center;
  text-align: center;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}

.btn-circle.btn-xl {
  width: 80px;
  height: 80px;
  padding: 5px 5px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.33;
  border-radius: 40px;
  background-color: yellow;
  border-width: 1px;
  border-color: #A30000;
  white-space: normal;
}
