
.bg {
  background-color: #dde5e5;
}

.bg-white {
  background-color: white;
}

.logo-strip {
  background-color: white;
  height:85px;
  padding: 0px;
}

.logo-content {
  background-color: white;
  height:85px;
  width: 980px;
  margin: auto;
  position: relative;
}

.logo {
  font-family: 'Montserrat';
  font-size: 2.7em;
  font-weight: bold;
}

.logo-orange {
  color: #8b3d00;
}

.logo-green {
  color: #00564f;
}

.logo-strap {
  color: #6f8f8b;
  position: absolute;
  font-size: 1.5em;
  font-style: oblique;
  top: 45px;
}

.ipad-prompt {
  color: #2b2b2b;
  font-size: 1.5em;
  font-weight: normal;
  text-align: right;
  padding-top: 6px;
}

.ipad-error {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}

.hint {
  color: #444444;
  font-size: 1.5em;
}

.flex-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #ccffcc;
  flex-wrap: nowrap;
}

.flex-left {
  width: 70%;
  height: 95vh;
  padding: 10px;
  background-color: #ccffcc;
}

.flex-right {
  width: 30%;
  height: 95vh;
  background-color: #ccffcc;
}

.terminal {
  height: 3vh;
  position: fixed;
  bottom: 0;
  left: 10px;
  width: 500px;
}

.last-transaction {
  height: 3vh;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 500px;
  text-align: right;
  padding-right: 10px;
}

.name-area{
  width: 100%;
  height: 5vh;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  padding-top: 3px;
}

#total-area {
  height: 6vh;
  width: 97%;
  padding: 6px 50px 3px 3px;
  text-align: right;
  background-color: cornsilk;
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
}

#receipt-area {
  height: 74vh;
  width: 97%;
  overflow-y: auto;
  padding: 5px;
  flex-direction: column;
  background-color: cornsilk;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  flex: 2;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
}

#id_payment{
  width: 100%;
  height: 8vh;
  background-color: #ccffcc;
  flex: 3;
}

.person-name {
  width: 50%;
  font-size: 20px;
}

.person-amount {
  width: 20%;
  font-size: 20px;
  text-align: right;
}

.pay-area {
    align-self: flex-end;
}

.flex-container > div:first-child {
	margin-right: 20px;
}

#id_table {
  width: 100%;
}

.description {
  width: 70%;
}

.price {
  width: 10%;
  text-align: right;
  padding: 5px;
}

.del-button {
  width:10%;
  padding: 3px;
  text-align: center;
}

.row-description {
  width: 100%;
  height: 20px;
  margin-top: -10px;
  padding-left: 15px;
  color: darkred;
}

.row-buttons {
  padding: 4px;
  margin: 0px;
  border: red;
  border-width: 20px;
}

.posbutton {
    background-color: #008800; /* Green */
    cursor: pointer;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 100px;
    height: 85px;
    padding: 6px;
    border-radius: 10px;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4);
    white-space: normal;
}
.posbutton:active {
    filter: brightness(85%);!important
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    transform: translateY(2px) translateX(1px);
}

.posbutton-down[style] {
    filter: brightness(85%);!important
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    transform: translateY(2px) translateX(1px);
}

.btn-success {
  background-color: #008800; /* Green */
}

.btn {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.btn-warning {
  color: black;
}

.btn:active {
  color: black;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    transform: translateY(2px) translateX(1px);
}

.posbutton:focus {
  outline: 0;
}

.layout {
    width: 100px;
    height: 60px;
    font-size: 12px;
}

.layout:hover {
    width: 100px;
    height: 60px !important;
    font-size: 12px;
    background-color: limegreen;
}

.layout-empty {
    margin-top: 5px;
    width: 100px;
    height: 60px;
    background-color: lightgrey;
}

.bin {
    margin-top: 5px;
    width: 100%;
    height: 30px;
    background-color: grey;
    color: white;
    text-align: center;
}

.bin:-moz-drag-over {
  color:red;
}



span {
  display: inline-block;
  vertical-align: center;
  text-align: center;
}

.btn-large {
  width: 150px;
  height: 100px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}

p.invalid-feedback {
  color: red;
}

.bsfix {
  width: 100% !important;
}

span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.input-group span.twitter-typeahead {
  display: block !important;
  height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
  border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead {
  height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
  height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 46px !important;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 24px;
  line-height: 24px;
}
