
.flex-container {
    display: flex;
    width: 100%;
    height: 95vh;
    background-color: #ccffcc;
  flex-wrap: nowrap;
}

.flex-left {
    width: 70%;
    height: 95vh;
    padding: 10px;
    background-color: #ccffcc;
}

.flex-right {
    width: 30%;
    height: 95vh;
    background-color: #ccffcc;
}

.flex-bottom {
  width: 100%;
  height: 4vh;
  background-color: #000a09;
}

.name-area{
  width: 100%;
  height: 5vh;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  padding-top: 3px;
}

#total-area {
  height: 6vh;
  width: 97%;
  padding: 6px 50px 3px 3px;
  text-align: right;
  background-color: cornsilk;
  border-style: solid;
  border-color: #4e605e;
  border-width: thin;
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
}

#receipt-area {
  height: 70vh;
  width: 97%;
  overflow-y: auto;
  padding: 5px;
  flex-direction: column;
  background-color: cornsilk;
  border-style: solid;
  border-color: #4e605e;
  border-width: thin;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  flex: 2;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
}

#id_payment{
  width: 100%;
  height: 8vh;
  background-color: #ccffcc;
  flex: 3;
}

.person-name {
  width: 50%;
  font-size: 20px;
}

.person-amount {
  width: 20%;
  font-size: 20px;
  text-align: right;
}

.pay-area {
    align-self: flex-end;
}

.flex-container > div:first-child {
	margin-right: 20px;
}

#id_table {
  width: 100%;
}

.description {
  width: 70%;
}

.price {
  width: 10%;
  text-align: right;
  padding: 5px;
}

.del-button {
  width:10%;
padding: 3px;
  text-align: center;
}

.row-description {
  width: 100%;
  height: 20px;
  margin-top: -10px;
  padding-left: 15px;
  background-color: #bbeebb;
  color: darkred;
}


.posbutton {
    -webkit-user-select: none;
    background-color: #008800; /* Green */
    cursor: pointer;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 100px;
    height: 85px;

    padding: 6px;
    border-radius: 10px;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4);
    white-space: normal;
}
.posbutton:active {
    /*background-color: #3e8e41;*/
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    transform: translateY(2px) translateX(1px);
}

.btn-sq-lg {
  white-space: normal;
  width: 110px !important;
  height: 100px !important;
  font-size: 20px;
  background-color: #008800;
}

.btn-sq {
  white-space: normal;
  width: 100px !important;
  height: 70px !important;
  text-align: center;
  font-size: 16px;
}

span {
  display: inline-block;
  vertical-align: center;
  text-align: center;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}


span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
  height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
  border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead {
  height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
  height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 46px !important;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 24px;
  line-height: 24px;
}

/*https://gist.github.com/jwo/17134370f78ede7482b0 */


.checkContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.checkContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkContainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a green background */
.checkContainer input:checked ~ .checkmark {
    background-color: darkgreen;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkContainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.checkContainer .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}


/* ===[ Begin Chunky Button ]=== */


.chunky  {
    /* Normal State */
    padding: 4px 15px 7px 15px;
    width: auto;
    height: auto;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.50);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.50);
    border-top: 1px solid rgba(0,0,0,0.001);
    box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
    cursor: pointer;
}

.chunky a:hover {
    /* Hover State */
    box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
    -webkit-animation: glow 1s infinite ease-in-out;
    cursor: pointer;
}

/*.chunky active {*/
    /*!* Active State (clicked on) *!*/
    /*padding: 6px 15px 5px 15px;*/
    /*border-top: 1px solid rgba(0,0,0,0.55);*/
    /*box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);*/
    /*-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);*/
    /*-moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);*/
    /*-o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);*/
    /*-ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);*/
    /*-webkit-animation: none;*/
    /*cursor: pointer !important;*/
/*}*/

/* ===[ End Chunky Button ]=== */

/* ===[ Start Chunky Button Background Color ]=== */

.chunky1 { background: #c0c0c0 }

.chunky2 { background: #b2b2b2 }

.chunky3 { background: #a1a1a1 }

.chunky4 { background: #9b9b9b }

.chunky5 { background: #999 }

.chunky6 { background: #8b8b8b }

.chunky7 { background: #7b7b7b }

.chunky8 { background: #6b6b6b }

.chunky9 { background: #666 }

.chunky10 { background: #5e5e5e }

.chunky11 { background: #5b5b5b }

.chunky12 { background: #4b4b4b }

.chunky13 { background: #77AD0C }

.chunky14 { background: #669900 }

.chunky15 { background: #336600 }

.chunky16 { background: #0066cc }

.chunky17 { background: #333399 }

.chunky18 { background: #663399 }

.chunky19 { background: #993399 }

.chunky20 { background: #EA4C89 }

.chunky21 { background: #CC3333 }

.chunky22 { background: #CC0000 }

.chunky23 { background: #990000 }

.chunky24 { background: #cc6633 }

.chunky25 { background: #FF6600 }

.chunky26 { background: #FF9900 }

.chunky27 { background: #F9BB11 }

.chunky28 { background: #FFCC33 }

/* ===[ End Chunky Button Background Color ]=== */
