{% load i18n static %}
<!-- Note we use our own implementation of cookielaw.js -->
<script src="{% static 'js/cookie-law.js' %}"></script>
<div class="container bg-warning" id="CookielawBanner">
  <div class="row py-1">
       <div class="col-10">
        <p>{% trans '<strong>This site uses cookies. </strong> By continuing to browse you are agreeing to our use of cookies.'%}
         <a href="{% url 'privacy-policy' %}">{% trans "More information" %}</a></p>
      </div>
      <div class="col">
          <a class="btn btn-danger" href="javascript:Cookielaw.acceptCookie();">{% trans "Accept" %}</a>
      </div>
  </div>
    <div class="close-cookies"></div>
</div>
