{% load crispy_forms_tags %}
<h5 class="card-title bg-success text-white p-1">Coaching</h5>

<p class="mb-2">Tick below if you want your child to receive coaching.</p>

<div class="form-check mx-5 mb-0">
  <input class="form-check-input" type="checkbox" name="coaching1" id="coaching1"
         {% if form.data.coaching1 %}checked{% endif %}>
  <label class="my-0" for="coaching1">
    Individual coaching
  </label>
</div>
<div class="form-check mx-5 myb-2">
  <input class="form-check-input" type="checkbox" name="coaching2" id="coaching2"
         {% if form.data.coaching2 %}checked{% endif %}>
  <label class="my-0" for="coaching2">
    Group coaching (Term programme)
  </label>
</div>
<div class="mb-2">Coaching fees are payable separately directly to the coach.</div>
