{% load crispy_forms_tags %}
{% if pos %}
  <h3>Member database</h3>
{%  else %}
  <h5 class="card-title bg-primary text-white p-1">Member database</h5>
{% endif %}
<p>
  The member database allows registered adult members to look up the email and phone details
  of other adult members who have consented to be included. It is solely for the purpose of arranging matches.
  Inclusion is optional, but is highly recommended. It is required if you wish to enter club tournaments.
  You can remove your name through the club website at any time.
</p>
<div class="mx-4">
{{ form.database|as_crispy_field }}
</div>