<h5 class="card-title bg-success text-white p-1">Parent declaration</h5>
<p>
As the parent or guardian of {{ children }} you must agree to the points below:
</p>
<ul>
  <li>
    {{ children }} may take part in the tennis activities of the club.
  </li>
  <li>
    All special care needs, dietary requirements, allergies or medical conditions that could affect your child's safety at the club have been recorded. <br/>
  </li>
  <li>
    I will inform the club of any changes to the information provided on this form.
  </li>
</ul>
<div class="form-check mx-5">
  <input class="form-check-input" type="checkbox" name="agree" id="agreeCheck" required>
  <label class="form-check-label" for="agreeCheck"><strong>I agree to all of the above</strong></label>
</div>
