{% load crispy_forms_tags %}
{% if form.parent_declaration %}
  <h5 class="card-title bg-primary text-white p-1">Parent declaration</h5>
  <p>
  As the parent or guardian of {{ children }} you must agree to the points below:
  </p>
  <ul>
    <li>
      {{ children }} may take part in the tennis activities of the club.
    </li>
    <li>
      All special care needs, dietary requirements, allergies or medical conditions that could affect your child's safety at the club have been recorded. <br/>
    </li>
    <li>
      You will inform the club of any changes to the information provided on this form.
    </li>
  </ul>
  <div class="mx-4">
  {{ form.parent_declaration|as_crispy_field }}
  </div>
{% endif %}
