{% extends "public/public_base.html" %}
{% load staticfiles %}
{% load members_extras %}
{% load crispy_forms_tags %} 
{% block head %}
   <title>ADULT Application Form</title>
{% endblock %}
{% block content %}
  <form action="{% url 'public-apply-adult' %}" method="POST">
    {% crispy form %}
    {% crispy formset helper %}
    <div class="form-actions">
      <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit-save">
    </div>
  </form>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    document.getElementById('id_adultapplication_set-0-applying').addEventListener('change', function () {
        var style = this.value == 0 ? 'none' : 'block';
        document.getElementById('profile').style.display = style;
    });
 });
</script>
{% endblock %}