{% extends "public/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <h3 {% if class %}class="text-center"{% endif %}>{{ title }}</h3>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-8">
        <form method="POST" novalidate="">
          {% csrf_token %}
          <div class="card my-2">
            {% if form_title %}
              <h4 class="card-header card-title bg-success text-white mb-3" >{{ form_title }}</h4>
            {% endif %}

          {% if messages %}
            {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}"{% endif %}>{{ message }}</div>
            {% endfor %}
          {% endif %}

            <div class="card-body pt-0">
              {%  if form.errors %}
                <div class="text-danger">
                  <strong>Please correct the errors in red below</strong>
                </div>
              {% endif %}
              <h5 class="card-title bg-success text-white p-1">Membership</h5>
              {% if memberships|length > 1 %}
                <p>Please choose from the following membership categories:</p>
              {% endif %}
              {% for mem in memberships %}
                <strong>{{ mem.0 }} membership</strong><br/>
                Annual fee: &pound;{{ mem.1 }}
                {% if mem.2 %} + Joining fee: &pound;{{ mem.2 }} {% endif %}<br/>
                {{ mem.3 }}<br/><br/>
              {% endfor %}
              {% if memberships|length > 1 %}
                {{ form.membership_id|as_crispy_field }}
              {% endif %}
              {% if form.mobile_phone %}
                {{ form.mobile_phone|as_crispy_field }}
                {{ form.email|as_crispy_field }}
                {{ form.confirmation|as_crispy_field }}
              {% endif %}
              {% include 'public/_members_database.html' %}
            </div>
            <div class="card-footer">
              {% for button in buttons %}
                <input type="submit" name="{{ button.name }}" class="{{ button.css_class }} mb-1"
                       id="id-{{ button.name }}" value="{{ button.value }}">
              {% endfor %}
            </div>
          </div>
        </form>
      </div>
    </div>

{% endblock content %}