<!DOCTYPE html>
{% load staticfiles %}
{% load members_extras %}
{% load crispy_forms_tags %} 
<html>
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>ADULT Application form</title>
      <link rel="stylesheet" type="text/css" href="{% static 'members/content/bootstrap.min.css' %}" />
  </head>
  <body>

    <div class="container">
      <img src="{% static "members/content/CWLTC logo small.png" %}"/>
      <form method="post" action="" class="">
        {% crispy form %}
        {% crispy formset helper %}
        <input class="submit" type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>