{% extends "public/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load members_extras %}
{% block content %}
  <div style="">
    <h3></h3>
    <form action="{% url 'public-apply-main' %}" method="POST">
      {% csrf_token %}
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">
          <div class="card my-2">
            {% if form_title %}
              <h4 class="card-header card-title bg-success text-white mb-3" >{{ form_title }}</h4>
            {% endif %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}"{% endif %}>{{ message }}</div>
              {% endfor %}
            {% endif %}
          <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-6 col-md-auto ">
                  {% crispy name_form %}
                </div>
                <div class="col-sm-12 col-md-8 col-lg-6 col-md-auto ">
                  {% crispy address_form %}
                </div>
              </div>
            </div>
            <div class="card-footer">
              {% for button in buttons %}
                <input type="submit" name="{{ button.name }}" class="{{ button.css_class }} mb-1"
                       id="id-{{ button.name }}" value="{{ button.value }}">
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
