{% extends "public/public_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load members_extras %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <img class="img-responsive" src="{% static 'images/panorama.jpg' %}" alt="Coombe wood courts" />
  </div>  
</div> 
{% if family %}
  {% include "public/_family.html" %}
{% endif %}
 <h3>{{ form_title }} {{ name }}</h3>
  {% if name_form %}
    <form action="{% url 'public-apply-main' %}" method="POST">
      <div class="row">
        <div class="col-md-4">
          <div class="well">
              {% csrf_token %}
              {% crispy name_form %}  
            </div>
          </div>
        <div class="col-md-4">
          <div class="well">
            {% crispy address_form %}
          </div>       
        </div>
      </div> 
      <input type="submit" name="next" value="Next >" class="btn btn-success" id="id_next">
    </form>
  {% else %}
    {% crispy form %} 
  {% endif %}

{% endblock %}
