{% extends "public/public_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %} 
{% block head %}
  <link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" />
   <title>{{ title }}</title>
{% endblock %}
{% block content %}
  {% if person %}
    <div class="row">
      <div class="col-sm-4">
        <table class="table">
          <tr>
            <td>Adult:</td><td> {{ person.first_name }} {{ person.last_name }}</td>
          </tr>
          {% for p in family %}
            <tr>
              <td>Family member</td><td>{{ p.first_name }} {{ p.last_name }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  {% endif %}
    <h2>{{ form_title }}</h2>
  {% if name_form %}
    <form action="{% url 'public-apply-main' %}" method="POST">
      <div class="row">
        <div class="col-md-4">
          <div class="well">
              {% csrf_token %}
              {% crispy name_form %}  
            </div>
          </div>
        <div class="col-md-4">
          <div class="well">
            {% crispy address_form %}
          </div>
          <input type="submit" name="next" value="Next" class="btn btn-success pull-right" id="id_next">
        </div>
      </div>   
    </form>
  {% else %}
    {% crispy form %} 
  {% endif %}

{% endblock %}
{% block scripts %}
<!---https://github.com/uxsolutions/bootstrap-datepicker-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script>
  $(document).ready(function () {
    $(function () {
      $('#datepicker1').datepicker({
        endDate: "0d",
        format: 'dd/mm/yyyy',
        language: 'en-GB',
        startView: 3,
        minViewMode: 0,
        maxViewMode: 3,
        autoclose: true
        });
    });
 });

</script>
{% endblock %}