{% extends "public/public_base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container body-content" style="background-color:white">
    <div class="row">
      <div class="solidLine"></div>
      <img class="img-responsive" src="{% static "images/DronePicture.jpg" alt="Coombe wood courts" %}"/>
      <div class="solidLine"></div>
    </div>    
    <div class="row">
      <div class="col-md-4">
        <h3>Members login</h3>
            <a class="btn btn-success" href="{% url 'login' %}">Login</a>
        <br />
        <p>For registered club members only</p><br />
    
      </div>
      <div class="col-md-4">
        <h3 style="color:darkgreen">Registration</h3>
        <a class="btn btn-success" href="{% url 'public-register' %}">Register</a>
        <br />
        <p>For club members who have not yet registered to use our online facilities</p><br />
    
      </div>
      <div class="col-md-4">
        <h3>Apply to join</h3>
        <a class="btn btn-success" href="{% url 'public-apply-adult' %}">Application form</a>
        <br />
        <p>For all prospective members</p>
      </div>
    </div>
  </div>

{% endblock %}