{% extends "base_new.html" %}
{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" type="text/css"  href="{% static 'public/css/public.css' %}">
{% endblock %}
{% block content %}

<div class="container-fluid bg-light">
  <div class="row">
    <div id="carousel-2" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">

      <div class="carousel-inner" role="listbox">

      <div class="carousel-item active">
        <a href="http://www.coombewoodltc.co.uk">
          <picture>
            <source srcset="{% static 'images/Drone2000x700.jpg' %}" media="(min-width: 1400px)">
            <source srcset="{% static 'images/Drone1400x490.jpg' %}" media="(min-width: 768px)">
            <source srcset="{% static 'images/Drone800x290.jpg' %}" media="(min-width: 400px)">
            <img srcset="{% static 'images/Drone400x140.jpg' %}" alt="Coombe Wood Tennis" class="d-block img-fluid">
          </picture>
          <div class="carousel-caption">
            <div>
              <div class="display-4 shadow">Welcome to Coombe Wood</div>
              <h3 class="display-5 shadow"><em>Kingston's Premier Tennis Club</em></h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <br />
      <p>This site is for club members and people applying to join Coombe Wood Tennis Club in Kingston-upon-Thames.
      <br />To find out more about the club, visit <a href="http://www.coombewoodltc.co.uk">our public site.</a></p>
    <div class="row">
      <div class="col-md-6">
        <div class="card text-center">
          <div class="card-body">
            <h4 class="card-title" align="center">Club members</h4>
            <div class="row">
              <div class="col">
                <a class="btn btn-block btn-success" href="{% url 'login' %}">Login</a>
                <p class="text-muted">For registered club members only</p><br />
              </div>

              <div class="col">
<a class="btn btn-block btn-success" href="{% url 'public_register' next='public_token' %}">Register</a>
                <p class="text-muted">For club members who have not yet registered to use our online facilities</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-center">
          <div class="card-body">
            <h4 class="card-title" align="center">Apply for membership</h4>
            <div class="row">
              <div class="col">
                <a class="btn btn-block btn-success" href="{% url 'public-apply-adult' %}">Adult application form</a>
                <p class="text-muted">Use this form when an adult or a whole family is applying for membership</p>
              </div>
            <div class="col">
              <a class="btn btn-block btn-success" href="{% url 'public-apply-child' %}">Child application form</a>
              <p class="text-muted">Use this form when only children are applying for membership</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>

{% endblock %}