{% extends "public/public_base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">

      <img class="img-responsive" src="{% static 'images/Drone1200.jpg' %}" alt="Coombe wood courts"/>

    </div>    
    <div class="row" style="background-color:white">
      <div class="col-md-4">
        <h3>Members login</h3>
            <a class="btn btn-success" href="{% url 'login' %}">Login</a>
        <br />
        <p>For registered club members only</p><br />
    
      </div>
      <div class="col-md-4">
        <h3 style="color:darkgreen">Registration</h3>
        <a class="btn btn-success" href="{% url 'public-register' %}">Register</a>
        <br />
        <p>For club members who have not yet registered to use our online facilities</p><br />
    
      </div>
      <div class="col-md-4">
        <h3>Apply for membership</h3>
        <a class="btn btn-success" href="{% url 'public-apply-adult' %}">Adult application form</a>
        <p>Use this form when an adult or a family is applying for membership</p>
        <a class="btn btn-success" href="{% url 'public-apply-child' %}">Child application form</a>
        <p>Use this form when only children are applying for membership</p>
      </div>
    </div>

{% endblock %}