{% extends "public/base.html" %}
{% block content %}
{% include "members/_invoice_detail.html" %}
  <hr />
  {% if invoice %}
      {% if invoice.gocardless_bill_id %}
          Thank you. This invoice has already been paid through GoCardless.
      {% else %}
          <form action="{% url 'invoice-public' token %}" method="post" class="form-inline" id="post-form">
          {% csrf_token %}
          <input type="hidden" name="token" value="{{ token }}">
          Make a payment to Coombe Wood through GoCardless: <br />
          <input type="submit" name="pay" value="Pay in full" class="btn btn-primary"><br /><br />
          If you have a query about the bill or want to change your membership:<br />
          <input type="submit" name="query" value="Query bill" class="btn btn-primary"><br /><br />
          If you want to resign from the club please let us know:<br />
          <input type="submit" name="resign" value="Resign " class="btn btn-primary"><br /><br />
          </form>
      {% endif %}
  {% else %}
      <h3>Invoice token {{ token }} is invalid!</h3>
  {% endif %}
{% endblock %} 