{% extends "public/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load members_extras %}
{% load widget_tweaks %}
{% block content %}
<div class="container bg-light">
  <div class="row">
    <div class="col-sm-12 p-0">
      <img class="img-fluid" src="{% static 'images/panorama.jpg' %}" alt="Coombe wood courts" />
    </div>
  </div>
  <form class="form-horizontal" role="form" action="{% url "public-apply-submit" %}" method="post">{% csrf_token %}
    <div class="row my-2">
      {% if family %}
        <div class="col-sm-6">
          <div class="card">
            <h4 class="card-header card-title bg-success text-white mb-3">
              Applicants
            </h4>
            <div class="card-body">
              {% for p in family %}
                  <div class="row">
                    <div class="col-sm-8">{{ p|index:0}}</div>
                    <div class="col-sm-4">{{ p|index:1}}</div>
                  </div>
                {% endfor %}
            </div>
            <div class="card-footer card-body">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"  name="rules" required>
                  All people listed above agree to abide by the rules of the club
              </label>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    {% if children %}
      <div class="row">
        <div class="card card-body">
          <h4><strong>Parent / guardian declaration</strong> </h4>
          <p>
      As the parent or guardian of {{ children }} you must agree to the following:
          </p>
          <ul>
            <li>
              {{ children }} may take part in the general activities of the club.
            </li>
            <li>
All special care needs, dietary requirements, allergies or medical conditions that could affect your child's safety at the club have been recorded. <br/>
        </li>
        <li>
I will inform the club of any changes to the information provided on this form.
        </li>
      </ul>
        <ul><li class="checkbox">
      <label><input type="checkbox"  name="agree" required>I agree to all of the above</label>
    </li></ul>
    <strong>Photo consent</strong>
    <p>
      There are occasions when photographs of juniors are taken at the club for publicity purposes.
      These may be displayed on the club's notice boards, web site, social media pages or promotional literature and occasionally may be sent to the local press.
    </p>
      <ul>
        <li class="radio">
          <label><input type="radio" name="photo" checked>I give consent for my child to be photographed</label>
        </li>
        <li class="radio">
          <label><input type="radio" name="photo">I do not give consent for my child to be photographed</label>
        </li>
      </ul>
      </div>
      </div>
  {% endif %}
  <div class="card">
   <div class="card-body">
    <strong>Privacy</strong>
    <p>
    We take the privacy of your information seriously and will not share it with third parties without your permission.
      You can read our privacy policy <a href="{% url 'privacy-policy' %}">here.</a>
    </p>
    <strong>Email</strong>
    <p>
      We manage membership applications, billing and subsequent subscription renewals by email.
      It is a condition of membership that you consent to receiving such emails. <br>
      From time to time we also send newsletters and other club-related emails.
      You will have the opportunity to selectively unsubscribe from such emails at any time.
    </p>
    <label class="form-check-label"><input class="form-check-input mx-1" type="checkbox"  name="email" required>
      I agree to receive marketing emails from Coombe Wood LTC
    </label>
   <p></p>

    {% if adult %}
      <strong>Members database</strong>
      <p>
        The members database allows registered adult members to look up the email and phone details
        of other adult members for the purposes of arranging games.
        You must consent to your details being visible if you wish to enter club tournaments.
      </p>
      <div>
      <label class="form-check-label"><input type="radio" name="database" value="Yes" checked="checked">
        I agree to my email and phone number being visible
      </label><br>
      <label class="form-check-label"><input type="radio" name="database" value="No">
        I do not want my email and phone number to be visible
      </label>
      </div>
    {% endif %}
  </div>
  <div class="card-footer">
    <input type="submit" name="back" class="btn btn-primary" value="Back" formnovalidate >
    <input type="submit" class="btn btn-primary" value="Submit application" >
  </div>
  </div>
</form>

{% endblock %}





