{% extends "members/layout.html" %}
{% block content %}
<h2>Webhook list</h2>
<table id="webhooks" class="table table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Resource</th>
            <th>Action</th>
            <th>Processed</th>
            <th>Error</th>
            <th>Message</th>
        </tr>
    </thead>
{% for hook in hooks %}
    <tr>
        <td><a href="{% url "webhook-detail" hook.id %}" class="btn btn-primary btn-xs">{{ hook.id }}</a></td>
        <td>{{ hook.creation_date }}</td>
        <td>{{ hook.resource_type }}</td>
        <td>{{ hook.action }}</td>
        <td>{{ hook.processed }}</td>
        <td>{{ hook.error }}</td>
        <td>{{ hook.message }}</td>
    </tr>
{% endfor hook %}
</table>
{% endblock content %}