{% load static %}
<div class="tile my-0">
  <h5>Ready to be invoiced</h5>
  {% if items %}
    <table style="width:100%">
      {% for item in items %}
        <tr>
          <td><a href="{% url "item-update" item.id %}" class="btn btn-default btn-sm">View</a></td>
          <td>{{ item.item_date }}</td>
          <td>{{ item.person.first_name }} {{ item.person.last_name }}</td>
          <td>{{ item.item_type.description}}</td>
          <td>{{ item.description}}</td>
          <td class = "text-right">£ {{ item.amount }}</td>
        </tr>
      {% endfor item %}
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class = "text-right"><b>Total</b></td>
          <td class = "text-right"><b>£ {{ items_total }}</td>
      </tr>
    </table>
  {% else %}
    <br/><p class="pl-3">No uninvoiced items</p>
  {% endif %}
  <form>{% csrf_token %}
    <a class="btn btn-primary btn-sm" href="{% url 'item-create' person_id=person.id %}">New item</a>
    {% if items %}
      <input type="submit" name="invoice" class='btn btn-primary btn-sm' value="Create invoice">
    {% endif %}
  </form>

</div>