<div class="tile my-0">
  <h5>Bar, Teas and Visitors</h5>
  {% if pos_list %}
    {% for entry in pos_list %}
      <div class="row pb-1">
        <div class="col-6">{{ entry.0 }}</div>
        <div class="col">{{ entry.1 }}</div>
        <div class="col text-right">£&nbsp{{ entry.2 }}</div>
      </div>
    {% endfor %}
      <div class="row mb-2">
        <div class="col-6"></div>
        <div class="col text-right"><b>Total:</b></div>
        <div class="col text-right"><b>£&nbsp{{ pos_total }}</b></div>
      </div>
    {% if pos_bill %}
      <form method="post">{% csrf_token %}
        <input type="submit" name="pos_bill" class='btn btn-primary btn-sm' value="Create invoice items">
      </form>
    {% endif %}
  {% else %}
    No entries
  {% endif %}
</div>