
<p style="font-family: 'arial black', 'avant garde';">  
How to pay
</p>
<p style="font-family: 'Arial';font-size:14px; color:#101010;">
Please pay by Bank Transfer (preferred) to:<br/><br/>

Santander<br />
Sort code: 090127<br/>
Account: 81173477<br/>
<br />
Quote reference: <b>{{ reference }}</b>
<br /><br />
Or send a cheque made payable to CWLTC with the reference
<b>{{ reference }}</b> written on the back to:
<br /><br />
Matthew Cruickshank<br />
7 Presburg Road<br />
New Malden<br />
KT3 5AH<br />
</p>
