
<p style="font-family: 'Arial'; font-size:18px;">
    <strong>How to pay</strong>
</p>
<p style="font-family: 'Arial';font-size:14px; color:#101010;">
    Click <b><a data-hover="View bill online"
                href="{{ gc_bill_create }}">View bill online</a></b> to review this bill on the club's website.<br />
    There you will have options to pay the full amount by direct debit, to raise a query about the bill or to inform us that you wish to resign.
</p>
<p style="font-family: 'Arial';font-size:14px; color:#101010;">
    To make a payment by direct debit, you will need your bank sort code and account number. The transaction will be processed securely by GoCardless Ltd.<br />
    Coombe Wood LTC will not store your bank details and will not be able to take further payments without your authority.<br />
</p>
