
<p style="font-family: 'Arial'; font-size:18px;">
    <strong>How to pay</strong>
</p>
<p style="font-family: 'Arial';font-size:14px; color:#101010;">
    Click <b><a data-hover="Create single GoCardless payment"
                href="{{ gc_bill_create }}">Pay now</a></b> to set up a one-off direct debit payment.<br />
    You will need your bank sort code and account number to complete the transaction which will
    be processed securely by GoCardless Ltd.<br />
    Coombe Wood LTC will not store your bank details and will not be able to take further payments without your authority.<br />
    <br />
    If you want to resign from the club click <b><a data-hover="Resign"
                href="{{ resign }}">Resign form club</a></b>. If you have unpaid items from last year we will send you a revised invoice.<br />
    <br />
    If you have any queries about the invoice click here.

</p>
