<table width="650" cellspacing="2" cellpadding="3" border="0" bgcolor="#808080">
    <tr bgcolor="#ffffff"><td>

<h4 style="font-family: 'arial black', 'avant garde';">  Coombe Wood LTC Invoice </h4>
<p style="font-family: 'Arial'; font-size:14px; color:#020202;">
Reference: {{ person.id }}/{{ invoice.id }}<br />
Date: {{ invoice.date }}
</p>
<p style="font-family: 'Arial';font-size:14px;  color:#101010;">
{{ addressee }}<br />
{% if unknown %}
    </p>
    <p style="font-family: 'Arial';font-size:14px; 'Arial'; color:#ff0000">
    {{ unknown }} </p>
    <p style="font-family: 'Arial';font-size:14px; 'Arial'; color:#101010;">
{% endif %}
{% include "members/_address_block.html" %}
</p>

<table style="height: 40px;" width="650">
<tbody style="font-family: 'Arial'; font-size:14px; color:#020202;">
{% for item in items %}
<tr>
    <td>{{ item.person.first_name }} {{ item.person.last_name }}</td>
    <td>
    {% if item.description %}
        {{ item.description }}
    {% else %}
        {{ item.item_type.description }}
    {% endif %}
    </td>
    <td align="right">£ {{ item.amount }}</td>
</tr>
{% endfor sub %}

<tr>
    <td></td>
    <td align="right"><b>Total now due</b></td>
    <td align="right"><b>£{{ invoice.total }}</b></td>
</tr>
</table>
        </td>
    </tr>
</table>

