
<h3>Invoice summary</h3>
  <div class="row">
    <div class="col-md-2 text-right">Paid</div><div class="col-md-1 text-right">{{ paid }}</div><div class="col-md-2 text-right">£ {{ paid_total }}</div>
  </div>
  <div class="row">
    <div class="col-md-2 text-right">No payment</div><div class="col-md-1 text-right">{{ no_payment }}</div><div class="col-md-2 text-right">£ {{ no_payment_total }}</div>
  </div>
  <div class="row">
    <div class="col-md-2 text-right">Pending</div><div class="col-md-1 text-right">{{ pending }}</div><div class="col-md-2 text-right">£ {{ pending_total }}</div>
  </div>
  <div class="row">
    <div class="col-md-2 text-right">Failed</div><div class="col-md-1 text-right">{{ failed }}</div><div class="col-md-2 text-right">£ {{ failed_total }}</div>
  </div>
  <div class="row">
    <div class="col-md-2 text-right">Total of above:</div><div class="col-md-1 text-right"></div><div class="col-md-2 text-right">£ {{ total }}</div>
  </div>
  <div class="row">
    <div class="col-md-2 text-right">Cancelled</div><div class="col-md-1 text-right">{{ cancelled }}</div><div class="col-md-2 text-right">£ {{ cancelled_total }}</div>
  </div>
