{% load members_extras %}
<div id="tab_invoices">
<table id="invoices" class="table table-sm">
<thead>
    <tr>
        <th>No</th>
        <th>Created</th>
        <th>Updated</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Membership</th>
        <th>Email</th>
        <th class = "text-right">Amount</th>
        <th>State</th>
        <th>Cardless</th>
    </tr>
</thead>
<tfoot>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Total:</th>
        <th class = "text-right">£{{ total }}</th>
        <th class = "text-right">Pending:</th>
        <th>£{% if pending %}{{ pending }}{% else %}0{% endif %}</th>    
    </tr>
</tfoot>
    <tbody>
{% for inv in invoices %}
    <tr>
        <td><a href="{% url "invoice-detail" inv.id %}" class="btn btn-primary btn-sm">View {{ inv.id }}</a></td>
        <td>{{ inv.creation_date|date }}</td>
        <td>{{ inv.update_date|date }}</td>
        <td class = "text-right"><a href="{% url "person-detail" inv.person.id %}" >{{ inv.person.first_name }}</a></td>
        <td><a href="{% url "person-detail" inv.person.id %}" >{{ inv.person.last_name }}</a></td>
        <td>{{ inv.person.membership.description }}</td> 
        <td>{{ inv.email_count}}</td>
        <td class = "text-right">£{{ inv.total }}</td>
        <td>
        {% if inv.state == 2  %}
           {% for payment in inv.payment_set.all %}
               <a href="{% url "payment-detail" payment.id %}"class="btn btn-success btn-sm"  >Paid</a>
           {% endfor %} 
        {% elif inv.state == 3 %}
           {% for cnote in inv.creditnote_set.all %}
               <a href="{% url "creditnote-detail" cnote.id %}" class="btn btn-danger btn-sm" >Cancelled</a>
           {% endfor %} 
        {% else %}
            {{ state_list|get_option:inv.state }}
        {% endif %}
        </td>
        <td>{% if inv.gocardless_bill_id %}Yes{% endif %} </td> 
    </tr>
{% endfor sub %}
</tbody>
</table>
</div>