<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
  <div class="navbar-header"
      {% if site_name == 'Development' %}style="background-color: darkmagenta;"
      {% elif site_name == 'Sandbox' %}style="background-color: darkred;"
      {% endif %}>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/home/">CWLTC Admin</a>
  </div>
 {% if user.is_authenticated %}
  <div class="navbar-collapse collapse">

    <!-- Left nav -->
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">People</a>
            <ul class="dropdown-menu col-xs-3">
                <li><a href="{% url 'members-list' %}">Members</a></li>
                <li><a href="{% url 'juniors-list' %}">Juniors</a></li>
                <li><a href="{% url 'parents-list' %}">Parents</a></li>
                <li><a href="{% url 'applied-list' %}">Applications</a></li>
                <li><a href="{% url 'all-people-list' %}">All people</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'person-create' %}">Create adult</a></li>
                <li><a href="{% url 'junior-create' %}">Create junior</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'group-list' %}">List groups</a></li>
                <li><a href="{% url 'group-create' %}">Create new group</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Mail</a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'mail-campaign-list' %}">List mail campaigns</a></li>
                <li><a href="{% url 'mail-campaign-create' %}">Create mail campaign</a></li>
                <li class="divider">T</li>
                <li><a href="{% url 'text-list' %}">List text blocks</a></li>
                <li><a href="{% url 'text-create' %}">Create text block</a></li>
                <li class="divider">T</li>
                <li><a href= "{% url 'mailtype-list' %}">List mail types</a></li>
                <li><a href= "{% url 'mailtype-create' %}">Create new mail type</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Finances</a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'invoice-list' %}">List invoices</a></li>
                <li><a href="{% url 'item-table' %}">List invoice items</a></li>
                <li><a href="{% url 'payment-list' %}">List payments</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'cardless_payment_process' %}">Update GoCardless payments</a> </li>
                <li class="divider"></li>
                <li><a href="{% url 'select' %}">Select invoice or person</a></li>
                <li><a href="{% url 'invoice-batch' %}">Create a batch of invoices</a></li>
                <li><a href="{% url 'invoice-mail-batch' %}">Mail all unpaid invoices</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'categories-list' %}">Membership categories</a></li>
                <li><a href="{% url 'fees-list' %}">Fees</a></li>
                <li><a href="{% url 'yearend' %}">Year end</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'pos_admin' %}">POS admin</a></li>
                <li><a href="{% url 'pos_transactions_main' %}">List POS transactions</a></li>
                <li><a href="{% url 'pos_payments_main' %}">List POS payments</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'import' %}">Import data from Excel</a></li>
                <li><a href="{% url 'export' %}">Export all data to Excel</a></li>
            </ul>
        </li>
        <li>Search</li>
    </ul>
    <!-- Search person -->
    <form class="navbar-form navbar-left" role="search" action="/search/person/">
          <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon1">Search</span>
            <input type="text" class="form-control typeahead tt-query" id="search_nav" aria-describedby="sizing-addon1"
                    autocomplete="on" spellcheck="false" placeholder="Name or id"> 
            <input name="person_nav" id="person_nav" type="hidden" value="" /> 
            <input type="submit" class="button" id ="submit_nav" style="display: none" name="search" value="Search">
          </div>
    </form>
    <!-- Right nav -->
    {% include 'members/loginpartial.html' %}
    
  </div><!--/.nav-collapse -->
{% endif %}
</div>
</div>