{% load members_extras %}
<div id="paymentsDiv">
<table id="paymentsTable" class="table table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Type</th>
            <th>Person</th>
            <th>Reference</th>
            <th class = "text-right">Amount</th>
            <th class = "text-right">Fee</th>
            <th>Banked</th>
            <th>Invoice</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Totals:</th>
            <th class = "text-right">£{{ total }}</th>
            <th class = "text-right">£{{ fees }}</th>
            <th>({{ count }} payments)</th>
            <th></th>
        </tr>
    </tfoot>
    {% for payment in payments %}
    <tr>
        <<td><a href="{% url "payment-detail" payment.id %}">{{ payment.id }}</a></td>
        <td>{{ payment.creation_date|date }}</td>
        <td>{{ payment_types|get_option:payment.type }}</td>
        <td>{{ payment.person.fullname }}</td>
        <td>{% if payment.reference %}{{ payment.reference }}{% endif %}</td>
        <td class = "text-right">£{{ payment.amount }}</td>
        <td class = "text-right">£{{ payment.fee }}</td>
        {#<td>{{ payment_states|get_option:payment.state}}</td>#}
        <td>{% if payment.banked %}Yes{% endif %}</td>
        <td><a href="{% url "invoice-detail" payment.invoice.id %}">{{ payment.invoice.id}}</a></td>
    </tr>
    {% endfor payment %}
</table>
</div>
