{% extends "members/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h2 class="text-center">Change address for:</h2>
  <h4 class="text-center"><a href="{% url "person-detail" pk=person.id %}">{{ person.first_name }} {{ person.last_name }}</a></h4>
  {% if children %}
      {% for child in children %}
          <h4 class="text-center"><a href="{% url "person-detail" pk=child.id %}">{{ child.first_name }} {{ child.last_name }}</a></h4>
      {% endfor child %}
  {% endif %}
    <div class="row justify-content-md-center">
    {% include 'members/_crispy_tile.html' %}
  </div>
{% endblock content %}