{% extends "members/layout.html" %}
{% block head %}
      {% load static %}
<title>BEE Plugin - Integration Example</title>
    {#<meta name="viewport" content="width=device-width, initial-scale=1" />#}
    <style type="text/css">
      * {
        margin:0px;
        padding:0px;
      }
      body {
        overflow:hidden;
        background-color: #CCCCCC;
        color:#000000;
      }
      #bee-plugin-container {
        position: relative;
        height:700px;
        top:40px;
        bottom:30px;
        left:20px;
        right:20px;
      }
      #integrator-bottom-bar {
        position: relative;
        height: 25px;
        bottom:0px;
        left:20px;
        right:0px;
      }
      .btn-file {
        position: relative;
        overflow: hidden;
      }
      .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
      }
      /*.modal {
        display: none;  Hidden by default 
        position: fixed;  Stay in place 
        z-index: 1;  Sit on top 
        padding-top: 100px;  Location of the box 
        left: 0;
        top: 0;
        width: 100%;  Full width 
        height: 100%;  Full height 
        overflow: auto;  Enable scroll if needed 
        background-color: rgb(0,0,0);  Fallback color 
        background-color: rgba(0,0,0,0.4);  Black w/ opacity 
      }*/

/* Modal Content */
/*.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}*/
    </style>
  {% endblock %}
{% block content %}
    
<div id="integrator-bottom-bar">
    <div id="campaign-id" style="display: none;">{{ campaign_id }}</div> 
    <p id="template-name"></p>
    <form class="form-inline">
    <div class="form-group">
        <label for="template">Select template</label>
        <select  class="form-control" id="template">
            <option value="empty">Empty</option>
        </select>
        </div>
    <button type="button" class="btn btn-primary" id="load-template">Load</button>
    <label class="btn btn-primary btn-file">
        Upload template <input type="file" id="upload-template" >
    </label>
    <div class="form-group">
        <label for="integrator-test-email">Test email address</label>
        <input type="email" class="form-control" id="integrator-test-email" placeholder="email">
    </div>
    </form>
</div>
<div id="bee-plugin-container"></div>

<!-- Modal save options -->
<div id="modal-save" class="modal fade" role="dialog">
    <div class="modal-dialog">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">×</span>
    <p>Save options</p>
    <button type="button" class="btn btn-primary" id="save-exit">Save and exit</button>
    <button type="button" class="btn btn-primary" id="save-continue">Save and continue</button>
    <button type="button" class="btn btn-primary" id="save-template">Save as template</button>
  </div>
</div>

</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'members/scripts/Blob.js' %}"></script>
<script src="{% static 'members/scripts/fileSaver.js' %}"></script>
<script src="https://app-rsrc.getbee.io/plugin/BeePlugin.js"></script>
<script src="{% static 'members/scripts/jquery-1.10.2.js' %}"></script>
<script type="text/javascript">

var request = function(method, url, data, type, callback) {
    var req = new XMLHttpRequest();
    console.log(type);
    req.onreadystatechange = function() {
    if (req.readyState === 4 && req.status === 200) {
        var response = JSON.parse(req.responseText);
        callback(response);
    }
    };

    req.open(method, url, true);
    if (data && type) {
    if(type === 'multipart/form-data') {
        var formData = new FormData();
        for (var key in data) {
        formData.append(key, data[key]);
        }
        data = formData;          
    }
    else {
        req.setRequestHeader('Content-type', type);
    }
    }

    req.send(data);
};

var save = function (jsonFile, htmlFile) {
    modal.style.display = "block";
    //ajax_post(document.getElementById("campaign-id").innerHTML,jsonFile, htmlFile)
    //saveAs(
    //new Blob([content], {type: 'text/plain;charset=utf-8'}), 
    //filename
    //); 
};

//var save = function(filename, content) {
//    saveAs(
//    new Blob([content], {type: 'text/plain;charset=utf-8'}), 
//    filename
//    ); 
//};

var specialLinks = [{
    type: 'unsubscribe',
    label: 'SpecialLink.Unsubscribe',
    link: 'http://[unsubscribe]/'
}, {
    type: 'subscribe',
    label: 'SpecialLink.Subscribe',
    link: 'http://[subscribe]/'
}];

var mergeTags = [{
    name: 'tag 1',
    value: '[tag1]'
}, {
    name: 'tag 2',
    value: '[tag2]'
}];

var mergeContents = [{
    name: 'content 1',
    value: '[content1]'
}, {
    name: 'content 2',
    value: '[content1]'
}];

var beeConfig = {  
    uid: 'test1-clientside',
    container: 'bee-plugin-container',
    autosave: 15, 
    language: 'en-US',
    specialLinks: specialLinks,
    mergeTags: mergeTags,
    mergeContents: mergeContents,
    //onSave: function(jsonFile, htmlFile) {
    //    $("#modal-save").modal();
    //},
    onSave: function(jsonFile, htmlFile) { 
        ajax_post("save", document.getElementById("campaign-id").innerHTML, jsonFile, htmlFile);
    },
    onSaveAsTemplate: function(jsonFile) { // + thumbnail? 
    save('newsletter-template.json', jsonFile);
    },
    onAutoSave: function(jsonFile) { // + thumbnail? 
    console.log(new Date().toISOString() + ' autosaving...');
    window.localStorage.setItem('newsletter.autosave', jsonFile);
    },
    onSend: function(htmlFile) {
        ajax_post("send", document.getElementById("campaign-id").innerHTML, undefined, htmlFile);
    },
    onError: function(errorMessage) { 
    console.log('onError ', errorMessage);
    }
};

var bee = null;

var uploadTemplate = function(e) {
    var templateFile = e.target.files[0];
    var reader = new FileReader();

    reader.onload = function() {
    var templateString = reader.result;
    var template = JSON.parse(templateString);
    bee.load(template);
    };

    reader.readAsText(templateFile);
};

var modal = document.getElementById('modal-save');
document.getElementById('upload-template').addEventListener('change', uploadTemplate, false);
document.getElementById('load-template').addEventListener('click', loadTemplateAjax, false);

request(
    'POST', 
    'https://auth.getbee.io/apiauth',
    'grant_type=password&client_id=ab151c30-4d75-496f-b610-733eee85b12b&client_secret=v5Z89TTSVNHXI4QG8DX1qRd8uYixLygn1TO8wrQy78rSWcbvtVP',
    'application/x-www-form-urlencoded',
    function(token) {
    BeePlugin.create(token, beeConfig, function(beePluginInstance) {
        bee = beePluginInstance;
        bee.start();
        ajax_get(bee, document.getElementById("campaign-id").innerHTML);
        });
    });

function loadTemplateAjax() {
    ajax_get(bee, document.getElementById("campaign-id").innerHTML );
}

function setTemplateName(template) {
    title = template.page.title;
    description = template.page.description;
    document.getElementById("template-name").innerHTML = "Titel: " + title + "  Description: " + description;
}

$(document).on('change', ':file', function () {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
});

$(document).ready(function () {
    $(':file').on('fileselect', function (event, numFiles, label) {
        console.log(numFiles);
        console.log(label);
    });
});



// using jQuery to get cookie
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken')

// from django documentation
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
})

    // AJAX for posting
    // This saves a template to our database
function ajax_post(action, campaignId, template, htmlFile) {
    console.log("AJAX post"); // sanity check
    $.post(".", {
        action: action,
        campaignId: campaignId,
        template: template,
        html: htmlFile
    })
    .done(function (json) {
        console.log("Template saved"); // sanity check
        if (action === "save") {
            window.location.href = '/mailcampaign/list/'
        }
    })
    .fail(function (xhr, errmsg, err) {
        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    });
}
    // HTTP get for next page
function httpGetAsync(theUrl, callback) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function () {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
    }
    xmlHttp.open("GET", theUrl, true); // true for asynchronous 
    xmlHttp.send(null);
}

    // AJAX get
    // Requests a template from the database
function ajax_get(bee, campaign) {
    console.log("AJAX get"); // sanity check
    $.get(".", {
        'campaign_id': campaign
    }, function (data, status) {
        //alert("Data: " + data + "\nStatus: " + status);
        var template = JSON.parse(data);
        setTemplateName(template)
        bee.load(template);
    },"json")
    .done(function (json) {
        console.log("Template loaded"); // sanity check
    })
   .fail(function (xhr, errmsg, err) {
        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    );
}
</script>
{% endblock %}