{% extends "members/layout.html" %}

{% block content %}
{% load members_extras %}
<h3>{{ person.fullname }}</h3>
 <form action="." method="post" class="form-inline" id="post-form">
<table>
    <tr>
        <td width="200">Number:</td><td>{{ cnote.id }}</td>
    </tr>
    <tr>
        <td>Year:</td><td>{{ cnote.membership_year }}</td>
    </tr>
     <tr>
        <td>Created:</td><td>{{ cnote.creation_date|date }}</td>
    </tr>
    <tr>
        <td>Invoice:</td><td><a href="{% url "invoice-detail" cnote.invoice.id %}">{{ cnote.invoice.id }}</a></td>
    </tr>

    <tr>
        <td>Amount: </td><td>£{{ cnote.amount }}</td>
    </tr>
    <tr>
        <td>Reference: </td><td>{{ cnote.reference }}</td>
    </tr>
    <tr>
        <td>Detail: </td><td>{{ cnote.detail }}</td>
    </tr>
</table>
</form>
{% endblock %}