{% extends "members/base.html" %}

{% block content %}
{% load members_extras %}
<h3>Credit note</h3>
<h4>
<a href="{% url "person-detail"  person.id %}">{{ person.first_name }} {{ person.last_name }}</a>
</h4>
 <form action="." method="post" class="form-inline" id="post-form">
<table>
    <tr>
        <td width="200">Number:</td><td>{{ cnote.id }}</td>
    </tr>
    <tr>
        <td>Year:</td><td>{{ cnote.membership_year }}</td>
    </tr>
     <tr>
        <td>Created:</td><td>{{ cnote.creation_date|date }} by {{ cnote.user }}</td>
    </tr>
    <tr>
        <td>Invoice:</td><td><a href="{% url "invoice-detail" cnote.invoice_id %}">{{ cnote.invoice.id }}</a></td>
    </tr>

    <tr>
        <td>Amount: </td><td>£{{ cnote.amount }}</td>
    </tr>
    <tr>
        <td>Reference: </td><td>{{ cnote.reference }}</td>
    </tr>
    <tr>
        <td>Detail: </td><td>{{ cnote.detail }}</td>
    </tr>
</table>
{% csrf_token %}
{% if user.is_staff %}
   <br/>
  {% include "members/_confirm.html" with confirm_id="confDelete" confirm_title="Delete credit note" confirm_yes="Delete" confirm_submit="delete" %}
  <a href="#" data-toggle="modal" data-target="#confDelete" class="btn btn-danger">Delete credit note</a>
{% endif %}
</form>
{% endblock %}