{% extends "members/layout.html" %}

{% block content %}
    {% load crispy_forms_tags %}
    <h2>{{ title }}</h2>
    {% crispy form %}
{% endblock %}

{% block scripts %}
<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
<script type="text/javascript">

    tinymce.init({
        selector: '#id_text',
        height : 300,
        width: 800,
        relative_urls : false,
        browser_spellcheck: true,
        plugins: 'code advlist autolink link image lists charmap print preview',

        toolbar1: 'undo redo | styleselect, formatselect, fontselect, fontsizeselect, mybutton',
        toolbar2: 'bold, italic, underline | alignleft, aligncenter, alignright, alignjustify | cut, copy, paste | bullist, numlist | outdent, indent',

        setup: function(editor) {
            editor.addButton('mybutton', {
                text: "Insert text",
                onclick: function () {
                    editor.windowManager.open({
                        title: 'Text block',
                        width: 300,
                        height: 150,
                        body: [
                               {
                                   type: 'listbox',
                                   name: 'textblockid',  
                                   label: 'Select :',
                                   'values': [
                                     {% for block in blocks %}
                                     {{ block|safe }},
                                     {% endfor %}
                                     ]
                               }
                        ],
                        onsubmit: function(e) {
                            getBlock(e.data.textblockid);
                        }
                    }
                    )
                }
            }
          ) 
         }
        });


    // AJAX to get a block of text for insertion
    function getBlock(id) {
        $.ajax({
            url: "", 
            type: "GET",
            data: {
                blockId: id
            }, 

            // handle a successful response
            success: function (json) {
                text = json["text"];
                tinyMCE.execCommand('mceInsertContent', false, text);
            },

            // handle an unsuccessful response
            error: function (xhr, errmsg, err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        }
        )
    }
</script>
{% endblock %}
