{% extends "members/layout.html" %}
{% load staticfiles %}
{% load members_extras %}
{% block content %}
<h2>Group: {{ group.slug }}</h2>
<P>{{ group.description }}</P>

<table id="people" class="table" cellspacing="0" >
   <thead>
         <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Membership</th>
            <th>Email</th>
            <th>View</th>
        </tr>
    </thead>
</table>
<form action="." method="post" class="form-inline" id="post-form">
    {% csrf_token %}
    <input type="submit" name="export" value="Export to Excel" class="btn btn-primary">
    <input type="submit" name="email" value="Send email" class="btn btn-primary">
    <input type="submit" name="invoice" value="Generate invoices" class="btn btn-primary">
    <input type="submit" name="clear" value="Clear all members" class="btn btn-danger">
    <input type="submit" name="delete" value="Delete group" class="btn btn-danger">
</form>

{% endblock content %}
{% block scripts %}
<script type="text/javascript">
var ajaxUrl = "{{ url }}"
</script>
<script src='{% static 'members/scripts/members.js' %}'></script>
{% endblock scripts %}
