{% extends "members/layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="jumbotron">
    <img src="{% static "images/CWLTC logo small.png" %}"/>
    
    <h2>Coombe Wood Lawn Tennis Club</h2>
    <p class="lead">Membership system
    {% if db_name == "sandbox" %}
     [SANDBOX]
    {% elif db_name == "cwltc" %}
     [LOCAL]
    {% endif %}
    </p>
    <p>
    Membership year: {{ membership_year }}
    </p>
    <p><a href={% url 'members-list' %} class="btn btn-primary btn-large">Members list &raquo;</a></p>
    <p><a href="/select" class="btn btn-primary btn-large">Go to person or invoice &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>News</h2>
        <p>GoCardless is live!</p>
        <p>More menu options</p>
    </div>
    <div class="col-md-4">
        <h2>Juniors</h2>
        <a class="btn btn-default" href="{% url 'junior-create' %}">Add junior &raquo;</a>
        <a class="btn btn-default" href="{% url 'juniors-list' %}">List juniors &raquo;</a>
    </div>
    <div class="col-md-4">
        <h2>Admin (restricted)</h2>
        <p><a href="/admin/" class="btn btn-default">Admin &raquo;</a></p>
    </div>

</div>

{% endblock %}
 