{% extends "members/layout.html" %}
{% load staticfiles %}
{% block content %}


  <div class="jumbotron">
  <img src="{% static "images/CWLTC logo small.png" %}"/>
      <h2>Coombe Wood Lawn Tennis Club</h2>
      <p class="lead">Membership system
      {% if site_name  == "Sandbox" %}
       [SANDBOX]
      {% elif site_name == "Dev" %}
       [Local Develeopment]
      {% endif %}
      </p>
      <p>
      Membership year: {{ membership_year }}
      </p>
  </div>
  {% include 'members/_invoice_summary.html' %}
  <div class="row">
      <div class="col-md-4">
        <div class="well">
          <h2>News</h2>
          <p>This site has been moved.</p>
          <p>GoCardless functionality has been updated.</p>
          <p>The members site is coming soon.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
          <h2>Juniors</h2>
          Membership applications can now be done online.
          <br/><br/>
          <a class="btn btn-primary" href="{% url 'public-apply-child' %}">Online application form</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
          <h2>Admin (restricted)</h2>
         <br/><br/>
        <p><a href="/admin/" class="btn btn-primary">Administration</a></p>
      </div>
      </div>

  </div>
{% endblock %}
 