{% extends "members/layout.html" %}
{% load members_extras %}
{% block content %}
<h2>Invoices</h2>

<form action="." method="post" class="form-inline">
    {% csrf_token %}
    <div class="row">
        
        <div class="form-group">
            <label for="id_start_date" class="col-md-5 control-label">Created from</label>
            {{ form.start_date|add_attributes:'datepicker col-md-6' }}
        </div>
        <div class="form-group">
            <label for="id_end_date" class="col-md-2 control-label">To</label>
            {{ form.end_date|add_attributes:'datepicker col-md-6' }}
        </div>
        <div class="form-group">
            <label for="id_paid" class="control-label">Paid</label>
                {{ form.paid }}
        </div>
        <div class="form-group">
            <label for="id_unpaid" class="control-label">Unpaid</label>
                {{ form.unpaid}}
        </div>
        <div class="form-group">
            <label for="id_unpaid" class="control-label">Cancelled</label>
                {{ form.cancelled }}
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update list" class="btn btn-primary btn-xs" />
            </div>
        </div>
        {% if form.errors %}
        <p class="validation-summary-errors">Please enter valid dates</p>
        {% endif %}
    </div>
    <hr />


<table id="invoices" class="table table-condensed">
<thead>
    <tr>
        <th>Number</th>
        <th>State</th>
        <th>Created</th>
        <th>Updated</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email count</th>
        <th class = "text-right">Total</th>
        <th></th>
    </tr>
</thead>
{% if invoices %}
{% for inv in invoices %}
    <tr>
        <td>{{ inv.id }}</td>
        <td>{{ state_list|get_option:inv.state }}</td>
        <td>{{ inv.creation_date|date }}</td>
        <td>{{ inv.update_date|date }}</td>
        <td>{{ inv.person.first_name }}</td>
        <td>{{ inv.person.last_name }}</td> 
        <td>{{ inv.email_count}}</td>
        <td class = "text-right">£{{ inv.total }}</td>
        <td><a href="{% url "invoice-detail" inv.id %}" class="btn btn-primary btn-xs">View</a></td>
    </tr>
{% endfor sub %}
    {% endif %}
</table>
<h4>Total of selected invoices = £{% if total %}{{ total }}{% else %}0{% endif %} ({{ count }} invoices)</h4>

    <input type="submit" name="export" value="Export">
    <input type="submit" name="mail" value="Send mail to unpaid">
    <input type="submit" name="view" value="View test mail">
</form>
{% endblock %}
{% block scripts %}
<script>
    $('#invoices').dataTable({
        "lengthMenu": [[10, 15, 25, 50, -1], [10, 15, 25, 50, "All"]]
    });
    $(document).ready(function () {
        var options = {
            dateFormat: 'dd/mm/yy'
        };
        $('.datepicker').datepicker(options);
        $('#invoices').DataTable();
    });
</script>
{% endblock %}