{% extends "members/layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
<h2>Invoice Item</h2>
<p>
{{ person.first_name }} {{ person.last_name}}
</p>
{% crispy form %}
{% endblock content %}
{% block scripts %}
<script type="text/javascript">
  $(document).ready(function() {
    // Checking support for <input type="date"> using Modernizr:
    // http://modernizr.com/
      var options = {
        dateFormat: 'dd/mm/yy'
      };
      $('.datepicker').datepicker(options);
  });
</script>
{% endblock %}