{% extends "members/layout.html" %}

{% block content %}
{% load crispy_forms_tags %} 

{% if person.id %}
<h1>Edit Junior</h1>
{% else %}
<h1>Add Junior</h1>
{% endif %}

{% crispy form %}
{% endblock content %}
{% block scripts %}
<script type="text/javascript">
  $(document).ready(function() {
    // Checking support for <input type="date"> using Modernizr:
    // http://modernizr.com/
      var options = {
        dateFormat: 'dd/mm/yy'
      };
      $('.datepicker').datepicker(options);
  });
</script>
{% endblock %}