{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
{% endblock %}
{% block header %}
{% endblock %}
{% block navbar %}
  {% include "members/_navbar.html" %}
  {% include "members/_messages.html" %}
{% endblock %}
{% block content %}
{% endblock %}  

{% block scripts %}
  <script src= {% static 'js/typeahead.bundle.js' %}></script>
  <script src="{% static 'js/person_typeahead.js' %}"></script>
  <script>
  $(document).ready(function () {
    bind_typeahead('#search_nav', '#person_nav','#submit_nav')
  });
  </script>
{% endblock %}