{% extends "members/layout.html" %}
{% load members_extras %}
{% block content %}
<h2>Mail message types</h2>
<table id="mailtypes" class="table table-condensed" >
<thead>
        <tr>
        <th>Message type</th>
        <th>Description</th>
        <th>Can unsubscribe</th>
        <th>Unsubscribed</th>
        <th>View</th>
        </tr>
</thead>
{% for mailtype in mailtypes %}
<tr>
    <td>{{ mailtype.name }}</td>
    <td> {{ mailtype.description }}</td>
    <td> {{ mailtype.can_unsubscribe }}</td>
    <td> {{ mailtype.person_set.count }}</td> 
    <td><a href="{% url "mailtype-detail" pk=mailtype.id %}">View</a></td>
</tr>
{% endfor sub %}
</table>
{% endblock %}