{% extends "members/layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
<h4>
<a href="{% url "person-detail"  person.id %}">{{ person.fullname }}</a>
</h4>
<hr />
{% include "members/_invoice_detail.html" %}
<hr />
<h4>Payment</h4>
Go Cardless link: {{ gc_bill_create }}
{% crispy form %}

{% endblock content %} 
{% block scripts %}
<script type="text/javascript">
  $(document).ready(function() {
    // Checking support for <input type="date"> using Modernizr:
    // http://modernizr.com/
      var options = {
        dateFormat: 'dd/mm/yy'
      };
      $('.datepicker').datepicker(options);
  });
</script>
{% endblock %}
