{% extends "members/base.html" %}
{% load members_extras %}
{% block content %}
<h2>Payments</h2>
<form action="." method="post" class="form-inline" id="post-form" role="form">
    {% csrf_token %}
    <div class="row">
        <div class="form-group">
            <label for="id_membership_year">&nbsp Year</label>
            {{ form.membership_year }}
        </div>
        <div class="form-group">
            <label for="id_start_date" >&nbsp Created from</label>
            {{ form.start_date|add_attributes:'datepicker' }}
        </div>
        <div class="form-group">
            <label for="id_end_date">&nbsp To</label>
            {{ form.end_date|add_attributes:'datepicker' }}
        </div>
        <div class="form-group">
            <label for="id_direct_debit">&nbsp Direct debit</label>
                {{ form.direct_debit }}
        </div>
        <div class="form-group">
            <label for="id_bacs">&nbsp BACS</label>
                {{ form.bacs }}
        </div>
        <div class="form-group">
            <label for="id_cheque">&nbsp Cheque</label>
                {{ form.cheque }}
        </div>
        <div class="form-group">
            <label for="id_cash">&nbsp Cash</label>
                {{ form.cash }}
        </div>
        <div class="form-group">
            <label for="id_other">&nbsp Other</label>
                {{ form.other }}
        </div>
    </div>
 
    {% if payments %}
        {% include "members/_payment_list.html" %}
    {% endif %}
   
    <input type="submit" name="export" value="Export to Excel">
</form>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">

    $(document).ready(function () {
        var options = {
            dateFormat: 'dd/mm/yy'
        };
        $('.datepicker').datepicker(options);
        $('#paymentsTable').DataTable({
            "lengthMenu": [[10, 15, 25, 50, -1], [10, 15, 25, 50, "All"]]
        });
    });
    // from django documentation
    function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", $("input[name='csrfmiddlewaretoken']").val());
            }
        }
    })

    // any control change causes an ajax post
    $("[id^='id_']").change(function () {
        console.log("checkbox click!")  // sanity check
        ajax_post()
    });

    function ajax_post() {
        var table = $("#paymentsTable").DataTable();
        $.post("/payment/list/", {
            csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
            membership_year: $('#id_membership_year').val(),
            start_date: $('#id_start_date').val(),
            end_date: $('#id_end_date').val(),
            direct_debit: $('#id_direct_debit').is(":checked"),
            bacs: $('#id_bacs').is(":checked"),
            cheque: $('#id_cheque').is(":checked"),
            cash: $('#id_cash').is(":checked"),
            other: $('#id_other').is(":checked")
        }
        ).done(function (json) {
            var html = json["data"];
            $("#paymentsDiv").html(html);
            $("#paymentsTable").DataTable();
        }
        ).fail(function (xhr, errmsg, err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
        );
    }
</script>
{% endblock %}