{% extends "members/layout.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block head %}
{% endblock %}
{% block content %}

<h3>
<a href="{% url "person-detail"  person.id %}">{{ person.fullname }}</a>
</h3>
<div class="well">
  {% include "members/_invoice_detail.html" %}
</div>
<h4>Payment</h4>
Go Cardless link: {{ gc_bill_create }}
  <div class="row"><div class="col col-md-4">
  <div class="well"> {% crispy form %}</div>
  </div></div>

{% endblock content %}
{% block scripts %}


<script type="text/javascript">
$(document).ready(function() {
    $('#id_banked').change(function() {
        $('#id_banked_date').attr('disabled',!this.checked);
        $('#id_banked_date').val('');
    });
});
</script>

{% endblock %}
