{% extends "members/base.html" %}
{% load members_extras %}
{% block app_title %}
  <div class="app-title"><h3 class="text-center">{{ person.fullname }}</h3></div>
{% endblock %}
{% block content %}
  <form action="." method="post">
    {% csrf_token %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <div class="widget-small {{ membership_colour }}">
            <i class="icon {{ membership_icon }}"></i>
            <div class="info"><h4>{{ membership }}</h4></div>
          </div>
        </div>
        {% if sub %}
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="widget-small {{ sub_colour }}">
              <i class="icon {{ sub_icon }}"></i>
              <div class="info"><h4>Subscription Payment<br>{{ sub_state }}</h4></div>
            </div>
          </div>
        {% endif %}
      </div>
      <!-- Person detail -->
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 p-1">
          <div class="tile mb-1">
            <h5>Person detail</h5>
            <div class="row pb-2">
              <div class="col">Id:</div>
              <div class="col"><b>{{ person.id }}</b></div>
            </div>
            <div class="row pb-2">
              <div class="col">State:</div>
              <div class="col"><b>{{ state }}</b></div>
            </div>
            <div class="row pb-2">
              <div class="col">Date of birth:</div>
              <div class="col"><b>
                {% if person.dob %}{{ person.dob|date }}
                {% else %}Unknown{% endif %}</b>
              </div>
            </div>
            <div class="row pb-2">
              <div class="col">British tennis:</div>
              <div class="col"><b>{{ person.british_tennis }}</b></div>
            </div>
            <div class="row pb-2">
              <div class="col">Joined date:</div>
              <div class="col"><b>{{ person.date_joined|date }}</b></div>
            </div>
            <div class="row pb-2">
              <div class="col">Mobile:</div>
              <div class="col">
                <b>{% if person.mobile_phone %}{{ person.mobile_phone }} {% else %}No mobile{% endif %}</b>
              </div>
            </div>
            <div class="row pb-2">
              <div class="col">Email:</div>
              <div class="col"><b>{{ person.email }}</b></div>
            </div>
            <div class="row pb-2">
              <div class="col">Registered:</div>
              <div class="col">{{ person.auth.id|truth_icon }}</div>
            </div>
            <div class="row pb-2">
              <div class="col">Profile:</div>
              <div class="col">{% if person.adultapplication_set.count %}
                <a href="{% url 'person-profile' pk=person.id %}">View</a>
              {% elif person.juniorprofile_set.count %}
                <a href="{% url 'junior-profile' pk=person.id %}"><b>View</b></a>
              {% else %}
                <b>No profile</b>{% endif %}</div>
            </div>
            <a href="{% url "person-update" pk=person.id %}" class="btn btn-primary btn-sm">Edit details</a>
            {% if person.email %}
              <a href="{% url "email-person" person=person.id %}" class="btn btn-primary btn-sm">Send email</a>
            {% endif %}
            {% if user.is_superuser %}
              {% if can_delete %}
                {% include "members/_confirm.html" with confirm_id="confDelete" confirm_title="Delete person" confirm_yes="Delete" confirm_submit="delete" %}
                <a href="#" data-toggle="modal" data-target="#confDelete" class="btn btn-danger btn-sm">Delete</a>
              {% endif %}
              {% if person.auth %}
                {% include "members/_confirm.html" with confirm_id="confDeregister" confirm_title="Deregister person" confirm_yes="Deregister" confirm_submit="deregister" %}
                <a href="#" data-toggle="modal" data-target="#confDeregister"
                   class="btn btn-danger btn-sm">Deregister</a>
              {% endif %}
              <a href="{% url "person-merge" pk=person.id %}" class="btn btn-danger btn-sm">Merge</a>
            {% endif %}
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 p-1">
          <div class="tile mb-1">
            <h5>Family</h5>
            {% if parent %}
              <h6 class="row p1 {% ifequal parent.id person.id %} app-highlight {% endifequal %}">
                <div class="col">
                  <a href="{% url "person-detail" pk=parent.id %}">{{ parent.fullname }}</a>
                </div>
                <div class="col">
                  {% if parent.sub %}
                    {% if parent.sub.resigned %}
                      Resigned
                    {% else %}
                      {{ parent.sub.membership.description }}
                    {% endif %}
                  {% endif %}
                </div>
              </h6>
              {% for child in children %}
                <h6 class="row p1 {% ifequal child.id person.id %}app-highlight {% endifequal %}">
                  <div class="col"><a href="{% url "person-detail" pk=child.id %}">{{ child.fullname }}</a></div>
                  <div class="col">{{ child.membership.description }}
                    {% if child.state == 3 %} (resigned)
                    {% else %}
                      {% if child.sub %}
                        {% if not child.sub.paid %}(unpaid){% endif %}
                      {% else %}
                        (no sub)
                      {% endif %}
                    {% endif %}
                  </div>
                </h6>
              {% endfor child %}
            {% else %}
              <p><b>Not part of a family</b></p>
            {% endif %}

            {% if parent %}
              <a href="{% url "person-create-link" link=parent.id %}" class="btn btn-primary btn-sm">New family member</a>
            {% elif person.age > 18 %}
              <a href="{% url "person-create-link" link=person.id %}" class="btn btn-primary btn-sm">New family member</a>
            {% endif %}
            {% if person.id != parent.id %}
              <a href="{% url "person-link" pk=person.id %}" class="btn btn-primary btn-sm">Link / unlink parent</a>
            {% endif %}
          </div>

          <!-- Address panel -->
          <div class="tile mt-2 mb-1">
            <h5>Address</h5>
            <p><b>
              {{ address.address1 }}<br/>
              {% if address.address2 %}{{ address.address2 }}<br/>{% endif %}
              {{ address.town }}<br/>
              {{ address.post_code }}<br/>
              {{ address.home_phone }}
            </b></p>
            <a href="{% url "person-address" person_id=person.id %}" class="btn btn-primary btn-sm">
              Edit address
            </a>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 p-1">
          <!-- Subscription panel -->
          <div class="tile mb-1">
            <h5>Current subscription</h5>
            {% if sub %}
              <p><b>
                {% if sub.resigned %}
                  <b>Resigned {{ sub.membership.description }} membership <br/>
                    On {{ sub.end_date }} <br/>
                    {% else %}
                    {{ sub.membership.description }}</b> <br/>
                  From: <b>{{ sub.start_date }}</b> to: <b>{{ sub.end_date }}</b>  </p>
                  State: <b>
                  {% if sub.paid %}
                    Paid
                  {% elif sub.has_unpaid_invoice %}
                    Unpaid invoice
                  {% elif sub.has_items %}
                    Uninvoiced item
                  {% else %}
                    Not billed
                  {% endif %}
                </b>
                  {% if sub.is_special_case %}<span class="label label-info">Special case</span>{% endif %}
                {% endif %}
            {% else %}
              No subscription
            {% endif %}
            <p>
              {% if person.mandates %}
                <a href="{% url "cardless_mandate_person_list" person_id=person.id %}">GoCardless Mandates</a>
              {% endif %}
            </p>
            {% if sub %}
              {% if sub.resigned %}
                <a href="{% url "sub-create" person_id=person.id %}" class="btn btn-primary btn-sm">New sub</a>
              {% else %}
                {% if sub.has_paid_invoice %}
                  <a href="{% url "sub-create" person_id=person.id %}" class="btn btn-primary btn-sm">Change sub</a>
                {% else %}
                  <a href="{% url "sub-update" pk=sub.id %}" class="btn btn-primary btn-sm">Edit sub</a>
                {% endif %}
                {% include "members/_confirm.html" with confirm_id="confResign" confirm_title="Resign person" confirm_yes="Resign" confirm_submit="resign" %}
                <a href="#" data-toggle="modal" data-target="#confResign" class="btn btn-danger btn-sm">Resign</a>
                {% if sub.sub_year < years.0 %}
                  <button type="submit" name="renew" class="btn btn-primary btn-sm">Renew {{ year.0 }}</button>
                {% endif %}
              {% endif %}
            {% else %}
              <a href="{% url "sub-create" person_id=person.id %}" class="btn btn-primary btn-sm">New sub</a>
            {% endif %}

            {% if subs %}
              <a href="{% url "sub-history" person_id=person.id %}" class="btn btn-primary btn-sm">History</a>
            {% endif %}
          </div>
        </div>
      </div><!--/col-->

      <!-- Statment -->
      <div class="row">
        <div class="col-12 p-1 m-0">
          <div class="card my-0 tile-shadow">
            <div class="card-header"><h4>Statements</h4>
              <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                {% for year in years %}
                  <li class="nav-item">
                    <a class="nav-link {% if forloop.first %} active {% endif %}" data-toggle="tab"
                       href="#id_year{{ forloop.counter }}" role="tab">{{ year }} account</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="card-body pt-0">
              <div class="tab-content" id="myTabContent">
                {% for statement in statements %}
                  <div id="id_year{{ forloop.counter }}"
                       class="tab-pane fade {% if forloop.first %} show active {% endif %}" %}
                       role="tabpanel">
                    {% include "members/_statement.html" %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Invoice items -->
        <div class="col-sm-12 col-lg-8 p-1">
          {% include 'members/_card_uninvoiced.html' %}
        </div>

        <!-- Bar and Teas -->
        <div class="col col-lg-4 p-1">
          {% include 'members/_card_pos_sales.html' %}
        </div>
      </div>

        <div class="row">
          <!-- Marketing panel -->
          <div class="col-12 col-sm-6 col-lg-3 p-1">
            <div class="tile">
              <h5>Marketing</h5>
              <div class="row pb-2">
                <div class="col-7">Consent date:</div>
                <div class="col"><b>{{ person.consent_date }}</b></div>
              </div>
              <div class="row pb-2">
                <div class="col-7">Email consent:</div>
                <div class="col">{{ person.allow_email|truth_icon }}</div>
              </div>
              <div class="row pb-2">
                <div class="col-7">Phone consent:</div>
                <div class="col">{{ person.allow_phone|truth_icon }}</div>
              </div>
              <div class="row pb-2">
                <div class="col-7">Allow marketing mails:</div>
                <div class="col">{{ person.allow_marketing|truth_icon }}</div>
              </div>
            </div>
          </div>

          <!-- Unsubscribed panel -->
          <div class="col-12 col-sm-6 col-lg-3 p-1">
            <div class="tile">
              <h5>Unsubscribed list</h5>
              {% if person.unsubscribed.all %}
                {% for type in person.unsubscribed.all %}
                  <p>{{ type.name }}</p>
                {% endfor %}
              {% else %}
                <p><b>No entries</b></p>
              {% endif %}
              <a href="{% url "mailtype-subscribe" person=person.id %}" class="btn btn-primary btn-sm">Change</a>
            </div>
          </div>

          <!-- Groups panel -->
          <div class="col-12 col-sm-6 col-lg-6 p-1">
            <div class="tile">
              <h5>Group membership</h5>
              {% for group in person.groups.all %}
                <div class="row pb-1">
                  <div class="col-8">{{ group.slug }}</div>
                  <div class="col">
                    <button type="submit" name="remove" value="{{ group.slug }}" class="btn btn-danger btn-sm">Remove
                    </button>
                  </div>
                </div>
              {% endfor %}
              <a href="{% url "group-add-person" person_id=person.id %}" class="btn btn-primary btn-sm">Add to a
                group</a>
            </div>
          </div><!--/col-->
        </div><!--/row-->
      </div>
  </form>
{% endblock %}




