{% extends "members/layout.html" %}
{% block content %}
{% load members_extras %}
<h3>{{ person.fullname }}</h3>
 <form action="." method="post" class="form-inline" id={{confirm_form_id}}>
    {% csrf_token %}
      
      <div class="row">
          <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-heading">Person detail</div>
                  <table class="table table-condensed table-detail">
                    <tr><td>Id:</td><td>{{ person.id }} </td></tr>
                    <tr><td>State:</td><td>{{ state }} </td></tr>
                    <tr>
                        <td>Date of birth:</td>
                        <td>
                            {% if person.dob %}{{ person.dob|date }}
                            {% else %}Unknown{% endif %}
                        </td>
                    </tr>
                    <tr><td>British tennis:</td><td>{{ person.british_tennis}}</td></tr>
                    <tr><td>Joined date:</td><td>{{ person.date_joined|date}}</td></tr>
                    <tr>
                        <td>Mobile:</td>
                        <td>
                            {% if person.mobile_phone %}{{ person.mobile_phone }} {% else %}No mobile{% endif %}
                        </td>
                    </tr>
                    <tr><td>Email:</td><td>{{ person.email }} </td></tr>
                    <tr><td>Registered:</td><td>{% if person.auth_id %}Yes{% else %}No{% endif %}</td></tr>
                    <tr><td>Profile:</td><td>{% if person.adultapplication_set.count %}
                      <a href="{% url 'person-profile' pk=person.id %}">View</a>
                    {% elif person.juniorprofile_set.count %}
                      <a href="{% url 'junior-profile' pk=person.id %}">View</a>
                      {% else %}
                      No profile{% endif %}</td></tr>
                    <tr><td>Database-email</td><td>{{ person.allow_email }}</td></tr>
                    <tr><td>Database-phone</td><td>{{ person.allow_phone }}</td></tr>
                    <tr><td>Allow marketing</td><td>{{ person.allow_marketing }}</td></tr>
                    <tr><td>Consent-date</td><td>{{ person.consent_date }}</td></tr>
                  </table>
   
                  <div class="panel-footer">
                      <a href="{% url "person-edit" pk=person.id %}" class="btn btn-primary btn-sm">Edit details</a> 
                        {% if person.email %}
                          <a href="{% url "email-person" person=person.id %}" class="btn btn-primary btn-sm">Send email</a>
                        {% endif %}                                                        
                      {% if user.is_staff %}
                        {% if can_delete %}
                          {% include "members/_confirm.html" with confirm_id="confDelete" confirm_title="Delete person" confirm_yes="Delete" confirm_submit="delete" %}
                          <a href="#" data-toggle="modal" data-target="#confDelete" class="btn btn-danger btn-sm">Delete</a>
                        {% endif %}
                        {% if person.auth %}
                          {% include "members/_confirm.html" with confirm_id="confDeregister" confirm_title="Deregister person" confirm_yes="Deregister" confirm_submit="deregister" %}
                          <a href="#" data-toggle="modal" data-target="#confDeregister" class="btn btn-danger btn-sm">Deregister</a>
                        {% endif %}
                      {% endif %}
                  </div>
              </div>
          </div>
          <!-- Address panel -->
          <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-heading">Address</div>
                  <div class="panel-body">
                      {{ address.address1 }}<br />
                      {% if address.address2 %}{{ address.address2 }}<br />{% endif %}
                      {{ address.town }}<br />
                      {{ address.post_code }}<br />
                      {{ address.home_phone }}
                  </div>
                  <div class="panel-footer">
                      <a href="{% url "person-address" person_id=person.id %}" class="btn btn-primary btn-sm">
                          Edit address
                      </a>
                  </div>
              </div>
          </div>
          <!-- Family panel -->
          <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-heading">Family</div>

                  <table class="table table-detail">
                  {% if parent %}
                    {% ifequal parent.id person.id %}<tr class="info">{% else %}<tr>{% endifequal %}
                      <td><strong><a href="{% url "person-detail" pk=parent.id %}">{{ parent.fullname }}</a></strong></td>
                      <td> 
                          {% if parent.sub %}
                              {% if parent.sub.resigned %}
                                  Resigned
                              {% else %}
                                  {{ parent.sub.membership.description }}
                              {% endif %}
                          {% endif %}
                      </td>
                      {% for child in children %}
                      </tr>
                      {% ifequal child.id person.id %}<tr class="info">{% else %}<tr>{% endifequal %}
                        <td><a href="{% url "person-detail" pk=child.id %}">{{ child.fullname }}</a></td>
                        <td>{{ child.membership.description }}
                          {% if child.state == 3 %} (resigned)
                          {% else %}
                            {%  if child.sub %}
                              {%  if not child.sub.paid %}(unpaid){% endif %}
                            {% else %}
                              (no sub)
                            {%  endif %}
                          {% endif %}
                        </td>
                          </tr>
                      {% endfor child %}
                  {% else %}
                      <tr></tr>
                      <tr><td>Not part of a family</td></tr>
                  {% endif %}
                  </table>

                  <div class="panel-footer">
                      {% if parent %}
                      <a href="{% url "person-create" link=parent.id %}" class="btn btn-primary btn-sm">New family member</a>
                      {% elif person.age > 18 %}
                      <a href="{% url "person-create" link=person.id %}" class="btn btn-primary btn-sm">New family member</a>
                      {% endif %}
                      {% if person != parent %}
                      <a href="{% url "person-link" pk=person.id %}" class="btn btn-primary btn-sm">Link to a parent</a>
                      {% endif %}
                  </div>
              </div>
          </div><!--/col-->
      </div><!--/row-->
        
      <div class="row">
        <!-- Subscription panel -->
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">Current subscription</div>
              <div class="panel-body">
                {% if sub %}
                  {% if sub.resigned %}
                    Resigned {{ sub.membership.description }} membership <br />
                    On {{ sub.end_date }} <br />
                  {% else %}
                    {{ sub.membership.description }} <br />
                    From {{ sub.start_date }} to {{ sub.end_date }} <br />
                    State:
                    {% if sub.paid %}
                        Paid
                    {% elif sub.has_unpaid_invoice %}
                        Unpaid invoice
                    {% elif sub.has_items %}
                        Uninvoiced item
                    {% else %}
                        Not billed
                    {% endif %}
                  {% endif %}
                {% else %}
                  No subscription
                {% endif %}
                {% if person.mandates %}
                  <br />
                  <a href="{% url "cardless_mandate_person_list" person_id=person.id %}">GoCardless Mandates</a>
                {% endif %}
              </div>
              <div class="panel-footer">
                {% if sub %}
                  {% if sub.resigned %}
                    <a href="{% url "sub-create" person_id=person.id %}" class="btn btn-primary btn-sm">New sub</a>
                  {% else %}
                    {% if sub.has_paid_invoice %}
                      <a href="{% url "sub-create" person_id=person.id %}" class="btn btn-primary btn-sm">Change sub</a>
                    {% else %}
                      <a href="{% url "sub-update" pk=sub.id %}" class="btn btn-primary btn-sm">Edit sub</a>
                    {% endif %}                                             
                    {% include "members/_confirm.html" with confirm_id="confResign" confirm_title="Resign person" confirm_yes="Resign" confirm_submit="resign" %}
                    <a href="#" data-toggle="modal" data-target="#confResign" class="btn btn-danger btn-sm">Resign</a>
                    {% if sub.sub_year < years.0 %}
                      <button type="submit" name="renew" class="btn btn-primary btn-sm">Renew {{ year.0 }}</button>
                    {% endif %}
                  {% endif %}
                {% else %}
                  <a href="{% url "sub-create" person_id=person.id %}" class="btn btn-primary btn-sm">New sub</a>
                {% endif %}

                {% if subs %}
                  <a href="{% url "sub-history" person_id=person.id %}" class="btn btn-primary btn-sm">History</a>                      
                {% endif %} 
              </div>
            </div>
        </div><!--/col-->
        <!-- Groups panel -->
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">Groups</div>

              <table class="table table-condensed table-detail">
              {% for group in person.groups.all %}
                <tr>
                <td width="75%">{{ group.slug }}</td>
                <td>
                <button type="submit" name="remove" value="{{ group.slug }}" class="btn btn-danger btn-xs">Remove</button>
              {% endfor %}
              </table>

            <div class="panel-footer">
              <a href="{% url "group-add-person" person_id=person.id %}" class="btn btn-primary btn-sm">Add to a group</a>
            </div>
          </div>
        </div><!--/col-->
        <!-- Unsubscribed panel -->
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">Unsubscribed list</div>
            <div class="panel-body">
              <table class="table-condensed">
                {% for type in person.unsubscribed.all %}
                  <tr>
                  <td>{{ type.name }}</td>
                  <td>
                {% endfor %}
              </table>
            </div>
            <div class="panel-footer">
              <a href="{% url "mailtype-subscribe" person=person.id %}" class="btn btn-primary btn-sm">Change</a>
            </div>
          </div>
        </div><!--/col-->
      </div> <!--/row-->


    {% if statements %}
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
          <ul class="nav nav-tabs">       
            <li><a data-toggle="tab" href="#id_unbilled">Uninvoiced items</a></li>
            {% for year in years %}
              <li{% if forloop.first %} class="active" {% endif %}><a data-toggle="tab" href="#id_year{{ forloop.counter }}">{{ year }} account</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="tab-content">
          <div id="id_unbilled" class="tab-pane fade">
            {% if items %}
              {% include "members/_invoiceitem_list.html" %}
            {% else %}
              <br/><p>No uninvoiced items</p>
            {% endif %}
          </div>
          {% for statement in statements %}
            <div id="id_year{{ forloop.counter }}" class="tab-pane fade {% if forloop.first %} in active {% endif %}"%}">
              {% include "members/_statement.html" %}
            </div>   
          {% endfor %}
        </div>
        <div class="panel-footer">
          <a href="{% url "item-create" person_id=person.id %}" class="btn btn-primary btn-sm">Create item</a>
          {% if items %}
            <button type="submit" name="invoice" class="btn btn-primary btn-sm">Generate an invoice</button>
          {% endif %}
          <a href="{% url "creditnote-create" person_id=person.id %}" class="btn btn-warning btn-sm">Create manual credit note</a>
        </div>
      </form>
    {% else %}
      No statement of account
    {% endif %}
  </form>
{% endblock %}




