{% extends "members/layout.html" %}

{% block content %}
{% load members_extras %}

<h3>{{ person.fullname }}</h3>
 <form action="." method="post" class="form-inline" id={{confirm_form_id}}>
    {% csrf_token %}
    <div class="container">
      
      <div class="row">
          <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-heading">
                  {% if person.email %}{{ person.email }}{% else %}No email address{% endif %}
                  </div>                                                
                  <table class="table table-condensed">
                      <tr><td>Id:</td><td>{{ person.id }} </td></tr>
                      <tr><td>State</td><td>{{ person.state }} </td></tr>
                      <tr>
                          <td>Date of birth:</td>
                          <td>
                              {% if person.dob %}{{ person.dob|date }}
                              {% else %}Unknown{% endif %}
                          </td>
                      </tr>
                      <tr><td>British tennis:</td><td>{{ person.british_tennis}}</td></tr>
                      <tr><td>Joined date:</td><td>{{ person.date_joined|date}}</td></tr>
                      <tr>
                          <td>Mobile:</td>
                          <td>
                              {% if person.mobile_phone %}{{ person.mobile_phone }} {% else %}No mobile{% endif %}
                          </td>
                      </tr>
                  </table>


                  <div class="panel-footer">
                      <a href="{% url "person-edit" pk=person.id %}" class="btn btn-primary btn-sm">Edit details</a> 
                        {% if person.email %}
                          <a href="{% url "email-person" person=person.id %}" class="btn btn-primary btn-sm">Send email</a>
                        {% else %}No email address{% endif %}                                                        
                      {% if user.is_staff %}
                        {% include "members/_confirm.html" with confirm_id="confDelete" confirm_title="Delete person" confirm_yes="Delete" confirm_submit="delete" %}
                        <a href="#" data-toggle="modal" data-target="#confDelete" class="btn btn-danger btn-sm">Delete person</a>
                      {% endif %}
                  </div>
              </div>
          </div>
          <!-- Address panel -->
          <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-heading">Address</div>
                  <div class="panel-body">
                      {{ address.address1 }}<br />
                      {% if address.address2 %}{{ address.address2 }}<br />{% endif %}
                      {{ address.town }}<br />
                      {{ address.post_code }}<br />
                      {{ address.home_phone }}
                  </div>
                  <div class="panel-footer">
                      <a href="{% url "person-address" person_id=person.id %}" class="btn btn-primary btn-sm">
                          Edit address
                      </a>
                  </div>
              </div>
          </div>
          <!-- Family panel -->
          <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-heading">Family</div>

                  <table class="table table-condensed">
                  {% if parent %}
                    {% ifequal parent.id person.id %}<tr class="info">{% else %}<tr>{% endifequal %}
                      <td><strong><a href="{% url "person-detail" pk=parent.id %}">{{ parent.fullname }}</a></strong></td>
                      <td> 
                          {% if parent.sub %}
                              {% if parent.sub.resigned %}
                                  Resigned
                              {% else %}
                                  {{ parent.sub.membership.description }}
                              {% endif %}
                          {% endif %}
                      </td>
                      {% for child in children %}
                      </tr>
                      {% ifequal child.id person.id %}<tr class="info">{% else %}<tr>{% endifequal %}
                              <td><a href="{% url "person-detail" pk=child.id %}">{{ child.fullname }}</a></td>
                              <td>{{ child.membership.description }}</td>
                          </tr>
                      {% endfor child %}
                  {% else %}
                      <tr></tr>
                      <tr><td>Not part of a family</td></tr>
                  {% endif %}
                  </table>

                  <div class="panel-footer">
                      {% if parent %}
                      <a href="{% url "person-create" link=parent.id %}" class="btn btn-primary btn-sm">New family member</a>
                      {% elif person.age > 18 %}
                      <a href="{% url "person-create" link=person.id %}" class="btn btn-primary btn-sm">New family member</a>
                      {% endif %}
                      {% if person != parent %}
                      <a href="{% url "person-link" pk=person.id %}" class="btn btn-primary btn-sm">Link to a parent</a>
                      {% endif %}
                  </div>
              </div>
          </div><!--/col-->
      </div><!--/row-->
        
      <div class="row">
        <!-- Subscription panel -->
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">Current subscription</div>
              <div class="panel-body">
                {% if sub %}
                  {% if sub.resigned %}
                    Resigned {{ sub.membership.description }} membership <br />
                    On {{ sub.end_date }} <br />
                  {% else %}
                    {{ sub.membership.description }} <br />
                    From {{ sub.start_date }} to {{ sub.end_date }} <br />
                    State:
                    {% if sub.paid %}
                        Paid
                    {% elif sub.has_unpaid_invoice %}
                        Unpaid invoice
                    {% elif sub.has_items %}
                        Uninvoiced item
                    {% else %}
                        Not billed
                    {% endif %}
                  {% endif %}
                {% else %}
                  No subscription
                {% endif %}
              </div>
              <div class="panel-footer">
                {% if sub %}
                  {% if sub.resigned %}
                    <a href="{% url "sub-create" person_id=person.id %}" class="btn btn-primary btn-sm">Change subscription</a>
                  {% else %}
                    {% if sub.has_paid_invoice %}
                      <a href="{% url "sub-create" person_id=person.id %}" class="btn btn-primary btn-sm">Change subscription</a>
                    {% else %}
                      <a href="{% url "sub-update" pk=sub.id %}" class="btn btn-primary btn-sm">Edit current sub</a>
                    {% endif %}                                             
                    {% include "members/_confirm.html" with confirm_id="confResign" confirm_title="Resign person" confirm_yes="Resign" confirm_submit="resign" %}
                    <a href="#" data-toggle="modal" data-target="#confResign" class="btn btn-danger btn-sm">Resign person</a>
                  {% endif %}
                {% else %}
                  <a href="{% url "sub-create" person_id=person.id %}" class="btn btn-primary btn-sm">New subscription</a>
                {% endif %}
                {% if subs %}
                  <a href="{% url "sub-history" person_id=person.id %}" class="btn btn-primary btn-sm">History</a>                      
                {% endif %}
              </div>
            </div>
        </div><!--/col-->
        <!-- Groups panel -->
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">Groups</div>
            <div class="panel-body">
              <table>
              {% for group in person.groups.all %}
                <tr>
                <td width="75%">{{ group.slug }}</td>
                <td>
                <button type="submit" name="remove" value="{{ group.slug }}" class="btn btn-danger btn-xs">Remove</button>
              {% endfor %}
              </table>
            </div>
            <div class="panel-footer">
              <a href="{% url "group-add-person" person_id=person.id %}" class="btn btn-primary btn-sm">Add to a group</a>
            </div>
          </div>
        </div><!--/col-->
        <!-- Unsubscribed panel -->
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">Unsubscribed list</div>
            <div class="panel-body">
              <table class="table-condensed">
                {% for type in person.unsubscribed.all %}
                  <tr>
                  <td>{{ type.name }}</td>
                  <td>
                {% endfor %}
              </table>
            </div>
            <div class="panel-footer">
              <a href="{% url "mailtype-subscribe" person=person.id %}" class="btn btn-primary btn-sm">Change</a>
            </div>
          </div>
        </div><!--/col-->
      </div> <!--/row-->
    </div>

    {% if statements %}
      <h4>Statement of account</h4>
   <div class="panel with-nav-tabs panel-default">
     <div class="panel-heading">
       <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#id_unbilled">Unbilled</a></li>
        <li><a data-toggle="tab" href="#id_year1">{{ year1 }}</a></li>
        <li><a data-toggle="tab" href="#id_year2">{{ year2 }}</a></li>
       </ul>
      </div>
      <div class="tab-content">

          <div id="id_unbilled" class="panel-body tab-pane fade in active">
            {% if items %}
              {% include "members/_invoiceitem_list.html" %}
              <a href="{% url "invoice-generate" pk=person.id %}" class="btn btn-primary">Generate an invoice</a>
            {% else %}
              <h4>No uninvoiced items</h4>
            {% endif %}
            <div class="panel-footer">
              <a href="{% url "item-create" person_id=person.id %}" class="btn btn-primary">Create item</a>

            </div>
          </div>


     
        {% for statement in statements %}
          <div id="id_year{{ forloop.counter }}" class="tab-pane fade">
            {% include "members/_statement.html" %}
          </div>   
        {% endfor %}
      </div>
      <div class="panel-footer">
        <div class="tab-content">
          <div id="id_unbilled" class="tab-pane fade in active">
           <a href="{% url "item-create" person_id=person.id %}" class="btn btn-primary">Create item</a>
         </div>
       </div>
      </div>
     </div>
    {% endif %}

    


</form>


{% endblock %}




