{% extends "members/layout.html" %}
{% load members_extras %}
{% block content %}
<h2>Members</h2>
<h4>{{ tags }}</h4><br />
<table id="people" class="display" cellspacing="0" >
   <thead>
         <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Membership</th>
            <th>Age</th>
            <th>View</th>
            <th>Edit</th>
        </tr>
    </thead>
    {% for person in object_list %}
    <tr>
        <td>{{ person.first_name }}</td> 
        <td>{{ person.last_name }}</td>
        <td>{{ mem_dict|get_item:person.membership_id }}</td>  
        <td>{{ person.age_today }}</td>
        <td><a href="{% url "person-detail" pk=person.id %}"class="btn btn-primary btn-xs">View</a></td>        
        <td><a href="{% url "person-edit" pk=person.id %}"class="btn btn-primary btn-xs">Edit</a></td>
    </tr>
    {% endfor %}
</table>
<a href="{% url "filter" %}" class="btn btn-primary">Filter</a> 
{% endblock %}

{% block scripts %}
<script>
    $('#people').dataTable({
        "lengthMenu": [[10, 15, 25, 50, -1], [10, 15, 25, 50, "All"]]
    });
    $(document).ready(function () {
        $('#people').DataTable();
    });
</script>
{% endblock %}
