{% extends "members/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load render_table from django_tables2 %}
{% block head %}{{ filter.form.media }}{% endblock %}
{% block content %}
  <form method="get">
    <div class="app-title">
      {% if filter %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg pr-0">
              <h3 class="mt-3 p-2">{{ table_title }}</h3>
            </div>

            <!--  Year and state must be present but are hidden except in members view -->

            <div class="form-group col-sm-6 col-md-4 col-lg pr-0">
              {{ filter.form.year.label_tag }}
              {% render_field filter.form.year class="form-control form-control-sm" %}
            </div>
            {% if members %}
              <div class="form-group col-sm-6 col-md-4 col-lg pr-0">
                {{ filter.form.state.label_tag }}
                {% render_field filter.form.state class="form-control form-control-sm" %}
              </div>
            {% endif %}
            <!-- -->
            <div class="form-group col-sm-6 col-md-4 col-lg pr-0">
              {{ filter.form.membership.label_tag }}
              {% render_field filter.form.membership class="form-control form-control-sm" %}
            </div>
            {% if members %}
              <div class="form-group col-sm-6 col-md-4 col-lg pr-0">
                {{ filter.form.adult.label_tag }}
                {% render_field filter.form.adult class="form-control form-control-sm" %}
              </div>
              <div class="form-group col-sm-6 col-md-4 col-lg pr-0">
                {{ filter.form.playing.label_tag }}
                {% render_field filter.form.playing class="form-control form-control-sm" %}
              </div>
            {% endif %}
            <div class="form-group col-sm-6 col-md-4 col-lg pr-0">
              {{ filter.form.paid.label_tag }}
              {% render_field filter.form.paid class="form-control form-control-sm" %}
            </div>
            {% if juniors %}
              <div class="form-group col-sm-6 col-md-4 col-lg pr-0">
                {{ filter.form.dob1.label_tag }}
                {% render_field filter.form.dob1 class="form-control form-control-sm" placeholder="DD/MM/YYYY" %}
              </div>
              <div class="form-group col-sm-6 col-md-4 col-lg pr-0">
                {{ filter.form.dob2.label_tag }}
                {% render_field filter.form.dob2 class="form-control form-control-sm" placeholder="DD/MM/YYYY" %}
              </div>

            {% endif %}
            <!--Search button on right side-->
            <div class="form-group col-sm-6 col-md-4 col-lg-2">
              <label for="id_search">&nbsp</label>
              <button class="form-control form-control-sm btn btn-primary btn-sm" id="id_search" type="submit">
                <i class="fa fa-search"></i> Search
              </button>
            </div>


          </div> <!-- row -->
        </div> <!-- tile -->
      {% else %}
        <h3>{{ table_title }}</h3>
      {% endif %}
    </div>
  </form>
  <div id="id_loader" style="display: none">
    <div class="text-center">
      <div class="m-overlay mr-4">
        <svg class="m-circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="6" stroke-miterlimit="10"/>
        </svg>
      </div>
      <h3 class="l-text">Loading</h3>
    </div>
  </div>
  <form method="post" action="." class="form-inline">{% csrf_token %}
    <!-- ACTIONS -->
    <div class="tile my-1 py-1 px-2" id="id_action_form" style="width: 40rem;">

      <div class="row">
        {% csrf_token %}
        <div class="col">
          <span id="id-count">0</span> of {{ table.rows|length }} rows selected
        </div>
        <div class="col">

          <select class="form-control form-control-sm" id="id_action" , name="action">
            {% for action in actions %}
              <option value="{{ action.1 }}" {% if forloop.counter == 1 %}selected{% endif %}>{{ action.0 }}</option>
            {% endfor %}
          </select>
          <button class="form-control form-control-sm btn btn-primary btn-sm" name="go" id="id_go" type="submit">Go
          </button>
        </div>
      </div>
    </div>

    <div class="container-fluid p-0">
      <div class="tile m-0 p-0" id="id_table">

        {% render_table table 'django_tables2/table.html' %}
      </div>
    </div>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'members/scripts/table_checkboxes.js' %}"></script>
{% endblock %}