{% extends "members/base.html" %}
{% block content %}
<h2>{{ title }}</h2>
<h3>{{ person.fullname }}</h3>
  <p>Id: {{ person.id }}</p>
<p>{{info}}</p>
<div class="row">
  <div class="col-md-4 col-sm-8">
    <form action="/search/person/">
      <div class="form-group">
        <label for="text_id">Target person:</label>
        <input type="text" id="text_id" class="form-control typeahead tt-query"
                autocomplete="on" spellcheck="false" placeholder="Enter name">
      </div>
    </form>

    <form  action="." method="post">{% csrf_token %}
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="person_id">Id:</label>
        <input name="person_id" id="person_id" class="form-control" value="" readonly />
      </div>
    </div>
    <br>
    <input type="submit" name="action1" class="btn btn-primary" value="{{ action1 }}" />
    {% if action2 %}
      <input type="submit" name="action2" class="btn btn-primary" value="{{ action2 }}" />
    {% endif %}
    <input type="submit" name="cancel" class="btn btn-default" value="Cancel" />
    </form>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
$(document).ready(function () {
  bind_typeahead('#text_id', '#person_id', "");
});
</script>

{% endblock %}