{% extends "members/layout.html" %}
{% load widget_tweaks %}
{% load render_table from django_tables2 %}
{% block content %}
  <form method="get">
    <div class="well" style="padding:10px">
      <div class="row">
          {% if juniors is False %}
             <div class="form-group col-sm-3 col-md-2">
              {{ filter.form.year.label_tag }}
              {% render_field filter.form.year class="form-control" %}
            </div>
            <div class="form-group col-sm-3 col-md-2">
              {{ filter.form.state.label_tag }}
              {% render_field filter.form.state class="form-control" %}
            </div>
          {% endif %}
        <div class="form-group col-sm-3 col-md-2">
          {{ filter.form.membership.label_tag }}
          {% render_field filter.form.membership class="form-control" %}
        </div>
        {% if juniors is False %}
        <div class="form-group col-sm-3 col-md-2">
          {{ filter.form.adult.label_tag }}
          {% render_field filter.form.adult class="form-control" %}
        </div>
        <div class="form-group col-sm-3 col-md-2">
          {{ filter.form.playing.label_tag }}
          {% render_field filter.form.playing class="form-control" %}
        </div>
        {% endif %}
        <div class="form-group col-sm-3 col-md-2">
          {{ filter.form.first_name.label_tag }}
          {% render_field filter.form.first_name class="form-control" %}
        </div>
        <div class="form-group col-sm-3 col-md-2">
          {{ filter.form.last_name.label_tag }}
          {% render_field filter.form.last_name class="form-control" %}
        </div>
        <div class="form-group col-sm-3 col-md-2">
          {{ filter.form.dob1.label_tag }}
          {% render_field filter.form.dob1 class="form-control" placeholder="DD/MM/YYYY"%}
        </div>
        <div class="form-group col-sm-2 col-md-2">
          {{ filter.form.dob2.label_tag }}
          {% render_field filter.form.dob2 class="form-control" placeholder="DD/MM/YYYY" %}
        </div>
        <div class="form-group col-sm-3 col-md-2">
          {{ filter.form.paid.label_tag }}
          {% render_field filter.form.paid class="form-control" %}
        </div>
        <div class="form-group col-sm-3 col-md-2">
          <label for="id_search"> &nbsp;</label>
          <button class="form-control btn-primary " id="id_search" type="submit">
            <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
      </div>

    </div>
  </form>
<form action="." method="post" class="form-inline"> 
     {% csrf_token %}
    <div class="panel">
        <select class="form-control col-sm-3 col-md-2" id="id_action", name="action">
            <option value="none" selected="selected">No action</option>
            <option value="export">Export</option>
            <option value="mail">Mail</option>
            <option value="group">Add to group</option>
        </select>
        <button class="form-control button btn-primary"  name="go" type="submit">Go</button>
        &nbsp &nbsp
        <span id="id-count">0</span> of {{ table.rows|length }} rows selected
    </div>
    <div class="panel panel-primary">
         <div class="panel-body" style="max-height: 60%;overflow-y: scroll;">
            {% render_table table 'django_tables2/table.html'%}
        </div>
        
    </div>
</form>
{% endblock %}
{% block scripts %}   
<script language="JavaScript">
    $(document).ready(function () {
        countChecked();
        console.log("ready");
    });

function toggle(source) {
    checkboxes = document.getElementsByName('selection');
    var count=0
    for (var i in checkboxes)
        checkboxes[i].checked = source.checked;
    countChecked();
}

function countChecked() {
    var count = document.querySelectorAll('.rowcheckbox:checked').length;
    document.getElementById("id-count").innerText = count
    }
</script>
   
{% endblock %}