
{% extends "members/layout.html" %}
{% block content %}
<h2>Search</h2>

<div class="ui-widget">
  <label for="searchName">Search name: </label>
  <input id="searchName">
</div>
<input id="hiddenId" value = ""/>

{% endblock content %}
{% block scripts %}
<script type="text/javascript">
$(function() {
  $("#searchName").autocomplete({
    source: "/ajax/people/",
    minLength: 3,
    change: function(event, ui) {
        $("#hiddenId").val("XX");
    },
    select: function(event, ui) {
        $("#hiddenId").val(ui.item.id);
    }
  });
})
</script>
{% endblock scripts %}