{% extends "members/layout.html" %}
{% block content %}
<h2>{{ title }}</h2>
<h3>{{ person }}</h3>
<p>{{info}}</p>

<form action="/search/person/">
  <div class="form-group">
    <label for="text_id">Target person:</label>
    <input type="text" id="text_id" class="form-control typeahead tt-query"
            autocomplete="on" spellcheck="false" placeholder="Enter name">    
  </div>

</form>

<form  action="." method="post">{% csrf_token %}
<div class="row">
  <div class="form-group col-sm-3 col-md-2">
    <label for="person_id">Id:</label>
    <input name="person_id" id="person_id" class="form-control" value="" readonly />
  </div>
 </div>
<br />
  <input type="submit", name="link" class="btn btn-primary" value="{{ action }}" />
  <input type="submit", name="cancel" class="btn btn-default" value="Cancel" />
</form>

{% endblock content %}

{% block scripts %}
<script>
$(document).ready(function () {
  bind_typeahead('#text_id', '#person_id', "");
});
</script>

{% endblock %}