<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'members/content/bootstrap.min.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resignation from Coombe Wood</title>
</head>
<body>
    <div class="container">
     <img src="{% static "members/content/CWLTC logo small.png" %}"/>
    <h2>Coombe Wood LTC</h2>
Your request to resign has been received and noted. <br />
If there are any outstanding bills from last year we will send a revised invoice shortly.
</div>
</body>
</html>
