{% extends "members/base.html" %}
{% block content %}
<h2>Subscription</h2>

<h4>
<a href="{% url "person-detail"  object.person_member_id %}">{{ subscription.person_member.first_name }} {{ subscription.person_member.last_name }}</a>
</h4>
<table id="sub" class="table table-sm">
    <tr>
        <td>Subscription year:</td><td>{{ subscription.sub_year}}</td>      
    </tr>
    <tr>
        <td>Start date:</td><td>{{ subscription.start_date|date }}</td>      
    </tr>
    <tr>
        <td>End date:</td><td>{{ subscription.end_date|date }}</td>      
    </tr>
    <tr>
        <td>Sub type:</td><td>{{ subscription.period }}</td>      
    </tr>
    <tr>
        <td>Membership:</td><td>{{ subscription.membership.description }}</td>      
    </tr>
    <tr>
        <td>New member:</td><td>{{ subscription.new_member }}</td>      
    </tr>
    <tr>
        <td>Active:</td><td>{{ subscription.active }}</td>      
    </tr>
    <tr>
        <td>Last invoiced month:</td><td>{{ subscription.invoiced_month}}</td>      
    </tr>
    <tr>
        <td>Do not renew:</td><td>{{ subscription.no_renewal }}</td>      
    </tr>
</table>
{% if items %}
<h4>Linked invoice items</h4>
<table id="sub" class="table table-sm">
    {% for item in items %}
    <tr>
        <td><a href="{% url "item-update" item.id %}" class="btn btn-primary btn-sm">Edit</a></td>
        <td>{{ item.item_date|date }}</td>
        <td>{{ item.description}}</td>
        <td>
        {% if item.paid %}
            Paid
        {% else %}
            Unpaid
        {% endif %}          
        </td>
        <td>{% if item.invoice %}
          <a href= "{% url "invoice-detail" item.invoice.id %}" >Invoice: {{ item.invoice.id }}</a>
        {% else %}
          No invoice
        {% endif %}</td>
        <td class = "text-right">£{{ item.amount }}</td>
    </tr>
    {% endfor item %}
</table>
{% else %}
  <p>No linked item</p>
{% endif %}
  <a href="{% url "sub-update"  subscription.id %}" class="btn btn-primary">Edit subscription</a>
{##}
{#  <a href="{% url "invoice-update"  subscription.id %}" class="btn btn-warning">Cancel unpaid invoices and delete unpaid items</a>#}
{#{% if items %}#}
{#    {% if cancel_invoice %}#}
{#        <a href="{% url "sub-invoice-cancel"  subscription.id %}" class="btn btn-warning">Cancel unpaid invoices and delete unpaid items</a>#}
{#      {% endif %}#}
{#    {% if delete_unpaid %}#}
{#        <a href="{% url "sub-invoice-cancel"  subscription.id %}" class="btn btn-warning">Delete unpaid items</a>   #}
{#    {% endif %}#}
{#{% endif %}#}
{% endblock content %}