{% extends "members/layout.html" %}
{% load members_extras %}
{% block content %}
<h2>Subscription history</h2>
<h4>
<a href="{% url "person-detail"  person.id %}">{{ person.fullname }}</a>
</h4>
<table id="subs" class="table table-condensed" >
<thead>
        <tr>
        <th>Action</th>
        <th>Year</th>
        <th>From</th>
        <th>To</th>
        <th>Membership</th>
        <th>Payment state</th>
    </tr>
</thead>
{% for sub in subs %}
<tr>
    <td>
    {% if sub.active %}
        <a href="{% url "sub-update" sub.id %}" class="btn btn-primary btn-xs">Edit </a>
    {% else %}
        <a href="{% url "sub-detail" sub.id %}" class="btn btn-primary btn-xs">View</a>
    {% endif %}
    </td>
    <td>{{ sub.sub_year }}</td>
    <td>{{ sub.start_date }}</td> 
    <td>{{ sub.end_date }}</td>
    <td>{{ sub.membership_fulldescription }}</td>
    <td>
    {% if sub.has_paid_invoice %}
        Paid invoice
    {% elif sub.has_unpaid_invoice %}
        Unpaid invoice
    {% elif sub.has_items %}
        Uninvoiced item
    {% else %}
        Not billed
    {% endif %} 
    </td>
    <td>
</tr>
{% endfor sub %}
</table>
{% endblock %}