{% extends "members/layout.html" %}
{% load members_extras %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<h2>Subscription list</h2>
<div class="container">
<div class="row"> 
<div class="col-sm-12">
<form role="form" class="form-inline" action="." method="post" id="post-form">
    {% csrf_token %}

    
        <div class="form-group"> 
          <label for="id_membership_year">Year:</label>
          {{ form.membership_year|add_class:"trigger" }}   
        </div>
        <div class="form-group">
          <label for="id_categories">Category:</label>
          {{ form.categories|add_class:"trigger" }}
        </div>         
        <div class="form-group">
          <label for="id_paid">Paid:</label>
          {{ form.paid|add_class:"trigger" }}
        </div>
        <div class="form-group">
          <label for="id_unpaid">Unpaid:</label>
          {{ form.unpaid|add_class:"trigger" }}
        </div>
    <hr />   
</form>
</div>
</div>

<table id="people" class="table table-condensed" >
<thead>
        <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Membership</th>
        <th>Email</th>
        <th>View</th>
    </tr>
</thead>
</table>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
var ajaxUrl = "/sub/list/"
</script>
<script src='{% static 'members/scripts/members.js' %}'></script>
{% endblock %}