{% extends "members/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h3 class="app-title">{{ app_title }}</h3>
  <div class="tile" style="width: 850px">
  {% crispy form %}
  </div>
{% endblock %}
{% block scripts %}
<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
<script type="text/javascript">
  tinymce.init({
    selector: '#id_text',
    height: 300,
    width: 800,
    convert_urls: false,
    browser_spellcheck: true,
    plugins: 'code advlist autolink link image lists charmap print preview',

    toolbar1: 'undo redo | styleselect, formatselect, fontselect, fontsizeselect, mybutton',
    toolbar2: 'bold, italic, underline | alignleft, aligncenter, alignright, alignjustify | cut, copy, paste | bullist, numlist | outdent, indent',
  });
</script>
{% endblock %}