{% extends "members/base.html" %}
{% block content %}
<div class="tile">
<table id="textblocks" class="table table-sm">
<thead>
    <tr>
        <th>Action</th>
        <th>Name</th>
        <th>Type</th>
        <th>Text</th>
    </tr>
</thead>
{% for text in object_list %}
<tr>
    <td><a href="{% url "text-update" text.id %}" class="btn btn-primary btn-sm">Edit</a></td>
    <td>{{ text.name }}</td>
    <td>{{ text.type }}</td>
    <td>{{ text.text|safe }}</td>
</tr>
{% endfor text %}
</table>
<a href="{% url "text-create" %}" class="btn btn-primary">Create text block</a>
</div>
{%  endblock content %}