{% extends "members/layout.html" %}
{% block content %}
<h2>Standard text blocks</h2>

<table id="textblocks" class="table table-condensed">
<thead>
    <tr>
        <th>Action</th>
        <th>Name</th>
        <th>Text</th>
    </tr>
</thead>
{% for text in object_list %}
<tr>
    <td><a href="{% url "text-update" text.id %}" class="btn btn-primary btn-xs">Edit</a></td>
    <td>{{ text.name }}</td>
    <td>{{ text.text|striptags|truncatechars:80 }}</td>
</tr>
{% endfor text %}
</table>
<a href="{% url "text-create" %}" class="btn btn-primary">Create text block</a>

{%  endblock content %}