/* padding after navbar */
body {
    padding-top: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.margin-bg {
  /*background-color: #495057;*/
  background-color: #0e2d26;
}

.content-bg {
  background-color: #ddffee;
}

.logo-strip {
  background-color: white;
  height:85px;
  padding: 0;
}

.logo-content {
  background-color: white;
  height:85px;
  width: 820px;
  margin: auto;
  position: relative;
}

.logo {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 2em;
  font-weight: bold;
}

.logo-orange {
  color: #8b3d00;
}

.logo-green {
  color: #00564f;
 }

.logo-strap {
  font-family: 'Roboto', 'sans-serif';
  color: #6f8f8b;
  position: absolute;
  font-size: 1em;
  font-style: oblique;
  top: 40px;
}

.club-66 {
  height: 66vh;
}

@media only screen and (min-width: 300px) {
  .logo-content {
    width: 300px;
  }
  .logo {
  font-size: 2em;
  }
  .logo-strap {
    font-size: 1em;
    top: 35px;
  }
}

@media only screen and (min-width: 33.9em) {
  .logo-content {
    width: 32em;
  }
  .logo {
  font-size: 2em;
  }
  .logo-strap {
    font-size: 1em;
    top: 40px
  }
}
@media only screen and (min-width: 47.9em) {
  .logo-content {
    width: 45px;
  }
  .logo {
  font-size: 2.3em;
  }
  .logo-strap {
    font-size: 1.1em;
    top: 45px
  }
}
@media only screen and (min-width: 61.9em) {
  .logo-content {
    width: 60em;
  }
  .logo {
  font-size: 2.3em;
  }
  .logo-strap {
    font-size: 1.25em;
    top: 48px
  }
 }
@media only screen and (min-width: 74.9em) {
  .logo-content {
    width: 71em;
  }
  .logo {
    font-size: 2.7em;
  }
  .logo-strap {
    font-size: 1.45em;
    top: 52px
  }
}



.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
}

.flex-grow {
   flex: 1;
}

.shadow {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

@media all and (max-width: 1200px) {
    .display-4{
        font-size: 3em;
    }
    .display-5{
        font-size: 1.75em;
    }
}
@media all and (max-width: 800px) {
    .display-4{
        font-size: 2em;
        }
    .display-5{
        font-size: 1.25em;
    }
    }
@media all and (max-width: 600px) {
    .display-4{
        font-size: 1em;
        }
    .display-5 {
      font-size: .75em;
    }
    }

.header-stripe {
    background-color: #389555;
    background-image: url("Drone1200.jpg");
    line-height: 1.2;
}

.background-container {
  background-color: #1f1520;
}

.header-text {
  color: #f4f7f5;
}

.card {
    /*line-height: 1.5;*/
    border-color: #008080;
    /*border-radius: 1px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-group-custom {
  height: 30px;
  padding: 1px 10px
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

table.dark-header > thead > tr > th{
  background-color: #06857b;
  color: white;
  font-weight: normal;
}



.form-control-label {
    font-weight: bold;
    margin-bottom: 0;
}

/*
Removes white gap between slides
*/
.carousel {
  background:#000;
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  width:100%;
  height:auto;
}

/*
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
  display: block;
  width:100%;
}


.logoPanorama {
    background: url('../images/LogoPanorama.jpg') ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:140px;
}


#CookielawBanner {
    background: #fff;
    padding: 15px 0;
}

#CookielawBanner #CookielawCross {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
}

/* Corrections to bootstrap check boxes and radio fields */
.invalid-feedback {
  display: block;
  font-size: 1em;
  margin-bottom: 0px;
}

.form-check {
  margin-bottom: 0px;
}

.form-check-input{
  margin-right: 5px;
}

.form-check-label{
  font-weight: bold;
}

.col-form-label{
  padding-top: 0;
  padding-bottom: 0;
  font-weight: bold;
}



.centered {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
}

.deepshd {
  color: #e0dfdc;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 1px 1px 0 #2e2e2e, 2px 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828;
}

.asteriskField {
    display: none;
}


span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.input-group span.twitter-typeahead {
  display: block !important;
  height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
  border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead {
  height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
  height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 46px !important;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 24px;
  line-height: 24px;
}
