/* padding after navbar */
body {
    padding-top: 0px;
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
}

.flex-grow {
   flex: 1;
}

.shadow {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

@media all and (max-width: 1200px) { /* screen size until 1200px */
    .display-4{
        font-size: 3em; /* 1.5x default size */
    }
    .display-5{
        font-size: 1.75em; /* 1.5x default size */
    }
}
@media all and (max-width: 800px) { /* screen size until 1000px */
    .display-4{
        font-size: 2em; /* 1.2x default size */
        }
    .display-5{
        font-size: 1.25em; /* 1.5x default size */
    }
    }
@media all and (max-width: 600px) { /* screen size until 500px */
    .display-4{
        font-size: 1em; /* 0.8x default size */
        }
    .display-5 {
      font-size: .75em;
    }/* 1.5x default size */
    }

.header-stripe {
    background-color: #389555;
    background-image: url("Drone1200.jpg");
    line-height: 1.2;
}

.background-container {
  background-color: #1f1520;
}

.header-text {
  color: #f4f7f5;
}

.card {
    /*line-height: 1.5;*/
    border-color: #008080;
    /*border-radius: 1px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*.card-body {*/
    /*background: rgb(195, 224, 186);*/
/*}*/

/*.card-footer {*/
    /*border-top-color: #006600;*/
/*}*/

.form-control-label {
    font-weight: bold;
    margin-bottom: 0px;
}

/*
Removes white gap between slides
*/
.carousel {
  background:#000;
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  width:100%;
  height:auto;
}

/*
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
  display: block;
  width:100%;
}
