 <footer class="mb-0 pt-md-2 bg-success">
  <div class="container text-light">
    <div class="row">
      <div class="col-md-4">
        <p>Coombe Wood Lawn Tennis Club<br/>
           Galsworthy Road <br/>Kingston upon Thames <br/>KT2 7BS
        </p>
      </div>
      <div class="col-md-4">Enquiries: <a href="mailto:info@coomebwoodltc.co.uk"><span class="text-light">info@coombewoodltc.co.uk</span></a><br/>
        Head coach: <a href="mailto:ollie@oltennis.co.uk"><span class="text-light">ollie@oltennis.co.uk</span></a>
      </div>
      <div class="col-md-4">
        <a class="text-light" href="{% url 'privacy-policy' %}">Privacy policy</a>
      </div>
    </div>
    <p class= "text-light float-right">Membership Management System &copy; 2015-2018 ISKT Ltd</p>
  </div>
 </footer>