{% load staticfiles %}
<div class="row"  style="">
  <div class="col-sm-2" style="padding-left:25px; background-color:white">
    <img src="{% static "images/CWLTC logo small.png" %}"/>
  </div>
  <div class="col-sm-8" >
    <h2 class="display-2">Coombe Wood Lawn Tennis Club </h2>
    {%  if site_name %}
      <h4><em>{{ site_name }}</em></h4>
    {%  else %}
      <h4><em>Kingston's premier tennis club</em></h4>
    {% endif %}

  </div>
  <div class="col-sm-2">
    <p>Galsworthy Road<br /> Kingston upon Thames<br/>Surrey<br />KT2 7BS</p>
  </div>
</div>
