<!doctype html>
{% load staticfiles %}
{% load cookielaw_tags %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
{#  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"#}
{#      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto|Montserrat:700" rel="stylesheet">
  <link rel="stylesheet" type="text/css"  href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#006354">
  <meta name="apple-mobile-web-app-title" content="Coombe Wood">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  {% block title %}<title>{{ title }} {{ site_name }}</title> {% endblock %}
  {% block head %}
  {% endblock %}
</head>
<!-- https://www.codeply.com/go/wECEBeWpLO/bootstrap-4-sticky-footer-flexbox -->
<body class="margin-bg mt-0 d-flex flex-column">
  {% block header %}
  {% endblock %}
  {% block navbar %}
  {% endblock %}
  {% cookielaw_banner %}
  {% block content-wide %}
  {% endblock %}
  <div class="container-fluid p-0 margin-bg">
    {% if not no_container %}<div class="container {% if bg_class %}{{ bg_class }}{% else %}content-bg{% endif %} flex-grow" style="min-height: 68vh;">{% endif %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}"{% endif %}>{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
    {% if not no_container %}</div>{% endif %}
  </div>
 <footer class="mb-0 pt-md-2 bg-success">
  <div class="container text-light">
    <div class="row">
      <div class="col-md-4">
        <p>Coombe Wood Lawn Tennis Club<br/>
           Galsworthy Road <br/>Kingston upon Thames <br/>KT2 7BS
        </p>
      </div>
      <div class="col-md-4">Enquiries: <a href="mailto:info@coomebwoodltc.co.uk"><span class="text-light">info@coombewoodltc.co.uk</span></a><br/>
        Head coach: <a href="mailto:ollie@oltennis.co.uk"><span class="text-light">ollie@oltennis.co.uk</span></a>
      </div>
      <div class="col-md-4">
        <a class="text-light" href="{% url 'privacy-policy' %}">Privacy policy</a>
      </div>
    </div>
    <p class= "text-light float-right">Membership Management System &copy; 2015-2018 ISKT Ltd</p>
  </div>
 </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
  {% block typeahead %}
  {% endblock %}
  {% block scripts %}
  {% endblock %}
</body>
</html>

