<!doctype html>
{% load staticfiles %}
{% load cookielaw_tags %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
{#  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"#}
{#      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
  <link href="https://fonts.googleapis.com/css?family=Roboto|Montserrat:700" rel="stylesheet">
  <link rel="stylesheet" type="text/css"  href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap-datetimepicker.css' %}">

  {% block title %}<title>{{ title }} {{ site_name }}</title> {% endblock %}
  {% block head %}
  {% endblock %}
</head>
<!-- https://www.codeply.com/go/wECEBeWpLO/bootstrap-4-sticky-footer-flexbox -->
<body class="margin-bg mt-0 d-flex flex-column">
  {% block header %}
  {% endblock %}
  {% block navbar %}
  {% endblock %}
  {% block content-wide %}
  {% endblock %}
  <div class="container-fluid p-0 margin-bg">
    {% if not no_container %}<div class="container {% if bg_class %}{{ bg_class }}{% else %}content-bg{% endif %} flex-grow" style="min-height: 68vh;">{% endif %}
    {% cookielaw_banner %}
    {% block content %}
    {% endblock %}
    {% if not no_container %}</div>{% endif %}
  </div>
 <footer class="mb-0 pt-md-2 bg-primary">
  <div class="container text-info">
    <div class="row">
      <div class="col">
        <p>Coombe Wood Lawn Tennis Club<br/>
           Galsworthy Road <br/>Kingston upon Thames <br/>KT2 7BS
        </p>
      </div>
      <div class="col">Enquiries: <a href="mailto:info@coomebwoodltc.co.uk"><span class="text-info">info@coomebwoodltc.co.uk</span></a><br/>
        Head coach: <a href="mailto:ollie@oltennis.co.uk"><span class="text-info">ollie@oltennis.co.uk</span></a>
      </div>
      <div class="col">
        <a class="text-info" href="{% url 'privacy-policy' %}">Privacy policy</a>
      </div>
    </div>
    <p class= "text-muted">Membership Management System &copy; 2015-2018 ISKT Ltd</p>
  </div>
 </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
  <script src="{% static 'js/moment.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

  {% block typeahead %}
  {% endblock %}
  {% block scripts %}
  {% endblock %}
</body>
</html>

