{% extends 'club/base.html' %}
{%  block content %}
<h4 class="mt-2 pt-2">Statement for {{ year }}</h4>
{% load members_extras %}
{% if statement %}
  <form method="post"> {% csrf_token %}
  <table class="table table-sm table-responsive table-borderless dark-header">
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Type</th>
      <th></th>
      <th>Invoice No.</th>
      <th>Detail</th>
      <th class="text-right">Credit</th>
      <th class="text-right">Debit</th>
      <th class="text-right">Balance</th>
    </tr>
  </thead>
  {% for line in statement %}
    {% with line.0 as entry %}
      {% with entry|classname as modelclass %}
        {% if modelclass == 'Invoice' %}
          <tr>
            <td><input type="submit" name="inv-{{ entry.id }}" class="btn btn-success btn-sm" value="View">
            <td>{{ entry.update_date|date }}</td>
            <td>Invoice</td>
            <td></td>
            <td>{{ entry.id }}</td>
            <td>{{ invoice_states|get_option:entry.state }}</td>
            <td></td>
            <td class="text-right">£{{ entry.total }}</td>
            <td class="text-right">£{{ line.1 }}</td>
          </tr>
        {% elif modelclass == 'Payment' %}
          <tr>
            <td></td>
            <td>{{ entry.update_date|date }}</td>
            <td>Payment</td>
            <td>{{ payment_types|get_option:entry.type }}</td>
            <td>{{ entry.invoice.id }}</td>
            <td>{{ payment_states|get_option:entry.state }}</td>
            <td class="text-right">£{{ entry.amount }}</td>
            <td></td>
            <td class="text-right">£{{ line.1 }}</td>
          </tr>
        {% elif modelclass == 'CreditNote' %}
          <tr>
            <td><a href="{% url "creditnote-update" entry.id %}" class="btn btn-warning btn-sm">View</a></td>
            <td>{{ entry.update_date|date }}</td>
            <td>Credit note</td>
            <td>{{ entry.id }}</td>
            <td>{{ entry.invoice.id }}</td>
            <td>{{ entry.reference }}</td>
            <td class="text-right">£{{ entry.amount }}</td>
            <td></td>
            <td class="text-right">£{{ line.1 }}</td>
          </tr>
        {% endif %}
      {% endwith %}
    {% endwith %}
  {% endfor %}
  </table>
  </form>
  <br>
  <p>Note: GoCardless payments take several days to complete. Invoices with pending payments are shown as unpaid</p>
{% else %}
 <br/><p>No entries for this year</p>
{% endif %}
 <a href="{% url 'club_account_teas' pk=person.id %}">Teas: </a> {{ teas_bill }}<br>
  <a href="{% url 'club_account_bar' pk=person.id %}">  Bar: </a>{{ bar_bill }}<br>
  Visitors: {{ visitors_bill }}<br>
{% endblock %}