{% extends "club/base.html" %}
{% load static %}
{% load crispy_forms_tags %} 
{% block content %}
  <h3 {% if class %}class="text-center"{% endif %}>{{ title }}</h3>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <form method="POST" novalidate="">{% csrf_token %}
        <div class="card my-2">
          {% if form_title %}
            <h4 class="card-header card-title bg-success text-white mb-3" >{{ form_title }}</h4>
          {% endif %}

          <div class="card-body pt-0">
            {% if messages %}
              {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}"{% endif %}>{{ message }}</div>
              {% endfor %}
            {% endif %}
            {% if info %}
              <p>{{ info|linebreaks }}</p>
            {%  endif %}
            {%  if form.errors %}
              <div class="text-danger">
                <strong>Please correct the errors in red below:</strong>
              </div>
            {% endif %}
            {% crispy form %}
            {% if footnote %} <p class="text-muted">{{ footnote|linebreaks }}{% endif %}
          </div>
          <div class="card-footer">
            {% for button in buttons %}
              <input type="submit" name="{{ button.name }}" class="{{ button.css_class }} mb-1"
                     id="id-{{ button.name }}" value="{{ button.value }}">
            {% endfor %}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
{% endblock %}