{% extends "club/base.html" %}
{% load staticfiles %}
{% block content-wide %}
<div class="container bg-light px-0">
  <img src="{% static 'images/panorama.jpg' %}" class="img-fluid d-block">
</div>
 {% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-9">
      <h1></h1>
      <h1 class="text-center"><strong>Welcome</strong><br>
        <small>to your new club web site</small></h1>
      <p>
This is the first incarnation of a new site for club members. Right now it has limited content, but over the next few weeks
      and months we will be expanding the range of features and information that we publish
        making the site an indispensible part of club life.</p>
      <h5 class="logo-orange bold"><strong>Live on the site now</strong></h5>
      <p> If you opted in to the Wimbledon ballot earlier in the year but can't attend the event on 21st April you
      can <a href="{% url 'wimbledon_ballot' %}">indicate your ticket preferences.</a><p>
      <p>You have unlimited access to the current and back issues of <a href="{% url 'club_magazine' %}">UK Tennis magazine.</a>
<p>
Behind the scenes, the committee has been hard at work revising the club's policies to conform to the LTA's best practice.
      These documents are now all online.</p>
      <p>With new General Data Protection Regulations (GDPR) coming into force in May, we have given you the ability to directly maintain
        the information that we hold about you and your family through the Account link on the top left of every page.
      </p>
      <h5 class="logo-orange bold"><strong>Coming soon</strong></h5>
      <p> From Monday 16 April you will be able to sign up for the annual club tournament that kicks off in May.</p>
      <p>You will also be able to sign up for the Eric Smith memorial charity tournament that will be held on 29 April.
      </p>
      <p> Once we have issued the subscription renewals you will be able to view your account and pay your subs online.<p>
    </div>
    <div class="col-md-3">
      <div class="row bg-white">
        <div class="col-12 border border-top-0 border-info py-1">
          <a href={% url 'wimbledon_ballot' %}>
          <img src="{% static 'club/images/ballot2018.png' %}" class="img-fluid">
          </a>
          <br>
          <h5 class="text-center pt-2">5pm Saturday 21 April</h5>
          <p>If you have opted-in you can indicate your preferred days.</p>
          <a class="btn btn-sm btn-success" href={% url 'wimbledon_ballot' %}>Full details</a>
        </div>
        <div class="col-12 border border-top-0 border-info py-1">
          <img src="{% static 'club/images/EricSmith.jpg' %}" class="img-fluid">
          <h6 class="text-center pt-1">Eric Smith Memorial Tournament<br>
          Sunday 29 April</h6>
        </div>
        <div class="col-12 border border-top-0 border-info py-1">
          <img src="{% static 'club/images/openday.png' %}" class="img-fluid">
          <h5 class="text-center pt-1">Club Open Day<br>
          Saturday 12 May</h5>
          <p>Invite your friends!</p>
        </div>
        <div class="col-12 border border-top-0 border-info py-1">
          <img src="{% static 'club/images/trophies.jpg' %}" class="img-fluid">
          <h6 class="text-center pt1">Club Tournament</h6>
          <p>Entry forms will be posted here soon.</p>
        </div>

      </div>
    </div>
  </div>

{% endblock %}