{% extends "club/base.html" %}
{% load staticfiles %}
{% block content-wide %}
<div class="container bg-light px-0">
  <img src="{% static 'images/panorama.jpg' %}" class="img-fluid d-block">

{#      <img src="{% static 'club/images/EricAmerican.jpg' %}" class="img-fluid d-block">#}
 {% endblock %}
{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="logo logo-green text-center small pt-4">Welcome<span class="logo-orange small"> to the Members' Website</span></div>
    </div>
    <div class="col-md-9">
      <h2>Club News</h2>
      <p>

      <h4 class="logo-orange">New online services</h4>
      We have upgraded the internet service in the clubhouse, significantly increasing the speed and range of the wi-fi.
      There is now an iPad mounted on the wall to the right of the kitchen hatch that offers 3 new online services:
      <div class="pt-2 ml-4">
        <h5>Tea and coffee sales</h5>
        <p>You can now charge teas, coffee and cakes to your club account in the same way as bar purchases. The old teas
          book is no longer necessary.<p>
        <h5>Visitors book</h5>
        <p>The paper-based visitors book is now obsolete. Adults and juniors 13 and over should now record their visitors
          online through the iPad.</p>
        <h5>Members database search</h5>
        <p>You can now search the database of adult members to find a phone number or email address. Only adults who agreed
          to share their details are shown.</p>
        <p>You can also search the database through the Search menu on this website.</p>
      </div>
      <h4 class="logo-orange">Members' Handbook</h4>
      <p>We have published a new <a href="/static/club/documents/Members handbook.pdf">handbook for members</a>
        that details all the information that you need to get the best out of the club.
        It is particularly relevant to new members, but established members will also benefit from reading it. Parents of juniors should
        also read the separate document, Information for Juniors.
        <p>
    </div>

    <div class="col-md-3">
      <div class="row bg-white">
        <div class="col-12 mt-5 py-1">
          <a href="/events/list">
            <img src="{% static 'club/images/summer_party_small.PNG' %}" class="img-fluid" >
        </a>
          <br>
        </div>
      </div>
    </div>
  </div>

{% endblock %}