{% extends "club/base.html" %}
{% load staticfiles %}
{% block content-wide %}
<div class="container bg-light px-0">
  <img src="{% static 'images/panorama.jpg' %}" class="img-fluid d-block">
</div>
 {% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-9">
      <h1></h1>
      <h1 class="text-center py-4"><strong>Welcome</strong><br>
        <small>to your new club web site</small></h1>
      <p>
      <img src="{% static 'club/images/EricAmerican.jpg' %}" class="img-fluid">
      <h4><strong>Eric Smith Memorial Americal Tournament</strong></h4>
      <p>Despite rather poor weather, 28 members competed in the American tournament in memory of Eric Smith, who was chairman of the club for many years.
      We raised over £600 for the PSPA (Progressive Supranuclear Palsy) charity.</p>
      <h4><strong>Summer Tournament</strong></h4>
      <p> The <a href="/static/club/documents/Draw.pdf">draw</a> has been published and you can now <a href="{% url 'events:tournament_active' %}">book courts online.</a><p>
      <h4><b>Other content</b></h4>
      <p>You have unlimited access to the current and back issues of <a href="{% url 'club_magazine' %}">UK Tennis magazine.</a>
      <p> We have a <a href="/static/club/documents/Surrey Tennis Discount Ticket Offers.pdf">special offer for tickets</a> to a competition at Roehampton, just before Wimbledon.</p>
<p>
Behind the scenes, the committee has been hard at work revising the club's policies to conform to the LTA's best practice.
  These documents are now all <a href="{% url 'club_policies' %}">online</a>.</p>
      <p>With new General Data Protection Regulations (GDPR) coming into force in May, we have updated our
        <a href="{% url 'privacy-policy' %}">Privacy policy</a> and given you the ability to directly maintain
        the information that we hold about you and your family through the Account menu on the top right of every page.
      </p>

    </div>
    <div class="col-md-3">
      <div class="row bg-white">
{#        <div class="col-12 border border-top-0 border-info py-1">#}
{#          <a href={% url 'wimbledon_ballot' %}>#}
{#          <img src="{% static 'club/images/ballot2018.png' %}" class="img-fluid">#}
{#          </a>#}
{#          <br>#}
{#          <h5 class="text-center pt-2">5pm Saturday 21 April</h5>#}
{#          <p>If you have opted-in you can indicate your preferred days.</p>#}
{#          <a class="btn btn-sm btn-success" href={% url 'wimbledon_ballot' %}>Full details</a>#}
{#        </div>#}
        <div class="col-12 border border-top-0 border-info py-1">
          <img src="{% static 'club/images/EricSmith.jpg' %}" class="img-fluid">
          <h6 class="text-center pt-1">Eric Smith Memorial Tournament<br>
          We raised over £600!</h6>
        </div>
{#        <div class="col-12 border border-top-0 border-info py-1">#}
{#          <img src="{% static 'club/images/openday.png' %}" class="img-fluid">#}
{#          <h5 class="text-center pt-1">Club Open Day<br>#}
{#          Saturday 12 May</h5>#}
{#          <p>Invite your friends!</p>#}
{#        </div>#}
        <div class="col-12 border border-top-0 border-info py-1">
          <a href="{% url 'events:tournament_active' %}">
            <img src="{% static 'club/images/trophies.jpg' %}" class="img-fluid">
            <h5 class="text-center pt1">Summer Tournament<br>Book courts online</h5>
          </a>
        </div>

      </div>
    </div>
  </div>

{% endblock %}